
<div class="table-container" *ngIf="!isLoading || !isDesktopView">
    <div class="table-wrapper">
      <table class="appointment-table" *ngIf="!isLoading">
        <thead>
          <tr>
            <th>No</th>
            <th>PRN</th>
            <th (click)="sortBy('patientName')" style="cursor: pointer;">
              Patient Name
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th (click)="sortBy('date')">
              Date
              <span *ngIf="sortColumn === 'date' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'date' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th>Time</th>
  
            <th><span class="action" ></span>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredAppointments.length === 0">
            <td colspan="11" class="no-records-message">
              No records to display
            </td>
          </tr>
          <tr *ngFor="let appointment of getPaginatedAppointments(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{appointment.prnNumber? appointment.prnNumber: '-'}}</td>
            <td>{{ appointment.patientName }}</td>
            <td>{{ appointment.date | date:'dd-MM-yyyy' }}</td>
            <td>
               <span class="status-badge">{{ appointment.time }}</span>
            </td>
  
            <td class="button">
              <button class="start" [disabled]="true">
                <img class="image" src="/start.svg">Start 
              </button>
              <button class="finish" [disabled]="true">
                <img class="image" src="/finish.svg">Finish
              </button>
              <button class="postPond" [disabled]="true">
                <img class="image" src="/pause.svg">PostPoned
              </button>
              <button class="estimation" [disabled]="true">
                <img class="image" src="/est.svg">P. Counselling
              </button>
              <button class="transfer" [disabled]="true">
                <img class="image" src="/transfer.svg">Transfer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mobile-appointments" *ngIf="!isDesktopView">
      <div *ngFor="let appointment of filteredAppointments" class="appointment-card">
        <div class="card-header">
          <div class="patient-info">
            <div>
              <img src="admin-icons/admin-icon.jpg" class="profile-pic">
            </div>
            <div class="patient-details">
              <div>
                <h3>{{ appointment.patientName }}</h3>
              <p class="patient">Patient</p>
              </div>
              <div>
                <p class="patient">{{appointment.prnNumber}}</p>
              </div>
              
            </div>
          </div>
         <div class="calendar-div">
          <p class="date-time">
            <img src="/w-calendar.svg" alt="calendar" class="icon"> {{ appointment.date | date:'dd-MM-yyyy' }} 
          </p>
          <p class="date-time">
            <img src="/w-time.svg" alt="calendar" class="icon"> {{ appointment.time }}
          </p>
         </div>
        </div>
        <div class="card-actions">
  
            <button class="start" [disabled]="true">
              <img class="image" src="/start.svg">Start 
            </button>
            <button class="finish" [disabled]="true">
              <img class="image" src="/finish.svg">Finish
            </button>
            <button class="postPond" [disabled]="true">
              <img class="image" src="/pause.svg">PostPoned
            </button>
            <button class="estimation" [disabled]="true">
              <img class="image" src="/est.svg">P. Counselling
            </button>
            <button class="transfer" [disabled]="true">
              <img class="image" src="/transfer.svg">Transfer
            </button>
  
        </div>
      </div>
      <div class="pagination">
        <button class="pagination-btn prev" (click)="prevPage()" [disabled]="currentPage === 1 || totalPages === 0">←</button>
        <button class="pagination-btn next" (click)="nextPage()" [disabled]="currentPage >= totalPages || totalPages === 0">→</button>
        <div class="page-info">
          Page
          <input type="number" [(ngModel)]="currentPage" min="1" [max]="totalPages" class="page-input"
            (change)="onPageChange()">
          of {{ totalPages }}
        </div>
      </div>
    </div>
  
    <!-- Pagination Controls -->
    <div class="pagination">
      <button class="pagination-btn prev" (click)="prevPage()" [disabled]="currentPage === 1 || totalPages === 0">←</button>
      <button class="pagination-btn next" (click)="nextPage()" [disabled]="currentPage === totalPages || totalPages === 0">→</button>
      <div class="page-info">
        Page
        <input type="number" [(ngModel)]="currentPage" min="1" [max]="totalPages" class="page-input"
          (change)="onPageChange()">
        of {{ totalPages }}
      </div>
    </div>
  </div>
    <p-toast></p-toast>
    <!-- <app-appointment-form 
      *ngIf="showAppointmentForm" 
      [appointment]="selectedAppointment" 
      (close)="closeAppointmentForm()" 
      (submit)="submitAppointment(selectedAppointment, $event.status, $event.requestVia)">
    </app-appointment-form> -->
    
    <div class="loader" *ngIf="isLoading"></div>