/* General container styling */
.form-container {
  max-width: 800px;
  margin: 20px;
  padding-left: 90px;
  padding-bottom: 30px;
}

.form-title {
  color: #271e4a;
  font-family: Kanit;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 44px;
}

.form-input {
  padding: 10px;
  color: #000;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #b4b6ba;
  border-radius: 4px;
  background: #f0f3ff;
}

.form-input::placeholder {
  color: rgba(123, 123, 123, 0.4);
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form-label {
  position: absolute;
  top: 10px;
  left: 12px;
  color: rgba(123, 123, 123, 0.6);
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: -12px;
  left: 8px;
  font-size: 0.8rem;
  color: #007bff;
  padding: 0 5px;
  background: #f0f3ff;
}
.form-input:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.4);
  outline: none;
}
.full-width {
  width: 696px;
}

.form-input.ng-invalid.ng-touched {
  border: 1px solid #ff4d4d; /* Red border for invalid inputs */
  box-shadow: 0 0 3px rgba(255, 77, 77, 0.4);
}

.form-input.ng-invalid.ng-touched + .form-label {
  color: #ff4d4d; /* Red label when invalid */
}

/* Error Message Styling */
.error-message {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 5px;
}

.half-width {
  width: 48%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Kanit, sans-serif;
  color: #333;
}

.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 5px;
  }
  .label{
    font-family: Kanit;
    font-size: 14px;
    color: #271e4a;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    font-family: Kanit;
    font-size: 14px;
    color: #271e4a;
    font-weight: 500;
    cursor: pointer;
  }
  
  .radio-group input[type='radio'] {
    margin-right: 5px;
    cursor: pointer;
  }
.btn {
  display: flex;
  width: 200px;
  height: 44px;
  padding: 7px 15px 7px 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
}

.btn-submit {
  border-radius: 4px;
  background: #169458;
  color: #fff;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-submit:hover {
  background-color: #218838;
}

.btn-cancel {
  display: flex;
  width: 180px;
  height: 44px;
  padding: 7px 59px 7px 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #7b7b7b;
  color: #7B7B7B;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: transparent;
}

.btn-cancel:hover {
  background-color: #e2e6ea;
}
.btn-submit:disabled {
    background-color: #cccccc; /* Light gray background */
    color: #666666; /* Darker gray text */
    cursor: not-allowed; /* Show "not-allowed" cursor */
    box-shadow: none; /* Remove shadow */
    opacity: 0.6; /* Reduce visibility */
  }


  
  .custom-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Box */
  .custom-dialog {
    border-radius: 8px;
background: linear-gradient(108deg, #DC3A35 0%, #A10500 100%);
padding: 20px;
padding-left: 5px;
padding-top: 5px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: right;
    max-width: 600px;
    width: 90%;
    color: white;

  }
  
  /* Content Layout */
  .dialog-content {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  /* Icon Container */
  .icon-container {
    flex-shrink: 0;
  }
  
  .dialog-icon {
    width: 167px;
  }
  
  /* Text Styling */
  
  h3 {
    color: #FFF;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
  }
  
  .dialog-text p {
    margin: 10px 0 0;
    color: #FFF;
    text-align: right;
    font-family: Kanit;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  /* Buttons Container */
  .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Primary Button */
  .btn-primary {
    border-radius: 8px;
background: #0E2970;
    color: #FFF;
    font-family: Kanit;
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    max-width: 100px;
    text-align: center;
  }
  
  .btn-primary:hover {
    background-color: #002244;
  }
  
  /* Secondary Button */
  .cancel {
    border-radius: 8px;
background: #FFF;
    color: #000;
    text-align: center;
    font-family: Kanit;
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #ccc;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    max-width: 100px;
    text-align: center;
  }
  
  .btn-secondary:hover {
    background-color: #f4f4f4;
  }
  
  .prn-suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc; /* Border to define dropdown */
    background-color: #ffffff; /* White background to resemble a dropdown */
    max-height: 200px; /* Restrict height for better display */
    overflow-y: auto; /* Allow scrolling if suggestions overflow */
    position: absolute; /* Position it absolutely relative to the form group */
    width: 53%;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    top: calc(100% + -2px);
    border-radius: 4px;
     left: 0px;
  }
  
  .prn-suggestions li {
    padding: 10px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size for readability */
    color: #333; /* Text color */
  }
  
  .prn-suggestions li:hover {
    background-color: #f0f0f0; /* Light grey background on hover for better visibility */
    color: #005d8c; /* Optional: Highlight text color on hover */
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  .spinner {
    position: relative;
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }
  .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  .loading-div{
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .loader {
    position: absolute; /* Ensure it overlays the content */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the loader's dimensions */
    font-size: 17px;
    font-family: monospace;
    line-height: 1.4;
    font-weight: bold;
    --c: no-repeat linear-gradient(#000 0 0); 
    background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
    background-size: calc(1ch + 1px) 100%;
    border-bottom: 10px solid #0000; 
    animation: l8-0 3s infinite linear;
    clip-path: inset(-20px 0);
    z-index: 999; /* Ensure it appears above other elements */
  }
  
  .loader::before {
    content:"Loading";
  }
  .loader::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 14px;
    background: #25adda;
    left: -10px;
    bottom: 100%;
    animation: l8-1 3s infinite linear;
  }
  @keyframes l8-0{
     0%,
     12.5% {background-position: calc(0*100%/6) 0   ,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     25%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     37.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     50%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     62.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     75%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6)    0,calc(6*100%/6) 0}
     87.4% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 0}
     100%  {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 40px}
  }
  @keyframes l8-1{
    100% {left:115%}
  }
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .half-width {
    width: 100%;
  }
}
