.root-container{
    padding: 1% 3%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* gap: 30px; */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: ; */
}

.heading{
    color: #000;
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.viewmore{
    color: #6F46C1;
    font-family: Kanit;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.legend_items{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.chart_legend{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart{
    width: 80%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legend{
    width: 20%;
}

.info svg{
    width: 18px;
    height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 0%; /* Position above the element */
  top: 40px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  background-color: #7B7B7B;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  right: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.info{
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: -15px;
}

.loading{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hidden{
    visibility: hidden;
}