<div class="dropdown-container">
    <div class="dropdown">
      <select id="department" class="custom-select" [(ngModel)]="selectedDepartment">
        <option value="" disabled selected>Department</option>
        <option *ngFor="let department of departments" [value]="department.name">
          {{ department.name }}
        </option>
      </select>
      <img src="/icons/dropdown-arrow.png" class="calendar-icon">
    </div>
  
    <div class="dropdown">
      <select id="doctor" class="custom-select" [(ngModel)]="selectedDoctor">
        <option value="" disabled selected>Doctor Name</option>
        <option *ngFor="let doctor of getDoctorsForSelectedDepartment()" [value]="doctor.name">
          {{ doctor.name }}
        </option>
      </select>
      <img src="/icons/dropdown-arrow.png" class="calendar-icon">
    </div>
    <div>
      <img (click)="reset()" class="delete" src="/icons/delete-1.png">
    </div>
  
  </div>

  <div  *ngFor="let department of getFilteredDoctors()" class="department-container">
    <h2 class="department">{{ department.name }}</h2>
    <div class="doctor-cards-container">
      <div class="doctor-card" *ngFor="let doctor of department.doctors">
        <img src="/male-doctor.png" class="doctor-avatar" alt="Doctor Avatar">
        <div class="doctor-info">
          <h3 class="doctor-name">{{ doctor.name }}</h3>
          <p class="doctor-specialty">{{ department.name }}</p>
          <p class="doctor-availability">Availability</p>
          <p class="availability-time">{{ doctor.availableFrom }}</p>
          <button class="view-more-button" (click)="editProfile(doctor)">
            <img src="/icons/edit.svg" alt="Edit Icon" class="button-icon"> Edit Profile
          </button>
          <button class="unavailable-button" (click)="openUnavailableModal(doctor)">Unavailable</button>
        </div>
      </div>
    </div>
  </div>
  

  <div *ngIf="isEditMode" class="edit-form-container">
    <app-doctor-form  *ngIf="selectedEditDoctor" [doctor]="selectedEditDoctor" [isEditMode]="isEditMode" (save)="onSaveDoctor($event)" (cancel)="cancelEdit()"></app-doctor-form>
  </div>
  <div *ngIf="showUnavailableModal" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Select Unavailable Dates for {{ selectedEditDoctor?.name }}</h2>
        <span class="close-button" (click)="closeUnavailableModal()">&times;</span>
      </div>
      <div class="modal-content">
        <label for="unavailableDates">Choose Unavailable Dates:</label>
        <input type="date" id="unavailableDates" (change)="addUnavailableDate($event)" />
        <div *ngIf="selectedUnavailableDates.length > 0" class="selected-dates">
          <h4>Unavailable Dates:</h4>
          <ul>
            <li *ngFor="let date of selectedUnavailableDates">{{ date }}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button (click)="saveUnavailableDates()" class="btn btn-primary">Save</button>
          <button (click)="closeUnavailableModal()" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  