<div class="dropdown-container">
    <div class="dropdown">
      <select id="department" class="custom-select" [(ngModel)]="selectedDepartment">
        <option value="" disabled selected>Department</option>
        <option *ngFor="let department of departments" [value]="department.name">
          {{ department.name }}
        </option>
      </select>
      <i class="fa-solid fa-angle-down calendar-icon"></i>
    </div>
  
    <div class="dropdown">
      <select id="doctor" class="custom-select" [(ngModel)]="selectedDoctor">
        <option value="" disabled selected>Doctor Name</option>
        <option *ngFor="let doctor of getDoctorsForSelectedDepartment()" [value]="doctor.name">
          {{ doctor.name }}
        </option>
      </select>
      <i class="fa-solid fa-angle-down calendar-icon"></i>
    </div>
    <div>
      <svg (click)="reset()" class="delete" xmlns="http://www.w3.org/2000/svg" width="3.5em" height="3.5em" viewBox="0 0 24 24">
        <path fill="#fff" d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-7 11q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17M7 6v13z" />
      </svg>
    </div>
  
  </div>

  <div  *ngFor="let department of getFilteredDoctors()" class="department-container">
    <h2 class="department" *ngIf="!isLoading">{{ department.name }}</h2>
    <div class="doctor-cards-container" *ngIf="!isLoading">
      <div class="doctor-card" *ngFor="let doctor of department.doctors">
        <img src="/icons/male-doctor.svg" class="doctor-avatar" alt="Doctor Avatar">
        <div class="doctor-info">
          <h3 class="doctor-name">{{ doctor.name }}</h3>
          <!-- <p class="doctor-specialty">{{ department.name }}</p> -->
          <p class="doctor-availability">Availability</p>
          <p class="availability-time">{{ doctor.availableFrom }}</p>
          <button class="view-more-button" (click)="editProfile(doctor)">
            <img src="/icons/edit.svg" alt="Edit Icon"  class="button-icon"> Edit Profile
          </button>
          <!-- <button id="doctor-btn-{{ doctor.name }}" (click)="click()">Click Me</button> -->
          <button class="unavailable-button" (click)="openUnavailableModal(doctor)">Unavailable</button>
        </div>
           <!-- Delete Icon with click event to delete the doctor -->
      <img src="doc-delete.svg" class="doc-delete" (click)="deleteDoctor(doctor)" alt="Delete Icon">
      </div>
    </div>
  </div>
  

  <div *ngIf="isEditMode" class="edit-form-container">
    <app-doctor-form  *ngIf="selectedEditDoctor" [doctor]="selectedEditDoctor" [isEditMode]="isEditMode" (save)="onSaveDoctor($event)" (cancel)="cancelEdit()"></app-doctor-form>
  </div>
  <div *ngIf="showUnavailableModal" class="modal-backdrop">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Select Unavailable Dates for {{ selectedEditDoctor?.name }}</h2>
        <button (click)="closeUnavailableModal()" class="close-button">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="unavailabilityForm">
          <div class="form-group-inline">
            <div class="form-group">
              <label for="startDate">Starting Date:</label>
              <input type="date" id="startDate" formControlName="startDate" />
 
            </div>
            <div class="form-group">
              <label for="endDate">Ending Date:</label>
              <input type="date" id="endDate" formControlName="endDate" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="onUpdate()" class="update-button">Update</button>
        <button (click)="markAsAvailable()" class="mark-available-button">Mark as Available</button>
        <!-- <button (click)="closeUnavailableModal()" class="close-button">Close</button> -->
      </div>
    </div>
  </div>
  <!-- Delete Confirmation Dialog -->
<div class="overlay" *ngIf="showDeleteConfirmDialog">
  <div class="dialog-container">
      <div class="dialog-header">
          <img src="/danger.png" alt="Warning Icon" class="warning-icon">
      </div>
      <div class="dialog-body">
          <div class="dialog-title">Are You Sure!</div>
          <div class="dialog-message">
              Do you want to delete {{ doctorToDelete?.name }}? This action cannot be undone.
          </div>
          <div class="dialog-actions">
              <button class="delete-button" (click)="confirmDelete()">Yes, Delete it!</button>
              <button class="cancel-button" (click)="closeDeleteDialog()">Cancel</button>
          </div>
      </div>
  </div>
  <p-toast></p-toast>
</div>
<p-toast></p-toast>
  <div class="loader" *ngIf="isLoading"></div>
  