<div class="loading" *ngIf="isLoading">
    <app-loading />
</div>

<div class="rootcontainer" [ngClass]="{hidden : isLoading}">
    <div class="dashboard_header">
        <div class="dashboard" [ngClass]="{hide : !isCurrentDate}">Dashboard</div>
    </div>

    <div class="dashboard_components">
        <!-- today analytics -->
        <div [ngClass]="{hide : !isCurrentDate}">
            <app-today-analytics />
        </div>

        <!-- dashboard filter -->
        <div class="dashboard_header" style="margin-top: 40px;">
            <div class="Yesterday" *ngIf="isCurrentDate">-------Previous-------</div>
            <div class="dashboard" *ngIf="!isCurrentDate">Dashboard</div>
            <div class="filters">

                <!-- <select (change)="departmentOnchange($event)">
                    <option class="dummy" value="all" disabled selected hidden>Choose the Department</option>
                    <option value="all">All</option>
                    <option *ngFor="let dept of department" [value]="dept.id">{{dept.name}}</option>
                </select>

                <select (change)="doctorOnchange($event)">
                    <option class="dummy" value="all" disabled selected hidden>Choose the Doctor</option>
                    <option value="all">All</option>
                    <option *ngFor="let doc of doctors" [value]="doc.id">{{doc.name}}</option>
                </select> -->

                <div class="calendar">
                    <p-calendar styleClass="custom-calendar" [(ngModel)]="selectedDateRange"
                        (ngModelChange)="dateOnChange($event)" placeholder="Please Select Date Range"
                        dateFormat="dd-mm-yy" styleClass="custom-calendar" selectionMode="range"
                        (ngModelChange)="selectedDateRange">
                        <ng-template pTemplate="date" let-date>
                            <span>
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </p-calendar>
                    <i class="fa-solid fa-calendar-days"></i>
                </div>

                <div class="prev_next">
                    <div class="button pointer" (click)="decrementDate()" matTooltip="Prev" matTooltipPosition="above">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div class="datebox">
                        <span *ngIf="Array.isArray(currentDate)">
                          {{currentDate[0] | date:'dd-MM-yyyy'}} - {{currentDate[1] | date:'dd-MM-yyyy'}}
                        </span>
                        <span *ngIf="!Array.isArray(currentDate)">
                          {{currentDate | date:'dd-MM-yyyy'}}
                        </span>
                      </div>
                    <div class="button pointer" (click)="incrementDate()" matTooltip="Next" matTooltipPosition="above">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>

                <div class="prev_next">
                    <div class="button " (click)="refreshButton()" matTooltip="refresh" matTooltipPosition="above"><i
                            class="fa-solid fa-arrows-rotate"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="note">
        (Note : The graphics below are referring to past 7 days of data except doctor login activity.)
    </div>
    <!-- row 1 -->
    <div class="flex container_margin">
        <!-- opd request via -->
        <div class="opd_request_via bg_color">
            <app-opd-request [doctorId]="selectedDoctor" [date]="selectedDate" (reportData)="receiveReportData($event)"
                (reportsColumn)="receiveReportColumn($event)" (reportView)="reportView($event)"
                (blockFilters)="blockFilters($event)"
                (reportName)="importReportName($event)" />
        </div>

        <!-- OPD Time Analysis -->
        <div class="time_wise_opd bg_color">
            <app-opd-time-wise (reportData)="receiveReportData($event)" (reportsColumn)="receiveReportColumn($event)"
                (reportView)="reportView($event)" [selectedDate]="selectedDate"
                [selectedDoctor]="selectedDoctor"
                (blockFilters)="blockFilters($event)" (reportName)="importReportName($event)" />
        </div>


    </div>
    <!-- row 2 -->
    <div class="flex container_margin">

        <!-- opd overview -->
        <div class="opd_datewise bg_color">
            <app-opd-overview [doctorId]="selectedDoctor" [selectedDate]="selectedDate"
                (reportData)="receiveReportData($event)" (reportsColumn)="receiveReportColumn($event)"
                (reportView)="reportView($event)"                 (reportDoctorId)="reportDoctor($event)" (blockFilters)="blockFilters($event)"
                (reportName)="importReportName($event)" [importedRawData] = "allAppointmentRawData" />
        </div>

        <!-- opd type -->
        <div class="opd_type bg_color">
            <app-opd-type [doctorId]="selectedDoctor" [selectedDate]="selectedDate"
                (reportData)="receiveReportData($event)" (reportsColumn)="receiveReportColumn($event)"
                (reportView)="reportView($event)"                 (blockFilters)="blockFilters($event)" (reportName)="importReportName($event)" />
        </div>
    </div>

    <!-- row 3 -->
    <div class="flex container_margin">
        <!-- opd to estimation -->
        <div class="opd_estimations bg_color">
            <app-opd-estimation-pie (reportData)="receiveReportData($event)"
                (reportsColumn)="receiveReportColumn($event)"                 [selectedDate]="selectedDate" [selectedDoctor]="selectedDoctor"
                (sendReportData)="importEstiData($event)" (viewReportSection)="displayEstiReport($event)" />
        </div>

        <!-- estimation overview -->
        <div class="estimation bg_color">
            <app-estimation-bar (reportData)="receiveReportData($event)" (reportsColumn)="receiveReportColumn($event)"
                (reportView)="reportView($event)" [selectedDate]="selectedDate"
                (blockFilters)="blockFilters($event)" (reportName)="importReportName($event)"  />
        </div>

    </div>

    <!-- row 4 -->
    <div class="flex container_margin" style="padding-bottom: 10px;">

        <!-- waiting time -->
        <div class="waiting_time bg_color">
            <app-average-waiting-time (reportData)="receiveReportData($event)"
                (reportsColumn)="receiveReportColumn($event)" (reportView)="reportView($event)"
                [department]="selectedDepartment" [date]="selectedDate"
                (blockFilters)="blockFilters($event)"
                (blockFilters)="blockFilters($event)" (reportName)="importReportName($event)"  />
        </div>

        <!-- doctor login activity -->
        <div class="doctor_login bg_color">
            <app-doctor-login-activity [selectedDate]="selectedDate" />
        </div>

        <!-- gender overview -->
        <div class="gender_overview bg_color">
            <app-gender-overview (reportData)="receiveReportData($event)" (reportsColumn)="receiveReportColumn($event)"
                (reportView)="reportView($event)" [selectedDate]="selectedDate"
                (blockFilters)="blockFilters($event)"
                (reportName)="importReportName($event)"  />
        </div>
    </div>

    <!-- row 5 -->
    <div class="flex container_margin">
        <!-- mhc waiting time -->
        <div class="mhc_waiting_time bg_color">
            <app-mhc-waiting-time [selectedDate]="selectedDate" (reportData)="receiveReportData($event)"
            (reportsColumn)="receiveReportColumn($event)" (reportView)="reportView($event)"
            (blockFilters)="blockFilters($event)"
            (reportName)="importReportName($event)"/>
        </div>

        <!-- mhc overview -->
        <div class="mhc_overview bg_color">
            <app-mhc-overview (reportData)="receiveReportData($event)" (reportsColumn)="receiveReportColumn($event)"
                (reportView)="reportView($event)" [selectedDate]="selectedDate"
                (blockFilters)="blockFilters($event)"
                (reportName)="importReportName($event)"  />
        </div>
    </div>


    <!-- report part -->
    <div class="show_analytics" [ngClass]="{'hide' : !onOf}">
        <app-report-filter [reportData]="this.reportdata" [columns]="this.reportColumn" (onoff)="reportClose($event)"
            [individualDates]="reportInitializeDate" [importedDoctor]="reportDoctorId" [isFilterBlock]="inputBlock"
            [isMHC]="isMhc" [reportName]="reportName" />
    </div>


    <!-- estrimation type report -->
    <div class="show_analytics" [ngClass]="{hide : !viewReportSection}">
        <!-- <app-estimation-type-report [reportData]="estiReportData" (onoff)="closeEstReport($event)" /> -->
        <app-estimation-type-report [reportData]="this.estiReportData" (onoff)="closeEstReport($event)"
            [individualDates]="reportInitializeDate" />
    </div>

</div>

<!-- <app-age-chart /> -->