<div class="card appointment-request">
    <div class="header">
      <h3>Appointment Request</h3>
      <a href="/appointments">See all</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Patient Name</th>
          <th>Doctor</th>
          <th>Department</th>
          <th>Appt Date</th>
          <th>Appt Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ appointment.patientName }}</td>
          <td><span class="doctor-name">{{ appointment.doctorName }}</span></td>
          <td>{{ appointment.department}}</td>
          <td>
            {{ appointment.apptDate }}
          </td>
          <td>
            <!-- <div class="action-buttons">
                <div class="edit-btn"><img src='book.svg'></div>
            <div class="delete-btn"><img src='icons/delete.png'></div>
            </div> -->
            <span class="time-badge">{{ appointment.apptTime }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  