.dashboard-section {
    /* margin: 20px; */
    padding-left: 90px;
    background-color: #F0F3FF;
    padding-top: 0px;
  }
  
  h1 {
    color: #271E4A;
font-size: 24px;
font-family: Kanit;
font-weight: 500;
    margin-bottom: 0px;
  }
  
  .stats-cards {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;;
  }
  
  .card {
    width: 220px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: left;
    /* padding: 15px; */
    padding-bottom: 0px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-icon img {
    /* width: 50px;
    height: 50px; */
    margin-right: 15px;
    padding-top: 8px;
    width: 40px;
    margin-left: 20px;
  }
  
  .card-content .number {
    color: #7B7B7B;
    font-size: 20px;
    font-family: Kanit;
    font-weight: 400;
    margin: 0;
  }
  .close{
    color: white;
    font-size: 20px;
    font-family: Kanit;
    font-weight: 600;
   
  }
  
  .card-content p {
    color: #271E4A;
    font-size: 16px;
    font-family: Kanit;
    font-weight: 400;
    margin: 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .container {
    width: 90%;
    /* max-width: 800px; */
    max-height: 90vh;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow-y: auto;
    /* padding: 10px; */
  }
  
  .header {
    background: #169458;
    padding: 15px 20px;
    color: #FFF;
    font-family: Kanit;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px 9px 0 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
 .header.absent{
    background-color: #e74c3c; /* Red header for unavailable doctors */
  }
.header.unavailable{
    background-color: #f5d94b; /* Red header for unavailable doctors */
  }
  
  .content {
    padding: 20px;
}

  .close-button {
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    float: right;
    /* margin-right: 10px; */
  }
  
  .close-button:hover {
    color: #fff; /* Red color for hover effect */
  }
  
  .doctor-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 Columns per row */
    gap: 15px;
    padding: 10px;
    text-wrap: nowrap;
  }
  
  .doctor-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 0px 0;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd;
  }
  .doctor-card:hover{
    box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  }
  
  .doctor-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  
  .doctor-details {
    display: flex;
    align-items: center;
  }
  
  .doctor-id {
    margin-right: 20px;
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .doctor-name {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .availability-status.available {
    color: #28a745; /* Green for available doctors */
  }
  
  .availability-status.unavailable {
    color: #f5d94b; /* Red for unavailable doctors */
  }
  .availability-status.absent{
    color: #e74c3c;
  }
  .no-record{
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: Kanit;
  }
  
  .available {
    color: #169458;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  