.handwriting-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-label {
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  canvas {
    border: 1px solid #ccc;
    width: 100%;       /* fills container */
    height: auto;     /* fixed height */
    display: block;
    background-color: #fff;
    cursor: crosshair;
  }
  canvas {
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
  }
  canvas[readonly], .readonly-canvas {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(100%);
  }
  
  
  /* Buttons responsive */
  .button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
  }
  
  .btn {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .clear-button {
    border-radius: 4px;
    border: 1px solid #7b7b7b;
    outline: none;
    display: flex;
    width: 150px;
    padding: 7px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #7b7b7b;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
  }
  .save-button {
    border-radius: 4px;
    border: 1px solid #4CAF50;
    background: #4CAF50;
    outline: none;
    display: flex;
    width: 100px !important;
  height: 32px !important;
    padding: 7px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #fff;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sign-clear{
    width: 100px !important;
  height: 32px !important;
  }

  .pen-cursor {
    cursor: url('/pen-cursor.png') 0 32, crosshair;
  }
  
  .eraser-cursor {
    cursor: url('/eraser-cursor.png') 8 8, crosshair;
  }
  
  
 
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    canvas {
      height: 150px;
    }
    .btn {
      flex: 1;
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    canvas {
      height: 120px;
    }
    .button-row {
      flex-direction: column;
    }
  }
  