body {
  font-family: Kanit;
}

.form-container {
  max-width: calc(100% - 10%);
  /* margin: auto; */
  padding-left: 90px;
  /* padding: 20px; */
}

.form-title {
  color: #000;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 30px;
}
.line {
  color: #000;
}
.input-container {
  position: relative;
  margin: 10px 0;
  flex: 1; /* Ensures equal width for both inputs */
  min-width: 200px; /* Optional, to prevent shrinking too small */
}
.custom-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f6f8ff; /* Background color like the first image */
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: Kanit;
}
.dropdown-container{
  margin-top: 20px;
}
.custom-input:focus {
  border-color: #007bff; /* Focus border color like the second image */
  box-shadow: 0 0 3px #007bff;
}

.custom-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
  text-wrap: nowrap;
}

.custom-input:focus + .custom-label,
.custom-input:not(:placeholder-shown) + .custom-label {
  top: -3px;
  left: 10px;
  font-size: 12px;
  color: #007bff; /* Label color on focus */
  background-color: #f6f8ff;
}

.custom-input.ng-invalid.ng-touched {
  border: 1px solid #ff4d4d; /* Red border for invalid inputs */
  box-shadow: 0 0 3px rgba(255, 77, 77, 0.4);
}

.custom-input.ng-invalid.ng-touched + .custom-label {
  color: #ff4d4d; /* Red label when invalid */
}
.error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
  position: absolute;
}
.custom-label-surgery {
  position: absolute;
  top: 54%;
  left: 12px;
  transform: translateY(-50%);
  color: #007bff;
  font-size: 12px;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: #f6f8ff;
  
}
.custom-select {
  appearance: none; /* Hides the default dropdown arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background-image: url('/select-down-arrow.svg'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 15px center; /* Adjust positioning */
  background-size: 16px; /* Adjust size */
  padding-right: 40px; /* Ensure space for the icon */
  cursor: pointer;
}

/* Ensure it works on all browsers */
.custom-select::-ms-expand {
  display: none; /* Hide default arrow in IE/Edge */
}

.custom-label-consultantName {
  position: absolute;
  top: 31%;
  left: 12px;
  transform: translateY(-50%);
  color: #007bff;
  font-size: 12px;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: #f6f8ff;
  
}
.custom-label-type{
  color: #007bff;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: #f6f8ff;
}

.section {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
  color: #000;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin:0
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-group {
  flex: 1 1 calc(50% - 15px);
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  font-family: Kanit;
  color: #495057;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
select{
  background-image: url(/select-down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.checkbox-grid label {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.selectedRoom{
  color: #000;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.type-container{
  display: flex;
  position: relative;
  margin: 10px 0;
  flex: 1;
  min-width: 200px;
  align-items: center;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.note {
  margin-bottom: 20px;
  padding: 15px 30px;
  border-radius: 16px;
  border: 1px solid #000;
  background-color: #f6f8ff; /* Light blue */
  color: #7b7b7b;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Kanit;
  /* max-width: 900px; */
}
.reject-reason{
  color: #7b7b7b;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Kanit;
}
/* Dropdown Button */
.dropdown-btn {
  width: 50%;
  padding: 10px;
  background-color: #f6f8ff;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
  position: relative;
}

/* Dropdown Content */
.dropdown-content {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  font-family: Kanit;
  width: 50%;
}
.dropdown-content-1 {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  font-family: Kanit;
  width: 40%;
}

/* Search Box */
.dropdown-content input {
  max-width: calc(100% - 10%);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-family: Kanit;
}
.dropdown-content-1 input {
  max-width: calc(100% - 10%);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-family: Kanit;
}

/* Checkbox List */
.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Table for Selected Rooms */
.room-costs {
  margin-top: 20px;
}
.selected-rooms-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.room-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
  padding: 10px;
  border-radius: 4px;
  /* width: 257px; */

}

.room-name {
  font-weight: 500;
  margin-right: 8px;
}

.room-cost {
  color: #28a745;
  font-weight: 500;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 16px;
  font-weight: bold;
}


.signature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.signature-container-1 {
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.sign {
  color: #000;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sign-reason {
  color: #000;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signature-section {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.signature-box {
  height: 80px;
  background-color: #d3d3d3;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.submit-button {
  border-radius: 4px;
  background: #169458;
  display: flex;
  width: 150px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dropdown-box{
  margin-top: 10px;
}
.clear-button {
  border-radius: 4px;
  border: 1px solid #7b7b7b;
  outline: none;
  display: flex;
  width: 150px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #7b7b7b;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}
.clear-button-1 {
  border-radius: 4px;
  border: 1px solid #7b7b7b;
  outline: none;
  display: flex;
  width: 150px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #7b7b7b;
  font-family: Kanit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}
.estimation-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Kanit;
}

.estimation-suggestions li {
  padding: 8px;
  cursor: pointer;
}

.estimation-suggestions li:hover {
  background-color: #f0f0f0;
}
.sign-clear{
  width: 100px !important;
height: 32px !important;
}

.button{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 30px ;
}

.reject-button {
  border-radius: 4px;
background: #D20006;
  display: flex;
  width: 150px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width */
  gap: 10px;
  padding: 10px 0;
}
.grid-items {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* Remove Button Styling */
.remove-btn {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 6px;
  border: 1px solid #D20006;
  background: #FFF;
}

.remove-btn:hover {
  background-color: #cc0000;
}
/* Input Styling */
.grid-items input {
  flex: 1;
  padding: 5px;
}
.prn-suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc; /* Border to define dropdown */
  background-color: #ffffff; /* White background to resemble a dropdown */
  max-height: 200px; /* Restrict height for better display */
  overflow-y: auto; /* Allow scrolling if suggestions overflow */
  position: absolute; /* Position it absolutely relative to the form group */
  width: 53%;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  top: calc(100% + -2px);
  border-radius: 4px;
  left: 0px;
}

.prn-suggestions li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px; /* Adjust font size for readability */
  color: #333; /* Text color */
}

.prn-suggestions li:hover {
  background-color: #f0f0f0; /* Light grey background on hover for better visibility */
  color: #005d8c; /* Optional: Highlight text color on hover */
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  color: #271e4a;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-body p {
  color: rgba(39, 30, 74, 0.8);
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 0;
}
.popup-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input[type="text"]::placeholder {
  color: rgba(39, 30, 74, 0.8);
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.estimation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  width: 673px;
  height: auto;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.custom-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff; /* Background color like the first image */
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: Kanit;
}

.custom-input:focus {
  border-color: #007bff; /* Focus border color like the second image */
  box-shadow: 0 0 3px #007bff;
}

.custom-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.custom-input:focus + .custom-label,
.custom-input:not(:placeholder-shown) + .custom-label {
  top: -3px;
  left: 10px;
  font-size: 12px;
  color: #007bff; /* Label color on focus */
  background: #f0f3ff;
}
.estimation-input-container {
  position: relative;
  /* padding-top: 16px; */
  /* width: 300px; */
  margin-top: 35px;
}
.save-button {
  background-color: #169458;
  color: #fff;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  width: 150px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.close-button {
  display: flex;
  width: 150px;
  padding: 7px 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #7b7b7b;
  color: #7b7b7b;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 5 columns */
  }
}

/* Tablet: Show 3 items per row */
@media (max-width: 1023px) and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* 3 columns */
  }
}

/* Mobile: Show 2 items per row */
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* 2 columns */
  }
}

@media (max-width: 500px){
  .form-container{
    padding-left: 12px;
  }
  .note{
    font-size: 12px;
  }
  .room-box{
    flex-direction: column;
  }
}

