.table-container {
  border-radius: 10px;
  background-color: #f0f3ff;
  padding: 20px;
  padding-left: 90px;
}
.table-wrapper {
  overflow-x: auto; /* Adds horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
.appointment-table {
  width: 100%;
  min-width: 1000px;
  border-collapse: collapse;
}
thead {
  background: #0e2970;
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 16px;
  color: white;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 400;
  /* height: 65px; */
}
thead th {
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 400;
  text-wrap: nowrap;
  height: 54px;
}
/* Table body styling */
tbody tr {
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 16px;
  height: 60px;
  border-radius: 16px;
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 16px;
}

tbody td {
  padding: 0px 8px;
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 400;
  padding-bottom: 0px;
}

tbody tr:hover {
  background-color: #f0f8ff;
}

.sms-status img {
  width: 20px;
  height: 20px;
}

.sms-sent img {
  /* background-color: green; */
  /* border-radius: 50%;
    padding: 5px; */
}

.sms-not-sent img {
  /* background-color: red; */
  /* border-radius: 50%; */
  /* padding: 5px; */
}
.btn-action {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  gap: 10px;
}
.btn-action-reschedule {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;


}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px !important;
}
.status-badge {
  display: inline-block;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 400;
  background: #79cfa6;
  border-radius: 4px;
}
.checkin-badge {
  display: inline-block;
  color: white;
  padding: 5px 10px;

  font-size: 16px;
  font-family: Kanit;
  font-weight: 400;
  background: #79cfa6;
  border-radius: 4px;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

/* Pagination button styling */
.pagination-btn {
  background-color: white;
  color: #333;
  border: 2px solid #e0e0e0;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn.next {
  background-color: #8cc152; /* Green background for next */
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-btn.prev {
  background-color: white; /* White background for previous */
  color: #333;
  border: none;
  cursor: pointer;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #6baf40; /* Darker green hover for next */
}

.pagination-btn:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

/* Page info styling */
.page-info {
  display: flex;
  align-items: center;
  color: #7b7b7b;
  font-size: 16px;
  font-family: Kanit;
  font-weight: 400;
  margin-left: 20px;
}

.page-input {
  width: 40px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  font-size: 16px;
  padding: 5px;
}


.btn-action[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.name-container {
  display: flex;
  justify-content: space-between; /* Pushes name to left, icon to right */
  align-items: center; /* Keeps everything vertically aligned */
  width: 100%; /* Ensures full width usage */
  padding: 4px; /* Adjust spacing */
}

.patient-name {
  flex-grow: 1; /* Allows the name to take available space */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Handles overflow if name is too long */
}

.edit-icon, .save-icon, .cancel-icon {
 
  cursor: pointer;
  margin-left: 8px;
}

.edit-input {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  font-family: Kanit;
}


.btn-action-reschedule[disabled]{
  opacity: 0.5;
  cursor: not-allowed;
}
.loader {
  position: absolute; /* Ensure it overlays the content */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the loader's dimensions */
  font-size: 24px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  color: #0e2970;
  --c: no-repeat linear-gradient(#0e2970 0 0); 
  background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
  background-size: calc(1ch + 1px) 100%;
  border-bottom: 10px solid #0e2970; 
  animation: l8-0 1s infinite linear;
  clip-path: inset(-20px 0);
  z-index: 999; /* Ensure it appears above other elements */
}

.loader::before {
  content:"DocMinds";
}
.loader::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  background: #F28729;
  left: -10px;
  bottom: 100%;
  animation: l8-1 1s infinite linear;
}
@keyframes l8-0{
   0%,
   12.5% {background-position: calc(0*100%/6) 0   ,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   25%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   37.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   50%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   62.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   75%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6)    0,calc(6*100%/6) 0}
   87.4% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 0}
   100%  {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 40px}
}
@keyframes l8-1{
  100% {left:115%}
}
.no-records-message {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px;
  font-family: Kanit;
}