.table-container {
  border-radius: 10px;
  background-color: #f0f3ff;
  padding: 10px;
  padding-left: 90px;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background: #0e2970;
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 16px;
  color: white;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 600;
  height: 54px;
}
thead th {
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 600;
}
/* Table body styling */
tbody tr {
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 16px;
  height: 60px;
  border-radius: 16px;
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 16px;
}

tbody td {
  padding: 12px;
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 400;
  padding-bottom: 0px;
  padding-top: 0px;
}

tbody tr:hover {
  background-color: #f0f8ff;
}

.sms-status img {
  width: 20px;
  height: 20px;
}

.sms-sent img {
  /* background-color: green; */
  /* border-radius: 50%;
    padding: 5px; */
}

.sms-not-sent img {
  /* background-color: red; */
  /* border-radius: 50%; */
  /* padding: 5px; */
}
.arrow {
  font-size: 1.2em;
  margin-left: 5px;
}
.arrow.up {
  color: green;
}
.arrow.down {
  color: red;
}
.download {
  width: 40px;

  margin-bottom: -14px;
  margin-right: 15px;
}
.btn-action {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
}
.status-badge {
  display: inline-block;
  color: white;
  padding: 5px 10px;

  font-size: 18px;
  font-family: Kanit;
  font-weight: 400;
  text-transform: capitalize;
  /* background: #79CFA6; border-radius: 4px; */
}
/* Define different colors based on status */
.status-cancelled {
  background: #ff4d4f; /* Red color for cancelled */
}

.status-confirmed {
  background: #ffc107; /* Yellow color for confirmed */
}

.status-completed {
  background: #79cfa6; /* Green color for completed */
}

/* Optional: Default status style */
.status-default {
  background: #b0b0b0; /* Gray color for any other status */
}
/* Pagination styling */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

/* Pagination button styling */
.pagination-btn {
  background-color: white;
  color: #333;
  border: 2px solid #e0e0e0;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn.next {
  background-color: #8cc152; /* Green background for next */
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-btn.prev {
  background-color: white; /* White background for previous */
  color: #333;
  border: none;
  cursor: pointer;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #6baf40; /* Darker green hover for next */
}

.pagination-btn:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

/* Page info styling */
.page-info {
  display: flex;
  align-items: center;
  color: #7b7b7b;
  font-size: 16px;
  font-family: Kanit;
  font-weight: 400;
  margin-left: 20px;
}

.page-input {
  width: 40px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  font-size: 16px;
  padding: 5px;
}
.filter-container {
  display: flex;
  justify-content: right;
  gap: 20px;
  background: #f0f3ff;
  padding: 10px 30px 10px 0;
}

.filter-input {
  width: 250px;
  height: 52px;
  padding: 12px 20px;
  align-items: center;
  gap: 70px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid rgba(183, 183, 183, 0.4);
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  font-size: 18px;
  font-weight: 400;
  font-family: Kanit;
}
.btn-action {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  gap: 10px;
  display: flex;
}
.filter-input:focus {
  outline: none;
  border: 2px solid #79cfa6;
}
.filter-select:focus {
  outline: none;
  border: 2px solid #79cfa6;
}

.filter-input::placeholder {
  color: #b6b6b6;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-select {
  color: #b6b6b6;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  appearance: none; /* For modern browsers */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background-image: url("/select-down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 14px;
  background-color: #fff;
  background-size: 22px;
}
.p-field {
  margin: 0 10px;
}
::ng-deep .custom-calendar .p-inputtext {
  width: 300px;
  height: 46px;
  border-radius: 10px; /* Rounded edges */
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid #e0e0e0; /* Light gray border */
  padding-left: 15px;
  font-size: 14px;
  color: #808080; /* Light gray text */
  font-weight: 500;
  font-family: Kanit;
}

::ng-deep .custom-calendar .p-calendar-trigger {
  /* color: #808080; Light gray arrow */
  border-radius: 0 10px 10px 0; /* Right side rounded for trigger button */
  background-color: transparent; /* No background */
}

::ng-deep .custom-calendar .p-datepicker {
  border-radius: 10px; /* Rounded calendar popup */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for calendar popup */
  background-color: white;
  font-size: 12px; /* Smaller font for calendar */
  width: 300px; /* Adjusted width for calendar popup */
}

::ng-deep .custom-calendar .p-datepicker table {
  font-size: 14px; /* Smaller font for dates */
}

::ng-deep .custom-calendar .p-datepicker-header {
  padding: 5px; /* Adjust header padding */
}

::ng-deep .custom-calendar .p-datepicker .p-datepicker-prev,
::ng-deep .custom-calendar .p-datepicker .p-datepicker-next {
  height: 25px; /* Adjust button size */
  width: 25px; /* Adjust button size */
}
::ng-deep .p-datepicker table td {
  padding: 0;
}
.calendar-icon {
  position: relative;
  right: 38px;
}
.reverse {
  border-radius: 10px; /* Rounded edges */
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border: 1px solid #e0e0e0; /* Light border */
  margin-bottom: -14px;

  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* padding-top: 20px; */
}
.download{
  border-radius: 10px; /* Rounded edges */
    background-color: #0E2970;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border: 1px solid #e0e0e0; /* Light border */
    margin-bottom: -14px;
    
    padding: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  
 }
 .loader {
  position: absolute; /* Ensure it overlays the content */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the loader's dimensions */
  font-size: 24px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  color: #0e2970;
  --c: no-repeat linear-gradient(#0e2970 0 0); 
  background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
  background-size: calc(1ch + 1px) 100%;
  border-bottom: 10px solid #0e2970; 
  animation: l8-0 1s infinite linear;
  clip-path: inset(-20px 0);
  z-index: 999; /* Ensure it appears above other elements */
}

.loader::before {
  content:"Docminds";
}
.loader::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  background: #F28729;
  left: -10px;
  bottom: 100%;
  animation: l8-1 1s infinite linear;
}
@keyframes l8-0{
   0%,
   12.5% {background-position: calc(0*100%/6) 0   ,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   25%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   37.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   50%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   62.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   75%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6)    0,calc(6*100%/6) 0}
   87.4% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 0}
   100%  {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 40px}
}
@keyframes l8-1{
  100% {left:115%}
}
.no-records-message {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px;
  font-family: Kanit;
}