<div class="container">
    <p-toast></p-toast>
    <div class="dashboard-section">
      <!-- <h1>Appointments</h1> -->
      <div class="stats-cards">
        <div class="card" 
        [ngClass]="{'active-card': activeComponent === 'availability'}"
        (click)="showDoctorAvailability()">
          <div class="card-icon">
            <img src="/today-consul.svg" alt="OPD Icon" />
          </div>
          <div class="card-content">
            <!-- <h2>40</h2> -->
            <p>Checked-In Consultations</p>
          </div>
        </div>
        <div class="card" 
        [ngClass]="{'active-card': activeComponent === 'arrived'}"
        (click)="showDoctorArrived()">
          <div class="card-icon">
            <img src="/arrived.svg" alt="OPD Icon" />
          </div>
          <div class="card-content">
            <!-- <h2>40</h2> -->
            <p>Today Consultations</p>
          </div>
        </div>
        <div class="card" 
        [ngClass]="{'active-card': activeComponent === 'past'}"
        (click)="showPastDetails()">
          <div class="card-icon">
            <img src="/past-consul.svg" alt="Doctor Available Icon" />
          </div>
          <div class="card-content">
            <!-- <h2>42</h2> -->
            <p>Past Consultations</p>
          </div>
        </div>
        <div class="card" 
        [ngClass]="{'active-card': activeComponent === 'details'}"
        (click)="showDoctorDetails()">
          <div class="card-icon">
            <img src="/future-consul.svg" alt="Doctor Available Icon" />
          </div>
          <div class="card-content">
            <!-- <h2>42</h2> -->
            <p>Future Consultations</p>
          </div>
        </div>

        </div>
  <div>
    <app-today-consultations  *ngIf="activeComponent === 'availability'" (viewPatient)="showPatientInfo($event)"></app-today-consultations>
    <app-future-consultations *ngIf="activeComponent === 'details'"></app-future-consultations>
    <app-arrived-consultation *ngIf="activeComponent === 'arrived'"></app-arrived-consultation>
    <app-past-consultations *ngIf="activeComponent === 'past'"></app-past-consultations>
    <app-patient-info *ngIf="activeComponent === 'info'" [patient]="selectedPatient"></app-patient-info>
  </div>
  </div>
  </div>
  