.table-container {
  border-radius: 10px;
  background-color: #f0f3ff;
  padding: 20px;
  padding-left: 90px;
  
}
.table-wrapper {
  overflow-x: auto; /* Adds horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
table {
  width: 100%;
  min-width: 1000px;
  border-collapse: collapse;
  border-radius: 17px;
}
  
  .table-header {
   
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
    /* border-radius: 17px; */
    color: white;
    font-size: 14px;
    font-family: Kanit;
    font-weight: 600;
    height: 54px;
    margin-bottom: 10px;
    background: #0E2970;
    border-radius: 17px;
  }
  
  thead th {
    padding: 9px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Kanit;
    font-weight: 400;
    text-wrap: nowrap;
  }

  /* thead tr{
    background: #0E2970;
    border-radius: 17px;
  } */
  
  /* Table body styling */
  tbody tr {
    /* border-bottom: 1px solid #ddd; */
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); border-radius: 16px; 
    height: 60px;
  }
  
  tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.10);
     box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); border-radius: 16px;
  }
  
  tbody tr:hover {
    background-color: #e1f3f9;
  }
  
  tbody td {
    padding: 0px 8px;
    text-align: center;
    color: black;
font-size: 14px;
font-family: Kanit;
font-weight: 400;
text-wrap: nowrap;
padding-bottom: 0px;
  }
  
  /* Status badge styling */
  .status-badge {
    background-color: #FFD700; /* Yellow status */
    padding: 5px 10px;
    border-radius: 6px;
    color: #0E2970;
font-size: 14px;
font-family: Kanit;
font-weight: 400;
  }
  
  /* Action button */
  .btn-action {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px !important;
  }
  
  /* .btn-action img {
    width: 20px;
    height: 20px;
  }
  
  .btn-action:hover {
    background-color: #6BAF40;
  } */
  
/* Pagination styling */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

/* Pagination button styling */
.pagination-btn {
  background-color: white;
  color: #333;
  border: 2px solid #e0e0e0;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn.next {
  background-color: #8CC152; /* Green background for next */
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-btn.prev {
  background-color: white; /* White background for previous */
  color: #333;
  border: none;
  cursor: pointer;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #6BAF40; /* Darker green hover for next */
}

.pagination-btn:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

/* Page info styling */
.page-info {
  display: flex;
  align-items: center;
  color: #7B7B7B;
  font-size: 16px;
  font-family: Kanit;
  font-weight: 400;
  margin-left: 20px;
}

.page-input {
  width: 40px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  font-size: 16px;
  padding: 5px;
}
.btn-action img{
    /* width: 60px; */
    /* height: 60px; */
}
.modal {
  display: block; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Sits on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.dialog-container {
  width: 650px;
  height: 520px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

  
.dialog-header {
  background: url('/dialog.png') no-repeat center center;
  background-size: cover;
  height: 293px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;

}

.warning-icon {
  border-radius: 50%;
  padding: 20px;
}

.dialog-body {
  padding: 20px;
}

.dialog-title {
  color: black;
  font-size: 48px;
  font-family: Kanit;
  font-weight: 400;
  word-wrap: break-word;
  margin: 10px 0;
  margin-bottom: 32px;
}

.dialog-message {
  color: #000;
  text-align: center;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.dialog-actions {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.delete-account-button {
  background-color: #ff1e1e;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 4px;
background: #D20006;
}

.delete-account-button:hover {
  background-color: #e60000;
}

.cancel-account-button {
  background-color: #d3d3d3;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.cancel-account-button:hover {
  background-color: #bcbcbc;
}
.loader {
  position: absolute; /* Ensure it overlays the content */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the loader's dimensions */
  font-size: 24px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  color: #0e2970;
  --c: no-repeat linear-gradient(#0e2970 0 0); 
  background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
  background-size: calc(1ch + 1px) 100%;
  border-bottom: 10px solid #0e2970; 
  animation: l8-0 1s infinite linear;
  clip-path: inset(-20px 0);
  z-index: 999; /* Ensure it appears above other elements */
}

.loader::before {
  content:"Docminds";
}
.loader::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  background: #F28729;
  left: -10px;
  bottom: 100%;
  animation: l8-1 1s infinite linear;
}
@keyframes l8-0{
   0%,
   12.5% {background-position: calc(0*100%/6) 0   ,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   25%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   37.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   50%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   62.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   75%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6)    0,calc(6*100%/6) 0}
   87.4% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 0}
   100%  {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 40px}
}
@keyframes l8-1{
  100% {left:115%}
}
.no-records-message {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px;
  font-family: Kanit;
}