<!-- Main app layout -->
<div *ngIf="!isMaintenanceRoute(); else maintenanceTemplate">
  <div *ngIf="!isChannelRoute(); else channelTemplate">
    <div *ngIf="!isHelpDesk(); else helpdeskTemplate">
    <div *ngIf="!isLoginRoute(); else loginTemplate">
      <div *ngIf="!otChannelRoute(); else otChannelTemplate">
      <app-sidebar></app-sidebar>
      <div class="content">
        <app-dashboard-module></app-dashboard-module>
      </div>
    </div>
    </div>
    <ng-template #loginTemplate>
      <app-login></app-login>
    </ng-template>
  </div>
  </div>
</div>

<!-- Maintenance Template -->
<ng-template #maintenanceTemplate>
  <app-maintainance></app-maintainance>
</ng-template>

<!-- Channel Template -->
<ng-template #channelTemplate>
  <router-outlet></router-outlet>
</ng-template>
<ng-template #otChannelTemplate>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #helpdeskTemplate>
  <app-help-center></app-help-center>
</ng-template>
<!-- Modal and toast -->
<div *ngIf="showSettingsModal" class="settings-modal-overlay" (click)="closeSettings()">
  <div class="settings-modal" (click)="preventClose($event)">
    <div class="modal-header"></div>
    <app-settings></app-settings>
  </div>
</div>

<p-toast></p-toast>

<!-- WhatsApp Button -->
<!-- <button 
  class="whatsapp-button" 
  *ngIf="!isLoginRoute() && !isChannelRoute() && !isMaintenanceRoute()" 
  (click)="openWhatsApp()"
>
  💬 Chat on WhatsApp
</button> -->