.settings-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    z-index: 999;
  }
  
  .settings-modal {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    position: relative;
    margin-left: 70px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  
  /* Webkit-based browsers (Chrome, Safari) */
  .content::-webkit-scrollbar {
    width: 4px; /* Make scrollbar thin */
  }
  
  .content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Light scrollbar */
    border-radius: 10px;
  }
  
  .content::-webkit-scrollbar-track {
    background: transparent; /* Hide scrollbar track */
  }

  @media screen and (max-width: 768px) {
    .content {
      overflow-y: auto; /* Enable vertical scrolling */
      max-height: 90vh; /* Restrict height to viewport */
      padding: 10px;
      scrollbar-width: thin; /* Firefox: Make scrollbar thin */
      scrollbar-color: transparent transparent; /* Hide scrollbar */
    }
    
  }
  

  
