<!-- app.component.html -->
<!-- <div class="container">
    <app-sidebar></app-sidebar>
<app-dashboard-module></app-dashboard-module>
<router-outlet></router-outlet>
<app-login></app-login>
  </div> -->
  <!-- app.component.html -->
<!-- <div class="container" *ngIf="!isLoginRoute(); else loginTemplate">
  <app-sidebar></app-sidebar>
  <div class="content">
    <app-dashboard-module></app-dashboard-module>
    <app-settings *ngIf="isSettingsOpen"></app-settings>
  </div>
</div>

<ng-template #loginTemplate>
  <app-login></app-login>
</ng-template>
<router-outlet></router-outlet>

  <p-toast></p-toast> -->

  <app-signature></app-signature>