<div class="tv-container">
    <header class="header">
      <img src="sidebar/IM-logo.png" alt="Logo" class="logo" />
      <h1>Rashtrotthana Hospital - Bangalore</h1>
      <div class="datetime-container">
        <div class="datetime">
          <span class="date">{{ currentDate }}</span><br />
          <span>{{ currentTime }}</span>
        </div>
      </div>
    </header>
  
    <div *ngIf="!loading; else loaderTemplate"
      class="doctor-cards"
      [ngClass]="{ 'four-doctors-layout': isFourDoctors() }"
      [ngClass]="{'two-doctors-layout': isTwoDoctors()}"
    >
      <div
        class="doctor-card"
        *ngFor="let doctor of doctors"
      >
        <div class="doctor-header" >
          <div class="doctor-image" *ngIf="!isFourDoctors()">
            <img src="/sunil.svg" alt="Doctor Image" />
          </div>
          <div class="doctor-details">
            <h3>Name: {{ doctor.name }}</h3>
            <p>Department: {{ doctor.department }}</p>
            <p>Room No: {{ doctor.roomNo }}</p>
            <p>Avail. Time: {{ doctor.remainingTime }}</p>
          </div>
        </div>
  
        <table class="queue-table">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr
            *ngFor="let patient of doctor.patients; let i = index;  trackBy: trackByFn"
            [class.removed]="patient.endConsultation"
            @fadeInOut
          >
              <td>{{i+ 1}}</td>
              <td>{{ patient.patientName }}</td>
              <td>
                <span class="status" [ngClass]="patient.status">{{ patient.time }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #loaderTemplate>
        <div class="loader"></div>
      </ng-template>
    <footer class="footer">
      <marquee>
        Surgery Package: Total Knee Replacement - Unilateral (Excluding Implant
        Charges)
      </marquee>
      <div class="copy-right-container">
        <img src="/IM-logo-main.svg" />
        <p>
          Copyright ⓒ 2025 Doc minds. All Rights Reserved.<br />
          Proudly Powered by Invention Minds
        </p>
      </div>
    </footer>
  </div>
  