/* Main Wrapper */
.doctor-availability-wrapper {
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 20px;
  padding-right: 0;
  font-family: Kanit;
  color: #fff;
  background-color: #f0f3ff; /* Background color for the entire wrapper */
  padding-bottom: 90px;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  background-color: #005d8c;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  height: 56px;
  width: 100%;
  padding-left: 70px;
}

.navigation-left {
  display: flex;
  align-items: center;
}

.navigation-right .date-display {
  margin: 0 15px;
  width: 156px;
  font-size: 13px;
  text-align: center;
}

.navigation-right button {
  padding: 8px 15px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-family: Kanit;
  font-size: 13px;
}

.today-button {
  background-color: #20bf5c;
  color: #fff;
}

.navigation-right button {
  padding: 8px 14px;
  margin: 0 21px;
  background-color: #003b6d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-right {
  display: flex;
  align-items: center;
}

.reload-button {
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-top: 10px; */
  height: 33px;
  font-size: 10px;
  padding-left: 6px;

 
}
.reload{
  border: 2px solid #fff;
  height: 36px;
  width: 36px;
  border-radius: 10px;
}
.calendar-input {
  padding: 12px;
  border: none;
  width: 175px;
  background: transparent;
  /* box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); */
  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  color: #7b7b7b;
  font-size: 13px;
  font-family: Kanit;
  font-weight: 500;
  margin-left: 30px;
}
::ng-deep .custom-calendar .p-inputtext {
  width: 180px;
  height: 36px;
  border-radius: 10px; /* Rounded edges */
  border-radius: 8px;
  border: 2px solid #fff;
  /* box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64); */
  padding-left: 15px;
  font-size: 13px;
  color: #fff;
  font-family: Kanit;
  background: transparent;
}

::ng-deep .custom-calendar .p-calendar-trigger {
  /* color: #808080; Light gray arrow */
  border-radius: 0 10px 10px 0; /* Right side rounded for trigger button */
  background-color: transparent; /* No background */
}

::ng-deep .custom-calendar .p-datepicker {
  border-radius: 10px; /* Rounded calendar popup */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for calendar popup */
  background-color: white;
  font-size: 12px; /* Smaller font for calendar */
  width: 300px; /* Adjusted width for calendar popup */
}

::ng-deep .custom-calendar .p-datepicker table {
  font-size: 14px; /* Smaller font for dates */
}

::ng-deep .custom-calendar .p-datepicker-header {
  padding: 5px; /* Adjust header padding */
}

::ng-deep .custom-calendar .p-datepicker .p-datepicker-prev,
::ng-deep .custom-calendar .p-datepicker .p-datepicker-next {
  height: 25px; /* Adjust button size */
  width: 25px; /* Adjust button size */
}
::ng-deep .p-datepicker table td {
  padding: 0;
}
.calendar-icon {
  position: relative;
  right: 38px;
  font-size: 16px;
  margin-left: 10px;
}
.search-box {
  padding: 12px;
  border: none;
  width: 275px;
  height: 34px;
  background: white;
  /* box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); */
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black;
  font-family: Kanit;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 30px;
}

/* OPD Available Time Header */
.opd-available-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 8px;

  border-radius: 16px;
  background: #0e2970;
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  height: 56px;
  margin-left: 80px;
  margin-right: 20px;
}
.line {
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.line-1 {
  margin-right: 25px;
  display: flex;
  align-items: center;
}
.opd-doctor-name {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding-left: 50px;
  color: #fff;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.opd-available-time {
  color: #fff;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  white-space: nowrap; /* Keep the text on one line */
}

/* Doctor Profile Section */
.doctor-slot-container {
  background-color: #f0f3ff;
  border-radius: 6px;
  margin-top: 0px;
  padding: 12px;
  color: #333;
  display: flex;
  gap: 10px;
  padding-left: 70px;
  padding-right: 20px;

  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.doctor-profile {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctor-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background: #e5e5e5;
}

.doctor-info {
  margin-top: 8px;
  text-align: center;
}
.unavailable{
 display: flex;
 justify-content: center;
  align-items: center;
}
.unavailable-button {
  display: flex
;
    /* width: 150px; */
    height: 32px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #d20006;
    background: transparent;
    color: #d20006;
    cursor: pointer;
    font-family: Kanit;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}
.unavailable-button:disabled {
  background-color: #d3d3d3; /* Grey background for disabled state */
  color: #fff; /* Light grey text for better contrast */
  cursor: not-allowed; /* Change cursor to indicate disabled */
}
.doctor-name {
  margin: 0;
  color: #271e4a;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.doctor-department {
  color: #271e4a;
  font-family: Kanit;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.complete {
  background-color: #0e2970; /* Example color for completed status */
  color: white;
  border: 1px solid #0e2970;
}
.doctor-availability-time {
  color: #169458;
  font-family: Kanit;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

/* Slots Styling */
.slots-wrapper {
  display: grid;
  /* grid-template-columns: repeat(11, minmax(80px, 1fr)); */
  grid-template-rows: repeat(4, 40px); 
  /* grid-template-rows: 100px 200px 150px auto; */
  grid-auto-flow: column; /* Fill each column with 4 rows first */
  grid-template-columns: repeat(13, minmax(80px, 1fr)); /* Set 11 columns */
  gap: 6px;
  align-items: center;
  width: 100%;
  justify-items: start;
  margin-top:20px;
}

.slot-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;

  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  width: 84px;
}

/* Color Coding Slots */
.slot-available {
  background-color: #79cfa6; /* Green for Available */
  color: white;
  cursor: pointer;
}

.slot-booked {
  background-color: #ff4747; /* Red for Booked */
  color: white;
  cursor: pointer;
}
.blocked{
  background-color: #6F46C1; /* Red for Booked */
  color: white;
  cursor: not-allowed;
}
.slot-unavailable {
  background-color: #c5c5c5; /* Grey for Unavailable */
  color: #dcdcdc;
  cursor:not-allowed;
}
.unavailale-slot-by-user{
  background-color: #E5C000; /* Red for Booked */
  color: white;
  cursor: not-allowed;
}

.unavailable-doctor {
  opacity: 0.6; /* Make the unavailable doctor's card look faded */
  cursor: not-allowed;
}

.doctor-unavailable-label {
  color: red;
  font-weight: bold;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Below the modal but above the rest of the content */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kanit";
  color: #000;
}
.heading-calendar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal {
  border-radius: 47px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  padding: 20px;
  z-index: 1000; /* Make sure it's above all other elements */
  /* border-radius: 8px; */
  max-width: 1000px;
  width: 100%;
  padding: 0 40px;
}

.modal-content {
  position: relative;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.update {
  width: 200px;
  padding: 7px 14px;

  gap: 10px;

  border-radius: 4px;
  background: #169458;
  border: none;
  color: #fff;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 75px;
  cursor: pointer;
}
.update-button-unavailable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  gap: 30px;
}

.slots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 25px;
}
h2 {
  color: #271e4a;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 22px;
  margin-bottom: 22px;
}
.slot-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(39, 30, 74, 0.8);
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.mark-available-button {
  /* Red background to indicate marking as available */
  color: #7B7B7B;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
   border: none;
   padding: 7px 14px;
   cursor: pointer;
   margin-right: 10px;
   border-radius: 4px;
 border: 1px solid #7B7B7B;
 background: #FFF;
 margin-top: 75px;
 }
 /* .pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  margin-right: 2rem;
} */

.fixed-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 25px 30px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
 z-index: -0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  height: 28px;
  padding-left: 130px;
  width: 100%;
}

/* Slot Legend Styling */
.slot-legend {
  display: flex;
  align-items: center;
  gap: 30px;
}

.slot-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-box {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}

/* Colors for each slot type */
.open-slot {
  background-color: #79CFA6; /* Green */
}

.booked-slot {
  background-color: #FF4747; /* Red */
}

.unavailable-slot {
  background-color: #FCE35F; /* Yellow */
}

.extra-slot {
  background-color: #6F46C1; /* Purple */
}

.closed-slot {
  background-color: #C5C5C5; /* Gray */
}
.complete-slot {
  background-color: #0e2970; /* Gray */
}

/* Styling for Labels */
.label {
  color: #000;
  font-family: Kanit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* Pagination Controls Styling */
.pagination-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.pagination-btn {
  background-color: white;
  color: #333;
  border: 2px solid #e0e0e0;
  padding: 4px 10px;
  margin:10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.pagination-btn.next {
  background-color: #8CC152; /* Green background for next */
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-btn.prev {
  background-color: white; /* White background for previous */
  color: #333;
  border: none;
  cursor: pointer;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #6BAF40; /* Darker green hover for next */
}

.pagination-btn:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

/* Page Info Styling */
.page-info {
  display: flex;
  align-items: center;
  color: #7B7B7B;
  font-size: 14px;
  font-family: Kanit, sans-serif;
  font-weight: 400;
}

.page-input {
  width: 40px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  font-size: 14px;
  padding: 5px;
}

.add-slot-button {
 
  border: none;

  display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 10px;
      border-radius: 4px;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      font-family: Kanit;
      background-color: #79cfa6; /* Green for Available */
      color: white;
      cursor: pointer;
}

@media (max-width: 1380px) {
  .slots-wrapper {
    grid-template-columns: repeat(9, minmax(105px, 1fr));
  }
}
/* Responsive Styling */
@media (max-width: 768px) {
  .doctor-slot-container {
    flex-direction: column;
  }

  .slots-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
