<div class="container">
    <div class="close-opd" (click)="openCloseOpdPopup()">
        <img src="/close-opd.svg"> Close OPD
    </div>
    <button class="end-consul" [disabled]="filteredAppointments.length>1" >
        <img src="/end.svg" > End Consultation
    </button>
</div>
<div class="table-container" *ngIf="!isLoading">
    <div class="table-wrapper">
      <table class="appointment-table" *ngIf="!isLoading">
        <thead>
          <tr>
            <th>No</th>
            <th (click)="sortBy('patientName')" style="cursor: pointer;">
              Patient Name
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th (click)="sortBy('date')">
              Date
              <span *ngIf="sortColumn === 'date' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'date' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th>Time</th>
 
            <th><span class="action" ></span>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredAppointments.length === 0">
            <td colspan="11" class="no-records-message">
              No records to display
            </td>
          </tr>
          <tr *ngFor="let appointment of getPaginatedAppointments(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ appointment.patientName }}</td>
            <td>{{ appointment.date }}</td>
            <td>
               <span class="status-badge">{{ appointment.time }}</span>
            </td>

            <td class="button">
              <button class="start" (click)="startConsultation(appointment)">
                <img class="image" src="/start.svg">Start Consultation
              </button>
              <button class="estimation" (click)="openEstimationPopup(appointment)">
                <img class="image" src="/est.svg">Estimation
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
    <!-- Pagination Controls -->
    <div class="pagination">
      <button class="pagination-btn prev" (click)="prevPage()" [disabled]="currentPage === 1">←</button>
      <button class="pagination-btn next" (click)="nextPage()" [disabled]="currentPage === totalPages">→</button>
      <div class="page-info">
        Page
        <input type="number" [(ngModel)]="currentPage" min="1" [max]="totalPages" class="page-input"
          (change)="onPageChange()">
        of {{ totalPages }}
      </div>
    </div>
  </div>
  <p-toast></p-toast>
  <!-- <app-appointment-form 
    *ngIf="showAppointmentForm" 
    [appointment]="selectedAppointment" 
    (close)="closeAppointmentForm()" 
    (submit)="submitAppointment(selectedAppointment, $event.status, $event.requestVia)">
  </app-appointment-form> -->
  
  <div class="loader" *ngIf="isLoading"></div>
  <div *ngIf="showEstimationPopup" class="estimation-modal" >
    <div class="modal-content">
      <div class="modal-header">
        <h3>Estimation Form {{ currentDoctorName }}</h3>
        <button class="popup-close" (click)="closeEstimationPopup()"><img src="/popup-close.svg"></button>
      </div>
      <hr>
      <div class="modal-body">
        <p>
          Patient Name<span class="space">:</span>{{ selectedAppointment?.patientName }}
        </p>
        <p>
          Date<span class="space-1">:</span> {{ selectedAppointment?.date }}
        </p>
        <textarea
          class="estimation-textarea"
          [(ngModel)]="estimationText"
          placeholder="Please Enter Estimation Here*"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button class="save-button" (click)="saveEstimation()">Save</button>
        <button class="close-button" (click)="closeEstimationPopup()">Close</button>
      </div>
    </div>
  </div>
  <div *ngIf="showCloseOpdPopup" class="close-opd-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Select Slots for Close OPD Request</h3>
        <button class="popup-close" (click)="closeCloseOpdPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p>
          Please select the slots you want to send for Request to Close OPD:
        </p>
        <div class="select-all-container">
            <button class="select-all-button" (click)="selectAllSlots()">Select All</button>
            <button class="unselect-all-button" (click)="unselectAllSlots()">Unselect All</button>
          </div>
        <div class="slots-container">
          <div *ngFor="let slot of filteredAppointments" class="slot-item">
            <input
              type="checkbox"
              [id]="slot.time"
              [(ngModel)]="slot.selectedSlot"
            />
            <label [for]="slot.time">{{ slot.time }}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer-close-opd">
        <button class="approval-button" (click)="sendSelectedSlots()">Send Request</button>
        <button class="close-button" (click)="closeCloseOpdPopup()">Cancel</button>
      </div>
    </div>
  </div>
  <div *ngIf="showLeaveRequestPopup" class="leave-request-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Select Dates for Leave</h3>
        <button class="popup-close" (click)="closeLeaveRequestPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body-date">
        <form class="calendar-input">
          <div class="date-selection">
            <label for="startDate">Starting Date:</label>
            <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" />
          </div>
          <div class="date-selection">
            <label for="endDate">Ending Date:</label>
            <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save-button" (click)="submitLeaveRequest()">Request</button>
        <button class="close-button" (click)="closeLeaveRequestPopup()">Close</button>
      </div>
    </div>
  </div>
  