<div class="container">
    <div class="close-opd" (click)="openCloseOpdPopup()">
        <img src="/close-opd.svg"> Close OPD
    </div>
    <button class="end-consul" [disabled]="completedAppointments.length>1" (click)="endConsultation()" >
        <img src="/end.svg" > End Consultation
    </button>
</div>
<div class="table-container" *ngIf="!isLoading">
    <div class="table-wrapper">
      <table class="appointment-table" *ngIf="!isLoading">
        <thead>
          <tr>
            <th>No</th>
            <th (click)="sortBy('patientName')" style="cursor: pointer;">
              Patient Name
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th (click)="sortBy('date')">
              Date
              <span *ngIf="sortColumn === 'date' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'date' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th>Time</th>
 
            <th><span class="action" ></span>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredAppointments.length === 0">
            <td colspan="11" class="no-records-message">
              No records to display
            </td>
          </tr>
          <tr *ngFor="let appointment of getPaginatedAppointments(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ appointment.patientName }}</td>
            <td>{{ appointment.date }}</td>
            <td>
               <span class="status-badge">{{ appointment.time }}</span>
            </td>

            <td class="button">
              <button class="start" [disabled]="appointment.checkedOut === true" (click)="appointment.checkedOut === false && startConsultation(appointment)">
                <img class="image" src="/start.svg">Start 
              </button>
              <button class="finish" [disabled]="appointment.endConsultationTime !== null " (click)="appointment.endConsultationTime === null  && finishConsultation(appointment)">
                <img class="image" src="/finish.svg">Finish
              </button>
              <button class="postPond" (click)="postPondAppointment(appointment)">
                <img class="image" src="/pause.svg">PostPoned
              </button>
              <button class="estimation" (click)="openEstimationPopup(appointment)">
                <img class="image" src="/est.svg">Estimation
              </button>
              <button class="transfer" (click)="openTransferPopup(appointment)">
                <img class="image" src="/transfer.svg">Transfer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
    <!-- Pagination Controls -->
    <div class="pagination">
      <button class="pagination-btn prev" (click)="prevPage()" [disabled]="currentPage === 1">←</button>
      <button class="pagination-btn next" (click)="nextPage()" [disabled]="currentPage === totalPages">→</button>
      <div class="page-info">
        Page
        <input type="number" [(ngModel)]="currentPage" min="1" [max]="totalPages" class="page-input"
          (change)="onPageChange()">
        of {{ totalPages }}
      </div>
    </div>
  </div>
  <p-toast></p-toast>
 
  
  <div class="loader" *ngIf="isLoading"></div>

  <div *ngIf="showEstimationPopup" class="estimation-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Estimation Form {{ currentDoctorName }}</h3>
        <button class="popup-close" (click)="closeEstimationPopup()">
          <img src="/popup-close.svg" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p>
          Patient Name<span class="space">:</span>{{ selectedAppointment?.patientName }}
        </p>
        <p>
          Date<span class="space-1">:</span> {{ selectedAppointment?.date }}
        </p>

        <div class="estimation-type-container">
          <label class="estimation-type-label">Estimation Type:</label>
          <div class="radio-buttons">
            <label>
              <input type="radio" name="estimationType" [(ngModel)]="estimationType" value="MM" />
              MM
            </label>
            <label>
              <input type="radio" name="estimationType" [(ngModel)]="estimationType" value="SM" />
              SM
            </label>
          </div>
        </div>

      <div class="estimation-input-container">
        <!-- Input field for estimation -->
        <input 
          type="text" 
          [(ngModel)]="estimationText" 
          (input)="onEstimationInput()"
          (focus)="showEstimationSuggestions = true"
          class="custom-input"
        />
        <label for="estimationText" class="custom-label">Estimation Name*</label>
        <!-- Dropdown for suggestions -->
        <ul 
          class="estimation-suggestions" 
          *ngIf="showEstimationSuggestions && filteredEstimations.length > 0"
        >
          <li 
            *ngFor="let estimation of filteredEstimations" 
            (click)="onEstimationSelect(estimation)"
          >
            {{ estimation }}
          </li>
        </ul>
      </div>
      
  
        <div class="input-container">
          <input
            type="date"
            id="estimationDate"
            name="estimationDate"
            class="custom-input"
            [(ngModel)]="estimationPreferedDate"
            required
          />
          <label for="estimationDate" class="custom-label">Estimated Date*</label>
        </div>
        <div class="input-container">
          <input 
          type="text" 

          [(ngModel)]="remarks" 
          class="custom-input"
        />
        <label for="estimationDate" class="custom-label">Remarks</label>
        </div>
        <div class="input-container">
          <select id="surgeryTime" name="surgeryTime" class="custom-input" [(ngModel)]="surgeryTime" required #surgeryTimeModel="ngModel">
            <option value="" disabled selected>Select OT Utilization Time</option>
            <option value="0 to 15">0 to 15 mins</option>
            <option value="15 to 30">15 to 30 mins</option>
            <option value="30 to 60">30 to 60 mins</option>
          </select>
          <label for="surgeryTime" class="custom-label">OT Utilization Time*</label>
        </div>
        
      </div>
      <div class="modal-footer">
        <button class="save-button" (click)="saveEstimation()">Save</button>
        <button class="close-button" (click)="closeEstimationPopup()">Close</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="showCloseOpdPopup" class="close-opd-modal">
    <div class="modal-content-close-opd">
      <div class="modal-header">
        <h3>Select Slots for Close OPD Request</h3>
        <button class="popup-close" (click)="closeCloseOpdPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p>
          Please select the slots you want to send for Request to Close OPD:
        </p>
        <div class="select-all-container">
            <button class="select-all-button" (click)="selectAllSlots()">Select All</button>
            <button class="unselect-all-button" (click)="unselectAllSlots()">Unselect All</button>
          </div>
        <div class="slots-container">
          <div *ngFor="let slot of filteredAppointments" class="slot-item">
            <input
              type="checkbox"
              [id]="slot.time"
              [(ngModel)]="slot.selectedSlot"
            />
            <label [for]="slot.time">{{ slot.time }}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer-close-opd">
        <button class="approval-button" (click)="sendSelectedSlots()">Send Request</button>
        <button class="close-button" (click)="closeCloseOpdPopup()">Cancel</button>
      </div>
    </div>
  </div>
  <div *ngIf="showLeaveRequestPopup" class="leave-request-modal">
    <div class="modal-content-leave">
      <div class="modal-header">
        <h3>Select Dates for Leave</h3>
        <button class="popup-close" (click)="closeLeaveRequestPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body-date">
        <form class="calendar-input">
          <div class="date-selection">
            <label for="startDate">Starting Date:</label>
            <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" />
          </div>
          <div class="date-selection">
            <label for="endDate">Ending Date:</label>
            <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save-button" (click)="submitLeaveRequest()">Request</button>
        <button class="close-button" (click)="closeLeaveRequestPopup()">Close</button>
      </div>
    </div>
  </div>
  <div *ngIf="showTransferAppointment" class="close-opd-modal">
    <div class="modal-content-transfer">
      <div class="modal-header">
        <h3>Transfer Appointment</h3>
        <button class="popup-close" (click)="closeTransferPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p class="content">
          Are you sure! <br>
          Do you want to transfer the appointment for other department
        </p>
      </div>
      <div class="modal-footer">
        <button class="approval-button" (click)="transfer(this.selectedAppointment!)">Transfer</button>
        <button class="close-button" (click)="closeTransferPopup()">Cancel</button>
      </div>
    </div>
  </div>
  <div *ngIf="showCancelPopup" class="close-opd-modal">
    <div class="modal-content-transfer">
      <div class="modal-header">
        <h3>Cancel the Pending Appointment</h3>
        <button class="popup-close" (click)="closeCancelPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p class="content">
          Are you sure! <br>
          Do you want to cancel the {{countOfPending}} appointment ?
        </p>
      </div>
      <div class="modal-footer">
        <button class="approval-button" (click)="cancel()">Yes</button>
        <button class="close-button" (click)="closeCancelPopup()">No</button>
      </div>
    </div>
  </div>