<div class="container">
    <div class="close-opd" (click)="openCloseOpdPopup()">
        <img src="/close-opd.svg"> Close OPD
    </div>
    <button class="end-consul" [disabled]="isEndConsultation" (click)="endConsultation()" >
        <img src="/end.svg" > End Consultation
    </button>
</div>
<div class="table-container" *ngIf="!isLoading || !isDesktopView">
    <div class="table-wrapper">
      <table class="appointment-table" *ngIf="!isLoading">
        <thead>
          <tr>
            <th>No</th>
            <th>PRN</th>
            <th (click)="sortBy('patientName')" style="cursor: pointer;">
              Patient Name
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'patientName' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th (click)="sortBy('date')">
              Date
              <span *ngIf="sortColumn === 'date' && sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortColumn === 'date' && sortDirection === 'desc'">&#9660;</span>
            </th>
            <th>Time</th>
            <th>Counter</th>
 
            <th><span class="action" ></span>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredAppointments.length === 0">
            <td colspan="11" class="no-records-message">
              No records to display
            </td>
          </tr>
          <tr *ngFor="let appointment of getPaginatedAppointments(); let i = index"  [ngClass]="{
            'ongoing': appointment.checkedOut === true && !appointment.endConsultation,
            'pending': appointment.postPond === true,
            'finished': appointment.checkedOut === true && appointment.endConsultation === true,
            'blinking-row': appointment.overTime,
          }">
            <td>{{ i + 1 }}</td>
            <td>{{appointment.prnNumber? appointment.prnNumber: '-'}}</td>
            <td>{{ appointment.patientName }}</td>
            <td>{{ appointment.date | date:'dd-MM-yyyy' }}</td>
            <td>
               <span class="status-badge">{{ appointment.time }}</span>
            </td>
            <td>
              {{ formatTime(appointment.elapsedTime) }}
            </td>

            <td class="button">
              <button class="start" [disabled]="appointment.checkedOut === true" (click)="appointment.checkedOut === false && startConsultation(appointment)">
                <img class="image" src="/start.svg">Start 
              </button>
              <button class="finish" [disabled]="appointment.endConsultationTime !== null " (click)="appointment.checkedOut === true && appointment.endConsultationTime === null  && finishConsultation(appointment)">
                <img class="image" src="/finish.svg">Finish
              </button>
              <button class="postPond" (click)="postPondAppointment(appointment)">
                <img class="image" src="/pause.svg">PostPoned
              </button>
              <button class="estimation" (click)="openEstimationPopup(appointment)">
                <img class="image" src="/est.svg">P. Counselling
              </button>
              <button class="transfer" [disabled]="appointment.isTransfer" (click)="!appointment.isTransfer && openTransferPopup(appointment)">
                <img class="image" src="/transfer.svg">Transfer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
    <!-- Pagination Controls -->
    <div class="pagination">
      <button class="pagination-btn prev" (click)="prevPage()" [disabled]="currentPage === 1">←</button>
      <button class="pagination-btn next" (click)="nextPage()" [disabled]="currentPage === totalPages">→</button>
      <div class="page-info">
        Page
        <input type="number" [(ngModel)]="currentPage" min="1" [max]="totalPages" class="page-input"
          (change)="onPageChange()">
        of {{ totalPages }}
      </div>
    </div>
  </div>
  <div class="mobile-appointments" *ngIf="!isDesktopView">
    <!-- <div *ngFor="let appointment of filteredAppointments" class="appointment-card">
      <div class="card-header">
        <div class="patient-info">
          <div>
            <img src="admin-icons/admin-icon.jpg" class="profile-pic">
          </div>
          <div>
            <h3>{{ appointment.patientName }}</h3>
            <p class="patient">Patient</p>
          </div>
        </div>
       <div class="calendar-div">
        <p class="date-time">
          <img src="/w-calendar.svg" alt="calendar" class="icon"> {{ appointment.date }} 
        </p>
        <p class="date-time">
          <img src="/w-time.svg" alt="calendar" class="icon"> {{ appointment.time }}
        </p>
       </div>
      </div>
      <div class="card-actions">
        <button class="start" [disabled]="appointment.checkedOut === true" (click)="appointment.checkedOut === false && startConsultation(appointment)">
          <img class="image" src="/start.svg">Start 
        </button>
        <button class="finish" [disabled]="appointment.endConsultationTime !== null " (click)="appointment.endConsultationTime === null  && finishConsultation(appointment)">
          <img class="image" src="/finish.svg">Finish
        </button>
        <button class="postPond" (click)="postPondAppointment(appointment)">
          <img class="image" src="/pause.svg">PostPoned
        </button>
        <button class="estimation" (click)="openEstimationPopup(appointment)">
          <img class="image" src="/est.svg">Estimation
        </button>
        <button class="transfer" [disabled]="appointment.isTransfer" (click)="!appointment.isTransfer && openTransferPopup(appointment)">
          <img class="image" src="/transfer.svg">Transfer
        </button>
      </div>
    </div> -->
    <div class="mobile-appointments">
      <div *ngFor="let appointment of filteredAppointments; let i = index" 
           class="appointment-card"
           (click)="toggleCard(i,$event)"
           [ngClass]="{
            'ongoing': appointment.checkedOut === true && !appointment.endConsultation,
            'pending': appointment.postPond === true,
            'finished': appointment.checkedOut === true && appointment.endConsultation === true
          }"> <!-- ✅ Clicking toggles the full view -->
    
        <!-- Compact View -->
        <div class="card-header" *ngIf="!appointment.expanded">
          <div class="patient-info">
            <div>
              <img src="admin-icons/admin-icon.jpg" class="profile-pic">
            </div>
            <div class="patient-details">
              <div>
                <h3>{{ appointment.patientName }}</h3>
              <p class="patient">Patient</p>
              </div>
              <div>
                <p class="patient">PRN:{{appointment.prnNumber}}</p>
              </div>
              
            </div>
          </div>
        </div>
    
        <!-- Expanded View -->
        <div class="expanded-card" *ngIf="appointment.expanded">
          <div class="card-header">
            <div class="patient-info">
              <div>
                <img src="admin-icons/admin-icon.jpg" class="profile-pic">
              </div>
              <div class="patient-details">
                <div>
                  <h3>{{ appointment.patientName }}</h3>
                <p class="patient">Patient</p>
                </div>
                <div>
                  <p class="patient">PRN:{{appointment.prnNumber}}</p>
                </div>
                
              </div>
            </div>
            <div class="calendar-div">
              <p class="date-time">
                <img src="/w-calendar.svg" alt="calendar" class="icon"> {{ appointment.date | date:'dd-MM-yyyy' }}
              </p>
              <p class="date-time">
                <img src="/w-time.svg" alt="calendar" class="icon"> {{ appointment.time }}
              </p>
            </div>
          </div>
    
          <div class="card-actions">
            <button class="start" [disabled]="appointment.checkedOut" (click)="appointment.checkedOut === false && startConsultation(appointment)">
              <img class="image" src="/start.svg"> Start 
            </button>
            <button class="finish" [disabled]="appointment.endConsultationTime !== null" (click)="appointment.endConsultationTime === null && finishConsultation(appointment)">
              <img class="image" src="/finish.svg"> Finish
            </button>
            <button class="postPond" (click)="postPondAppointment(appointment)">
              <img class="image" src="/pause.svg"> Postponed
            </button>
            <button class="estimation" (click)="openEstimationPopup(appointment)">
              <img class="image" src="/est.svg"> P. Counselling
            </button>
            <button class="transfer" [disabled]="appointment.isTransfer" (click)="!appointment.isTransfer && openTransferPopup(appointment)">
              <img class="image" src="/transfer.svg"> Transfer
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="pagination">
      <button class="pagination-btn prev" (click)="prevPage()" [disabled]="currentPage === 1 || totalPages === 0">←</button>
      <button class="pagination-btn next" (click)="nextPage()" [disabled]="currentPage >= totalPages || totalPages === 0">→</button>
      <div class="page-info">
        Page
        <input type="number" [(ngModel)]="currentPage" min="1" [max]="totalPages" class="page-input"
          (change)="onPageChange()">
        of {{ totalPages }}
      </div>
    </div>
  </div>
  <p-toast></p-toast>
 
  
  <div class="loader" *ngIf="isLoading"></div>

  <div *ngIf="showEstimationPopup" class="estimation-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Estimation Form {{ currentDoctorName }}</h3>
        <button class="popup-close" (click)="closeEstimationPopup()">
          <img src="/popup-close.svg" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p>
          Patient Name<span class="space">:</span>{{ selectedAppointment?.patientName }}
        </p>
        <p>
          Date<span class="space-1">:</span> {{ selectedAppointment?.date | date:'dd-MM-yyyy' }}
        </p>

        <div class="estimation-type">
          <label class="estimation-type-label">Estimation Type:</label>
          <div class="radio-buttons">
            <label>
              <input type="radio" name="estimationType" [(ngModel)]="estimationType" value="MM" />
              Medical Management
            </label>
            <label>
              <input type="radio" name="estimationType" [(ngModel)]="estimationType" value="SM" />
              Surgical Management
            </label>
            <label>
              <input type="radio" name="estimationType" [(ngModel)]="estimationType" value="Maternity" />
              Maternity Management
            </label>
          </div>
        </div>
        <div class="estimation-type-container">
          <label class="estimation-type-label">Estimation Status:</label>
          <div class="radio-buttons">
            <label>
              <input type="radio" name="estimationStatus" (ngModelChange)="chooseDate()" [(ngModel)]="estimationStatus" value="planned" />
              Planned
            </label>
            <label>
              <input type="radio" name="estimationStatus" (ngModelChange)="todayDate()" [(ngModel)]="estimationStatus" value="immediate" />
              Immediate
            </label>
          </div>
        </div>
        <div class="estimation-type-container">
          <label class="estimation-type-label">Surgery Procedure:</label>
          <div class="radio-buttons">
            <label>
              <input type="radio" name="surgeryPackage" [(ngModel)]="surgeryPackage" value="single surgery" />
              Single Surgery
            </label>
            <label>
              <input type="radio" name="surgeryPackage" [(ngModel)]="surgeryPackage" value="multiple surgeries" />
              Multiple Surgeries
            </label>
          </div>
        </div>


      <div class="estimation-input-container">
        <!-- Input field for estimation -->
        <input 
          type="text" 
          [(ngModel)]="estimationText" 
          (input)="onEstimationInput()"
          (focus)="showEstimationSuggestions = true"
          class="custom-input"
        />
        <label for="estimationText" class="custom-label">Procedure Name*</label>
        <div *ngIf="surgeryPackage === 'multiple surgeries'" class="estimation-note">
          Note: Estimated Procedures:* (Eg: Surgery 1, Surgery 2, Surgery 3)
        </div>
        <!-- Dropdown for suggestions -->
        <ul 
          class="estimation-suggestions" 
          *ngIf="showEstimationSuggestions && filteredEstimations.length > 0"
        >
          <li 
            *ngFor="let estimation of filteredEstimations" 
            (click)="onEstimationSelect(estimation)"
          >
            {{ estimation }}
          </li>
        </ul>
      </div>
      
  
        <div class="input-container">
          <input
            type="date"
            id="estimationDate"
            name="estimationDate"
            class="custom-input"
            [(ngModel)]="estimationPreferedDate"
            required
          />
          <label for="estimationDate" class="custom-label">Prefer Date*</label>
        </div>
        <div class="stay-container">
          <div class="input-container">
            <input 
            type="text" 
            (input)="calculateWardStay()"
            [(ngModel)]="totalStay" 
            class="custom-input"
          />
          <label for="remarks" class="custom-label">Total Stay</label>
          </div>
          <div class="input-container">
            <input 
            type="text" 
            (input)="calculateWardStay()"
            [(ngModel)]="icu"  
            class="custom-input"
          />
          <label for="remarks" class="custom-label">ICU</label>
          </div>
          <div class="input-container">
            <input 
            type="text" 
  
            [(ngModel)]="ward" 
            class="custom-input"
          />
          <label for="remarks" class="custom-label">Ward</label>
          </div>
        </div>
        <div class="input-container">
          <input 
          type="text" 

          [(ngModel)]="remarks" 
          class="custom-input"
        />
        <label for="remarks" class="custom-label">Remarks</label>
        </div>
        <div class="input-container" *ngIf="estimationType === 'SM'">
          <select id="surgeryTime" name="surgeryTime" class="custom-input" [(ngModel)]="surgeryTime" required #surgeryTimeModel="ngModel">
            <option value="" disabled selected>Select Surgery Level</option>
            <option value="Level 1">Level 1</option>
            <option value="Level 1A">Level 1A</option>
            <option value="Level 2">Level 2</option>
            <option value="Level 2A">Level 2A</option>
            <option value="Level 3">Level 3</option>
            <option value="Level 3A">Level 3A</option>
            <option value="Level 4">Level 4</option>
            <option value="Level 4A">Level 4A</option>
            <option value="Level 5">Level 5</option>
            <option value="Level 5A">Level 5A</option>
            <option value="Level 6">Level 6</option>
            <option value="Level 6A">Level 6A</option>
            <option value="Level 7">Level 7</option>
            <option value="Level 7A">Level 7A</option>
            <option value="Level 8">Level 8</option>
            <option value="Level 8A">Level 8A</option>
          </select>
          <label for="surgeryTime" class="custom-label">Surgery Level*</label>
        </div>
        
      </div>
      <div class="modal-footer">
        <button class="save-button" (click)="saveEstimation()">Save</button>
        <button class="close-button" (click)="closeEstimationPopup()">Close</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="showCloseOpdPopup" class="close-opd-modal">
    <div class="modal-content-close-opd">
      <div class="modal-header">
        <h3>Select Slots for Close OPD </h3>
        <button class="popup-close" (click)="closeCloseOpdPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p>
          Please select slots to close OPD
        </p>
        <div class="select-all-container">
            <button class="select-all-button" (click)="selectAllSlots()">Select All</button>
            <button class="unselect-all-button" (click)="unselectAllSlots()">Unselect All</button>
          </div>
        <div class="slots-container">
          <div *ngFor="let slot of closeOpdAppointments" class="slot-item">
            <input
              type="checkbox"
              [id]="slot.time"
              [(ngModel)]="slot.selectedSlot"
            />
            <label [for]="slot.time">{{ slot.time }}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer-close-opd">
        <button class="approval-button" (click)="sendSelectedSlots()">Submit</button>
        <button class="close-button" (click)="closeCloseOpdPopup()">Cancel</button>
      </div>
    </div>
  </div>
  <div *ngIf="showLeaveRequestPopup" class="leave-request-modal">
    <div class="modal-content-leave">
      <div class="modal-header">
        <h3>Select Dates for Leave</h3>
        <button class="popup-close" (click)="closeLeaveRequestPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body-date">
        <form class="calendar-input">
          <div class="date-selection">
            <label for="startDate">Starting Date:</label>
            <input type="date" id="startDate" [(ngModel)]="startDate" placeholder="dd-mm-yyyy" name="startDate" min=”01-01-1920″, max=”01-01-2120″./>
            <!-- <p-calendar 
            id="startDate"
            styleClass="custom-calendar" 
            [(ngModel)]="startDate"
            placeholder="Start Date"
            dateFormat="dd-mm-yy">
              <!-- <ng-template pTemplate="date" let-date>
                  <span>
                      {{ selectedDate | date: 'dd' }}
                  </span>
              </ng-template> -->
          <!-- </p-calendar> -->
          </div>
          <div class="date-selection">
            <label for="endDate">Ending Date:</label>
            <input type="date" id="endDate" [(ngModel)]="endDate" placeholder="dd-mm-yyyy" name="endDate" min=”01-01-1920″, max=”01-01-2120″. />
            <!-- <p-calendar 
            id="endDate"
            styleClass="custom-calendar" 
            [(ngModel)]="endDate"
            placeholder="End Date"
            dateFormat="dd-mm-yy">
              <!-- <ng-template pTemplate="date" let-date>
                  <span>
                      {{ selectedDate | date: 'dd' }}
                  </span>
              </ng-template> -->
          <!-- </p-calendar> --> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button class="save-button" (click)="submitLeaveRequest()">Submit</button> -->
        <button  mat-raised-button  (click)="submitLeaveRequest()" class="save-button" [disabled]="!startDate && !endDate || isButtonLoading"   [class.spinner]="isButtonLoading" > <span>Submit</span></button>
        <button class="close-button" (click)="closeLeaveRequestPopup()">Close</button>
      </div>
    </div>
  </div>
  <div *ngIf="showTransferAppointment" class="close-opd-modal">
    <div class="modal-content-transfer">
      <div class="modal-header">
        <h3>Transfer Appointment</h3>
        <button class="popup-close" (click)="closeTransferPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p class="content">
          Are you sure! <br>
          Do you want to transfer the appointment for other department
        </p>
      </div>
      <div class="modal-footer">
        <button class="approval-button" (click)="transfer(this.selectedAppointment!)">Transfer</button>
        <button class="close-button" (click)="closeTransferPopup()">Cancel</button>
      </div>
    </div>
  </div>
  <div *ngIf="showCancelPopup" class="close-opd-modal">
    <div class="modal-content-transfer">
      <div class="modal-header">
        <h3>Postponed Appointments Warning</h3>
        <button class="popup-close" (click)="closeCancelPopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p class="content">
          Still {{countOfPending}} postponed appointments are there!
        </p>
      </div>
      <!-- <div class="modal-footer">
        <button class="approval-button" (click)="cancel()">Yes</button>
        <button class="close-button" (click)="closeCancelPopup()">No</button>
      </div> -->
    </div>
  </div>