<!-- login.component.html
<div class="login-container">
    <div class="login-form">
      <div class="logo">
        <img src="/login-logo.png" alt="Login Logo" />
      </div>
      <h2>LOGIN</h2>
      <p>Welcome to seamless healthcare management</p>
      
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="input-group">
            <img src="/username.png" alt="Username Icon" class="icon" />
          <input type="text" placeholder="Username" [(ngModel)]="username"
          name="username"
          required />
        </div>
        <div class="input-group">
            <img src="/password.png" alt="Username Icon" class="icon" />
            <input [type]="isPasswordVisible ? 'text' : 'password'"  class="input-field"  [(ngModel)]="password" placeholder="Password" name="password" required/>  
            <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="togglePasswordVisibility()">
          </div>
        <div class="login">
            <button  type="submit" [disabled]="!loginForm.valid " mat-raised-button [class.spinner]="isLoading"><span *ngIf="!isLoading">Login Now</span></button>
            <p-toast />
        </div>
      </form>
    </div>
    <div class="image">
        <div class="welcome-image">
            <h3>Welcome Back</h3>
            <img src="/login-doctor.png" alt="Doctors Illustration" />
    </div>

    </div>
   <p-toast></p-toast>
  </div>
   -->

   <div class="root-container">
      <div class="box">
        <div class="logoSection">
          <img src="/docminds_logo.png" alt="Login Logo" />
        </div>
        <div class="login_text">
          <div class="login">Login</div>
          <div class="quote">Welcome to seamless healthcare management</div>
        </div>
        <div class="form">
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="input-group">
              <label for="" class="">User ID</label>
              <input type="text" placeholder="Username" [(ngModel)]="username"
              name="username"
              required />
            </div>
            <div class="input-group">
                <label for="">Password</label>
                <input [type]="isPasswordVisible ? 'text' : 'password'"  class="input-field"  [(ngModel)]="password" placeholder="Password" name="password" required/>  
                <div class="eye">
                  <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="togglePasswordVisibility()">
                </div>
            </div>
            <div class="login marginTop">
                <button  type="submit" [disabled]="!loginForm.valid " mat-raised-button [class.spinner]="isLoading"><span *ngIf="!isLoading">Login Now</span></button>
            </div>
          </form>
        </div>
      </div>
      <p-toast />
   </div>