<!-- login.component.html -->
<div class="login-container">
    <div class="login-form">
      <div class="logo">
        <img src="/login-logo.png" alt="Login Logo" />
      </div>
      <h2>LOGIN</h2>
      <p>Welcome to seamless healthcare management</p>
      
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="input-group">
            <img src="/username.png" alt="Username Icon" class="icon" />
          <input type="text" placeholder="Username" [(ngModel)]="username"
          name="username"
          required />
        </div>
        <div class="input-group">
            <img src="/password.png" alt="Username Icon" class="icon" />
            <input [type]="isPasswordVisible ? 'text' : 'password'"  class="input-field"  [(ngModel)]="password" placeholder="Password" name="password" required/>  
            <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="togglePasswordVisibility()">
          </div>
        <div class="login">
            <button pButton type="submit" [disabled]="!loginForm.valid" [loading]="isLoading">Login Now</button>
            <p-toast />
        </div>
      </form>
    </div>
    <div class="image">
        <div class="welcome-image">
            <h3>Welcome Back</h3>
            <img src="/login-doctor.png" alt="Doctors Illustration" />
    </div>

    </div>
   <p-toast></p-toast>
  </div>
  