.root-container {
  width: 100vw;
  height: 100vh;
  background-image: url('/docMindsLogin.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoSection img{
  width: 100px;
  height: auto;
}

.box {
  border-radius: 28.458px;
  border: 2.134px solid rgba(88, 130, 193, 0.49);
  background: rgba(88, 130, 193, 0.28);
  backdrop-filter: blur(8.893229484558105px);
  height: 552px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.login {
  color: #FFF;
  font-family: Kanit;
  margin-top: 15px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.quote {
  color: #FFF;
  font-family: Kanit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.input-group{
  width: 100%;
  margin-top: 10px;
}

.input-group label {
  color: #FFF;
  font-family: Kanit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 5px 0;
}

.input-group input {
  display: flex;
  width: 270px;
  height: 32px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.711px solid #BCBEC0;
  background: #FFF;
  outline: none;
  margin-top: 4px;
}

.input-group input::placeholder{
  color: #BCBEC0;
  font-family: Kanit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-group .eye{
  position: relative;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}

.eye img{
  position: relative;
  margin-top: -32px;
  margin-right: 10px;
  width: 13px;
  height: 13px;
}

.marginTop{
  margin-top: 20px;
}

.login button{
  border-radius: 7.115px;
  background: #FB9C2A;
  width: 270px;
  height: 40px;
  margin-top: 8%;
  cursor: pointer;
  color: #FFF;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.spinner {
  position: relative;
  pointer-events: none; /* Prevent interaction while loading */
}

.spinner::after {
  content: '';
  position: absolute;
  margin-top: -15px;
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  /* transform: translate(-50%, -50%); */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




@media(max-width : 400px){

  .box{
    width: 300px;
  }

  .input-group input, .login button{
    width: 250px;
  }
}