/* login.component.css */
.login-container {
  display: flex;
  height: 100vh;
  background: url('/background.png') no-repeat center center/cover;
  padding: 3.5rem 14rem;
  
}

.login-form {
  flex: 1;
  background: #ffffff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 3px 4px 100px 0px rgba(0, 0, 0, 0.15);


}

.login-form h2 {
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  margin-bottom: 1rem;
}

.login-form p {
  margin-bottom: 2rem;
  color: #000;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.input-group {
  margin-bottom: 1.5rem;
  color: #1C1C1C;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
border-radius: 16px;
background: #E8F0FE;
width: 364px;
  height: 52px;
}
.eye-icon{
  padding-right: 17px;
  cursor: pointer;
}

.input-group input {
    flex: 1;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 16px;
  background: rgba(240, 237, 255, 0.8);
  flex-shrink: 0;
  font-size: 16px;
}

button {
  color: #ffffff;
  border: none;
  /* padding: 1rem 2rem; */

  cursor: pointer;
  border-radius: 16px;
  background: #F28729;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
  width: 124px;
  height: 52px;
  flex-shrink: 0;
  color: #fff;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login{
    display: flex;
    width: 100%;
      justify-content: center;
      align-items: center;
}

.login button:disabled{
    pointer-events: none;
    background: #ccc;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 3rem;
    background: url("/login-bg.png") no-repeat center center/cover;
    border-radius: 0px 24px 24px 0px;
}
.welcome-image {
  /* flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/login-bg.png") no-repeat center center/cover; */
  border: 1px solid rgba(255, 255, 255, 0.52);
background: rgba(255, 255, 255, 0.21);
backdrop-filter: blur(6.800000190734863px);
border-radius: 46px;
width: 412px;
height: 524px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
input:focus{
    outline: none;
    background: rgba(240, 237, 255, 0.8);
}
.input-group .icon {
    width: 24px; /* Set an appropriate size for the icons */
    height: 24px;
    margin-right: 10px;
    margin-left: 17px;
  }
.welcome-image h3 {
  color: #FFF;
  font-family: Kanit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.logo img{
  width: 90px;
  height: 90px;
}
.welcome-image img {
  /* width: 80%;
  max-width: 400px; */
  /* background: url("/login-doctor-bg.png") no-repeat center center/cover; */
 
  padding: 15px;
  width: 410px;
height: 410px;
flex-shrink: 0;
display: flex;
justify-self: center;
align-items: center;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner {
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
@media (max-width: 1024px) {
  .image,.welcome-image{ /* Hide cards except the 1st one (Form) */
    display: none; 
  }
  .login-container{
    padding: 3.5rem 7rem;
  }
  .login-form{
    border-radius: 24px;
  }
}

/* Mobile View (Optional if needed) */
@media (max-width: 768px) {
  .card, .card-1 {
    justify-content: center;
  }

}
@media (max-width: 500px){
  .login-container, .login-form{
    width: 100%;
  }
  .login-container{
    padding: 3.5rem 1rem;
  }
  .input-group{
    width: 100%;
  }
  .login-form p{
    text-align: center;
  }
}