.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F3FF;
  padding: 10px 20px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 12px;
  margin-left: 70px;
  padding-top: 20px;
}

.hospital-name {
  color: #000;
font-family: Kanit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
  background-color: white;
  padding: 13px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); 
}
.hospital-name-location{
  display: flex;
  align-items: center;
  margin: 0;
}

.user-section {
  display: flex;
  align-items: center;
}

.notification-icon svg {
  width: 24px;
  height: 24px;
  /* margin-right: 20px; */
  cursor: pointer;
}
.notification-icon{
  background-color: white;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); 
  border-radius: 10px;
  margin-right: 20px;
  /* border-radius: 50%; */
}

.profile-container {
  position: relative;
  display: inline-block;
}
.profile-info.profile-background{
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}
.profile-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* background-color: #f0f3ff; */
  padding: 10px 12px;
  border-radius: 8px;
 
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.profile-pic {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  margin-right: 10px;

}
.icon{
  margin-right: 15px;
  width: 18px;
  height: 18px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.username {
  color: #0e2970;
  font-size: 16px;
  font-family: Kanit, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.role {
  color: #6e6e6e;
  font-size: 14px;
  font-family: Kanit, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
  position: relative;
  top: -13px;
  transition: transform 0.3s ease-in-out;
  left: 10px;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.dropdowns-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  z-index: 1000;
}

.dropdowns-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdowns-menu li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
  font-family: Kanit;
  color: #0e2970;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdowns-menu li:hover {
  background-color: #f0f3ff;
}

.dropdowns-menu li img.menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.dropdowns-menu hr {
  margin: 10px 15px;
  border: 0.5px solid #000;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 100%;
  border: none;
  padding: 10px;
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 5px;
  z-index: 10;
  /* display: none; Initially hidden */
}

.dropdown-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Kanit;
}

.dropdown-open .dropdown-menu {
  display: block; /* Show the dropdown when dropdownOpen is true */
}
.notification-icon {
  position: relative;
  cursor: pointer;
}

.new-appointment {
  color: green; /* Highlight the notification icon */
  animation: newNotificationBlink 1s ease-in-out infinite alternate;
}

@keyframes newNotificationBlink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
::ng-deep .notification-bell .mat-badge-content {
  background-color: red !important;  /* Makes the badge color red */
  color: white !important;           /* Ensures the text color is readable */
  font-size: 10px !important;        /* Increases the size of the badge text */
  width: 27px !important;            /* Increases the size of the badge circle */
  height: 25px !important;           /* Increases the size of the badge circle */
  line-height: 26px !important;      /* Centers the text within the badge */
  top: -10px !important;             /* Adjusts the badge's vertical positioning */
  left: 10px !important;           /* Adjusts the badge's horizontal positioning */
}


.notification-icon {
  position: relative;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

.notification-dropdown {
  position: absolute;
  top: 60px; /* Adjusted to position correctly below the bell icon */
  right: 16rem;
  width: 443px; /* Increased width for a better layout */
  max-height: 600px; /* Limit the height */
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow-y: auto; /* Enable vertical scrolling when overflow */
  z-index: 1000;

}

.notification-item {
  padding: 20px 15px;
  border-bottom: 1px solid #000;;
  cursor: pointer;
  transition: background-color 0.2s;
}

.notification-item:hover {
  background-color: #f5f5f5;
}

.notification-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-title {
  color: #001345;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.notification-time {
  color: #001345;
  font-family: Kanit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.notification-message {
  color: #001345;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.notification-item:last-child {
  border-bottom: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.dialog-container {
  width: 650px;
  height: 520px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

  
.dialog-header {
  background: url('/dialog.png') no-repeat center center;
  background-size: cover;
  height: 293px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;

}

.warning-icon {
  border-radius: 50%;
  padding: 20px;
}

.dialog-body {
  padding: 20px;
}

.dialog-title {
  color: black;
  font-size: 48px;
  font-family: Kanit;
  font-weight: 400;
  word-wrap: break-word;
  margin: 10px 0;
  margin-bottom: 32px;
}

.dialog-message {
  color: #000;
  text-align: center;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.dialog-actions {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.delete-account-button {
  background-color: #ff1e1e;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 4px;
background: #D20006;
}

.delete-account-button:hover {
  background-color: #e60000;
}

.cancel-account-button {
  background-color: #d3d3d3;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.cancel-account-button:hover {
  background-color: #bcbcbc;
}
.logout{
  color: #D20006 !important;
}



@media screen and (max-width: 768px) {
  .header-container{
   margin-left: 0;
   justify-content: center;
  }
  .hospital-name{
    display: none;
  }
  .user-section{
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}