<div class="form-row">
    <!-- Dropdown for Search By -->
     <div class="column-1">
      <div class="p-field p-col-2">
        <p-dropdown [options]="searchOptions" [(ngModel)]="selectedSearchOption" placeholder="Search By" (ngModelChange)="onSearch()" class="custom-dropdown"></p-dropdown>
      </div>
      
      <div class="p-field p-col-3">
        <input pInputText [(ngModel)]="searchValue" placeholder="Search / 123456" class="custom-input-text"  (ngModelChange)="onSearch()" />
      </div>
        
          <!-- Search and Clear Buttons -->
          <div class="p-field p-col-2 buttons-container">
            <!-- <img (click)="onSearch()" src="/icons/search.png"> -->
            <svg (click)="onClear()" class="delete" xmlns="http://www.w3.org/2000/svg" width="3.5em" height="3.5em" viewBox="0 0 24 24">
              <path fill="#fff" d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-7 11q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17M7 6v13z" />
            </svg>
            <!-- <img (click)="onClear()" class="delete" src="/icons/delete-1.png" pTooltip="Delete"> -->
              </div>
     </div>
    
     <div class="p-field p-col-3">
      <!-- <img src="download.png" (click)="downloadData()" pTooltip="Download" > -->
     </div>
  
     <div class="p-field p-col-3 calendar">
        <!-- <p-calendar [(ngModel)]="selectedDate" placeholder="Calendar" class="custom-calendar"></p-calendar> -->
        <p-calendar 
        styleClass="custom-calendar" 
        [(ngModel)]="selectedDateRange"
        selectionMode="range"
        (ngModelChange)="onSearch()"
        
        placeholder="Calendar"
        dateFormat="dd-mm-yy">
          <ng-template pTemplate="date" let-date>
              <span>
                  {{ date.day }}
              </span>
          </ng-template>
      </p-calendar>
      <i class="fa-solid fa-angle-down calendar-icon"></i>
      <svg pTooltip="Refresh" (click)="refresh()" class="reverse" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="-1.5 -2.5 24 24"><path fill="currentColor" d="m4.859 5.308l1.594-.488a1 1 0 0 1 .585 1.913l-3.825 1.17a1 1 0 0 1-1.249-.665L.794 3.413a1 1 0 1 1 1.913-.585l.44 1.441C5.555.56 10.332-1.035 14.573.703a9.38 9.38 0 0 1 5.38 5.831a1 1 0 1 1-1.905.608A7.381 7.381 0 0 0 4.86 5.308zm12.327 8.195l-1.775.443a1 1 0 1 1-.484-1.94l3.643-.909a1 1 0 0 1 .61-.08a1 1 0 0 1 .84.75l.968 3.88a1 1 0 0 1-1.94.484l-.33-1.322a9.381 9.381 0 0 1-16.384-1.796l-.26-.634a1 1 0 1 1 1.851-.758l.26.633a7.381 7.381 0 0 0 13.001 1.25z"/></svg>

      <svg class="p-field p-col-3 download" src="download.png"   *ngIf="activeComponent==='confirmed' || activeComponent === 'completed' || activeComponent === 'cancelled'" (click)="downloadData()" pTooltip="Download" xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
        <path fill="#fff" fill-rule="evenodd" d="M3 17a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m3.293-7.707a1 1 0 0 1 1.414 0L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414" clip-rule="evenodd" />
      </svg> 

      </div>
      </div>


<div class="table-container" [ngClass]="{'loading': isLoading}" *ngIf="!isLoading">
    <div class="table-wrapper">
        <table class="appointment-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th (click)="sortBy('firstName')" style="cursor: pointer;">
                        Patient Name
                        <span *ngIf="sortColumn === 'firstName' && sortDirection === 'asc'">&#9650;</span>
                        <span *ngIf="sortColumn === 'firstName' && sortDirection === 'desc'">&#9660;</span>
                    </th>
                    <th>Package Name</th>
                    <th>No. of Consultation</th>
                    <th>No. of Radiology</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngIf="filteredServices.length === 0">
                <td colspan="11" class="no-records-message">
                  No records to display
                </td>
              </tr>
                <tr *ngFor="let service of getPaginatedAppointments(); let i = index">
                    <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                    <td>{{ service.firstName }} {{service.lastName}}</td>
                    <td>{{ service.packageName }}</td>
                    <td>{{service.consultationCount}}</td>
                    <td>{{service.radiologyCount}}</td>
                    <td class="button">
                      <button class="btn-action">
                        <img src="lab.svg" alt="check" class="action-icon"  (click)="openLabPopup(service)"
                          pTooltip="Lab" tooltipPosition="top">
                      </button>
                      <button class="btn-action" >
                        <img src="radio.svg" alt="check" class="action-icon" (click)="openRadiologyForm(service)"
                          pTooltip="Radiology" tooltipPosition="top">
                      </button>
                        <button class="btn-action" >
                          <img src="consul-edit.svg" alt="check" class="action-icon" (click)="openAppointmentForm(service)"
                            pTooltip="Appointments" tooltipPosition="top">
                        </button>
                        <button class="btn-action" >
                          <img src="radio-complete.svg" alt="check" class="action-icon" (click)="completeAppointment(service)"
                            pTooltip="Complete" tooltipPosition="top">
                        </button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
        <button class="pagination-btn prev" (click)="prevPage()" [disabled]="currentPage === 1">←</button>
        <button class="pagination-btn next" (click)="nextPage()" [disabled]="currentPage === totalPages">→</button>
        <div class="page-info">
          Page
          <input type="number" [(ngModel)]="currentPage" min="1" [max]="totalPages" class="page-input"
            (change)="onPageChange()">
          of {{ totalPages }}
        </div>
      </div>
      <p-toast></p-toast>
      <app-delete-confirmation-dialog [showDialog]="isLockedDialogVisible"
      (close)="handleLockedDialogClose()"></app-delete-confirmation-dialog>


  <!-- <div *ngIf="showPopup" class="close-opd-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Radiology Service </h3>
        <button class="popup-close" (click)="closePopup()">
          <img src="/popup-close.svg" alt="Close Popup" />
        </button>
      </div>
      <hr />
      <div class="modal-body">
        <p>
          Please select from below
        </p>

        <div class="checkbox-group">
          <label>
            <input type="checkbox" [(ngModel)]="chestXRay" [disabled]="chestXRayTime !== null">
            Chest X-Ray 
          </label>
    
          <label>
            <input type="checkbox" [(ngModel)]="ultrasound" [disabled]="ultrasoundTime !== null">
            Ultrasound (Abd & Plv) 
          </label>
    
          <label>
            <input type="checkbox" [(ngModel)]="boneDensitometry" [disabled]="boneDensitometryTime !== null">
            Bone Mineral Densitometry (Single Region) 
          </label>
    
          <label>
            <input type="checkbox" [(ngModel)]="mammography" [disabled]="mammographyTime !== null">
            Mammography 
          </label>
    
          <label>
            <input type="checkbox" [(ngModel)]="ecg" [disabled]="ecgTime !== null">
            ECG 
          </label>
    
          <label>
            <input type="checkbox" [(ngModel)]="echoTMT" [disabled]="echoTMTTime !== null">
            Echo OR TMT 
          </label>
  <!--   
          <label>
            <input type="checkbox" [(ngModel)]="usgEcho" [disabled]="usgEchoTime !== null">
            USG Abdomen & Pelvis 2D Echo <span *ngIf="usgEchoTime"> (Selected at {{ usgEchoTime }})</span>
          </label> -->
        <!-- </div>
      </div>
      <div class="modal-footer">
        <button class="save-button" (click)="submitSelection()">Submit</button>
        <button class="close-button" (click)="closePopup()">Cancel</button>
      </div>
    </div> --> 
    <div *ngIf="showLabPopup" class="close-opd-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Lab Service</h3>
          <button class="popup-close" (click)="closeLabPopup()">
            <img src="/popup-close.svg" alt="Close Popup" />
          </button>
        </div>
        <hr />
        <div class="modal-body">
          <p>Select an action below:</p>
        </div>
        <div class="modal-footer">
          <!-- ✅ Checked In Button -->
          <button class="save-button" (click)="labEntryTime()" [disabled]="selectedService.isLabEntryTime!=null">
            Checked In
          </button>
    
          <!-- ✅ Report Done Button -->
          <button class="close-button" (click)="labTime()" [disabled]="selectedService.isLabTime!=null">
            Report Done
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showPopup" class="close-opd-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Warning</h3>
          <button class="popup-close" (click)="closePopup()">
            <img src="/popup-close.svg" alt="Close Popup" />
          </button>
        </div>
        <hr />
        <div class="modal-body">
          <p>Some consultation and radiology appointments are still pending for this package.
            Do you want to proceed with completing the package?
            <br>
          </p>
          <i class="font-italic">Note: All incomplete appointments will be marked as cancelled upon proceeding.</i>
        </div>
        <div class="modal-footer">
          <!-- ✅ Checked In Button -->
          <button class="save-button" (click)="confirmCompletion()" >
            Yes, Proceed
          </button>
    
          <!-- ✅ Report Done Button -->
          <button class="close-button" (click)="closePopup()" >
            Cancel
          </button>
        </div>
      </div>
    </div>
    
  </div>

<div class="loader" *ngIf="isLoading"></div>
