<div class="dashboard-section">


      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'confirmed'}"
      (click)="showConfirmedAppointments()">
        <div class="card-icon">
          <img src="/radiology.svg" alt="Appointment Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>25</h2> -->
          <p>Confirmed Appts</p>
        </div>
      </div>
 
  </div>
  <div class="component-section">
    <app-therapist-appts *ngIf="activeComponent==='confirmed'"></app-therapist-appts>

  </div>