.container {
  height: 100vh;
  background-color: #f0f3ff;
}
.profile-wrapper {
  width: 1104px;
  flex-shrink: 0;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.tab-container {
  display: flex;
  justify-content: center;
  background: #002d72; /* Navy blue background */
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0;
}

.tab {
  flex: 1;
  padding: 10px 20px;
  color: #fff;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
}

.tab:not(.active-tab):hover {
  background: #004c99; /* Slightly lighter blue on hover */
}

.active-tab {
  background: #ffffff;
  color: #271e4a;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.content-container {
  background-color: #f0f3ff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture {
  margin: 10px 0;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-field {
  display: flex;
  width: 400px;
  padding: 11px 0px 11px 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  border: none;
  height: 52px;
  font-size: 18px;
}
.input-field:focus{
    outline: none;
}
.input-field::placeholder{
    color: #7B7B7B;
font-size: 18px;
font-weight: 400;
font-family: Kanit;
line-height: normal;
}

.password-container {
  position: relative;
  margin-top: 10px;
}

.password-container .eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.save-button {
  width: 110%;

  border: none;

  cursor: pointer;
  margin-top: 20px;
  display: inline-flex;
padding: 11px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #00B15C;
box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
color: #FFF;
font-family: Kanit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
height: 52px;
}

.save-button:hover {
  background: #218838;
}
.create-button,.delete-accounts-button{
  width: 25%;

  border: none;

  cursor: pointer;
  margin-top: 20px;
  display: inline-flex;
padding: 11px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #00B15C;
box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
color: #FFF;
font-family: Kanit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
height: 52px;
}

.delete-account {
  margin-top: 20px;
}

.delete-button {
  background: transparent;
  border: none;
  color: #D20006;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

.delete-button img {
  width: 16px;
  height: 16px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.dialog-container {
  width: 650px;
  height: 520px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

  
.dialog-header {
  background: url('/dialog.png') no-repeat center center;
  background-size: cover;
  height: 293px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;

}

.warning-icon {
  border-radius: 50%;
  padding: 20px;
}

.dialog-body {
  padding: 20px;
}

.dialog-title {
  color: black;
  font-size: 48px;
  font-family: Kanit;
  font-weight: 400;
  word-wrap: break-word;
  margin: 10px 0;
  margin-bottom: 32px;
}

.dialog-message {
  color: #000;
  text-align: center;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.dialog-actions {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.delete-account-button {
  background-color: #ff1e1e;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 4px;
background: #D20006;
}

.delete-account-button:hover {
  background-color: #e60000;
}

.cancel-account-button {
  background-color: #d3d3d3;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.cancel-account-button:hover {
  background-color: #bcbcbc;
}
.profile-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Aligning content to the left */
  gap: 15px; /* Adding space between items */
}

.profile-item {
  display: flex;
  gap: 5px;
  color: #000;
  font-family: Kanit;
  font-size: 20px;
  font-weight: 500;
}
/* 
.label {
  font-weight: bold;
} */
.styled-select {
  width: 401px;
    height: 52px;
    padding: 12px 20px;
    align-items: center;
    gap: 70px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(183, 183, 183, 0.40);
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
    font-size: 18px;
    font-weight: 400;
    font-family: Kanit;
    color: #7B7B7B;
    line-height: normal;
    appearance: none; /* For modern browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-image: url('/select-down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right : 14px;
    background-color: #FFF;
    background-size: 22px;
    border: none;
}

.styled-select option {
  color: #000; /* Regular color for options */
  font-size: 16px;
}

.styled-select:focus {
  outline: none; /* Remove focus ring from styled-select */
  border-color: none; /* Highlight color when dropdown is focused */
}

.styled-select::-ms-expand {
  display: none; /* Hide the default dropdown arrow in Internet Explorer */
}

.styled-select::after {
  content: '▼'; /* Add custom dropdown arrow */
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #7B7B7B;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Button disabled styles */
button[disabled] {
  background-color: #ccc; /* Grey color to indicate the button is disabled */
  color: #777; /* Light grey text color */
  cursor: not-allowed; /* Change the cursor to not-allowed */
  transform: none; /* Remove any hover/active transformations */
  box-shadow: none; /* Remove box shadow for a flat look */
}
.error-message {
  color: #d9534f; /* Red color for errors */
  font-size: 14px;
  margin: 10px 0;
  width:670px
}
.table-container {
  width: 100%;
  max-height: 400px; /* Max height for scrolling vertically */
  margin: auto;
  margin-top: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 10px; /* Smooth borders for the table container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for a card-like effect */
  font-family: Kanit;
}
.radio-container {
  margin: 10px 0;
  text-align: left;
  width: 39%;
}

.radio-container label {
  color: #000;
  font-family: Kanit;
  font-size: 17px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.radio-option {
  margin-left: 0;
  margin-top: 5px;
  display: flex;
  align-items: center;

}

.radio-option input[type='radio'] {
  margin-right: 8px;
}


.styled-table {
  width: 100%;
  border-collapse: collapse;

}

.styled-table th,
.styled-table td {
  padding: 15px;
  text-align: center; /* Center align content like the provided image */
}

.styled-table th {
  background: #00CAC0; /* Dark blue background for headers */
  color: #fff; /* White text for headers */
  font-weight: 600;
  position: sticky;
  top: 0; /* Keep headers sticky while scrolling */
  z-index: 2; /* Keep it above other elements */
  
box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
}

.styled-table td {
 /* White background for content cells */
  color: #000; /* Dark blue text for content */
  /* border-radius: 16px; */
  /* background: rgba(255, 255, 255, 0.10);
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  transition: box-shadow 0.3s ease;Light border below cells */
}
/* .styled-table tr {
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  border-radius: 16px;
  transition: box-shadow 0.3s ease;/* Light border below cells */
  tbody tr {
    /* border-bottom: 1px solid #ddd; */
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); border-radius: 16px; 
    height: 60px;
  }
  
  tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.10);
     box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); border-radius: 16px;
  }

  tbody tr:hover {
    background-color: #f0f8ff;
  }


