<div class="container">
  <div class="profile-wrapper">
    <!-- Tab Menu -->
    <div class="tab-container">
      <div class="tab" [ngClass]="{ 'active-tab': selectedTab === 'profile' }" (click)="switchTab('profile')"
        *ngIf="canAccessTab('profile')">
        Profile Details
      </div>
      <div class="tab" [ngClass]="{ 'active-tab': selectedTab === 'reset' }" (click)="switchTab('reset')"
        *ngIf="canAccessTab('reset')">
        Reset Password
      </div>
      <div class="tab" [ngClass]="{ 'active-tab': selectedTab === 'login' }" (click)="switchTab('login')"
        *ngIf="canAccessTab('login')">
        Account Creation
      </div>
      <div class="tab" [ngClass]="{'active-tab': selectedTab === 'delete'}" (click)="switchTab('delete')"
        *ngIf="canAccessTab('delete')">
        Delete Account
      </div>
    </div>

    <div class="content-container" *ngIf="selectedTab === 'profile'">
      <!-- Profile Picture -->
      <div class="profile-picture">
        <img src="/login-profile-pic.png" alt="Profile Picture">
      </div>

      <!-- Email Input -->
      <!-- <div class="input">
        <input type="text" class="input-field" [(ngModel)]="username" placeholder="Username_admin@rashtrotthana" disabled> -->

        <!-- Password Input -->
        <!-- <div class="password-container">
          <input [type]="isPasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="password"
            placeholder="********">
          <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon"
            (click)="togglePasswordVisibility()">
        </div>
      </div> -->

      <!-- Save Button -->
      <!-- <button class="save-button" (click)="changePassword()">Save Changes</button> -->
       <!-- User Info -->
  <!-- User Info -->
<div class="profile-info">
  <div class="profile-item">
    <span class="label">User Id :</span>
    <span class="value">{{username}}</span>
  </div>
  <div class="profile-item">
    <span class="label">Role :</span>
    <span class="value">{{role}}</span>
  </div>
  <div class="profile-item">
    <span class="label">No. of Appointments handled :</span>
    <span class="value">{{appointmentsCount}}</span>
  </div>
</div>


      <!-- Delete Account -->
      <div class="delete-account">
        <button class="delete-button" (click)="logout()">
          <img src="logout.png" alt="Delete Icon"> Logout
        </button>
      </div>
    </div>
    <div class="content-container" *ngIf="selectedTab === 'reset'">
      <!-- Profile Picture -->
      <div class="profile-picture">
        <img src="/login-profile-pic.png" alt="Profile Picture">
      </div>

      <!-- Email Input -->
      <div *ngIf="currentUserRole !== 'super_admin'" class="input">
        <input type="text" class="input-field" [(ngModel)]="username" placeholder="Username_admin@rashtrotthana" disabled>
         <!-- <div class="password-container">
                  <input [type]="isOldPasswordVisible ? 'text' : 'password'"  class="input-field" [(ngModel)]="oldPassword" placeholder="Old Password">
                  <img [src]="isOldPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="toggleOldPasswordVisibility()" >
                </div>  -->
        <div class="password-container">
          <input [type]="isNewPasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="newPassword"
            placeholder="New Password">
          <img [src]="isNewPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon"
            (click)="toggleNewPasswordVisibility()">
        </div>

        <!-- Password Input -->
         <div class="password-container">
          <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" class="input-field"
            [(ngModel)]="confirmPassword" placeholder="Confirm New Password">
          <img [src]="isConfirmPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password"
            class="eye-icon" (click)="toggleConfirmPasswordVisibility()">
        </div>
      </div> 
      <div *ngIf="currentUserRole !== 'super_admin'">
        <button class="save-button" (click)="resetPassword()">Reset Password</button>
      </div>

      
<!-- Select User for Super Admin -->
  <!-- <div *ngIf="currentUserRole === 'super_admin'" class="form-group">
    <label for="userSelect">Select User to Reset Password:</label>
    <select id="userSelect" [(ngModel)]="selectedUser">
      <option *ngFor="let user of users" [value]="user.username">
        {{ user.username }}
      </option>
    </select>
  </div> -->
  <div *ngIf="currentUserRole === 'super_admin'" class="form-group">
    <select id="userSelect" [(ngModel)]="selectedUser" class="styled-select password-container">
      <option value="" disabled selected hidden>Select User to Reset Password</option>
      <option *ngFor="let user of users" [value]="user.username">
        {{ user.username }}
      </option>
    </select>
  </div>

<!-- New Password Input Fields -->
<div *ngIf="currentUserRole === 'super_admin'" class="password-container">
  <input [type]="isNewPasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="newPassword"
    placeholder="New Password">
  <img [src]="isNewPasswordVisible ? '/not-show.png' : '/show-password.png'" alt="Show Password" class="eye-icon"
    (click)="toggleNewPasswordVisibility()">
</div>

<div *ngIf="currentUserRole === 'super_admin'" class="password-container">
  <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="confirmPassword"
    placeholder="Confirm New Password">
  <img [src]="isConfirmPasswordVisible ? '/not-show.png' : '/show-password.png'" alt="Show Password"
    class="eye-icon" (click)="toggleConfirmPasswordVisibility()">
</div>

<!-- Button to Reset Password for Super Admin -->
<div *ngIf="currentUserRole === 'super_admin'">
  <button class="save-button" (click)="resetUserPassword()">Reset User Password</button>
</div>



      <!-- 
             <div class="input">
              <input type="text" class="input-field" [(ngModel)]="username" placeholder="Username_admin@rashtrotthana">
            
              <div class="password-container">
                <input [type]="isPasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="oldPassword" placeholder="Old Password">
                <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="togglePasswordVisibility()">
              </div>
            
              <div class="password-container">
                <input [type]="isPasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="newPassword" placeholder="New Password">
                <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="togglePasswordVisibility()">
              </div>
            
              <div class="password-container">
                <input [type]="isPasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="confirmPassword" placeholder="Confirm New Password">
                <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="togglePasswordVisibility()">
              </div>
            
              <div *ngIf="passwordMatchError" class="error-message">{{ passwordMatchError }}</div>
            
              <button (click)="resetPassword()">Reset Password</button>
            </div> -->


      <!-- Save Button -->
      <!-- <button class="save-button" (click)="resetPassword()">Save Changes</button> -->

      <!-- Delete Account
            <div class="delete-account">
              <button class="delete-button" (click)="openDeleteDialog()">
                <img src="doc-delete.svg" alt="Delete Icon"> Delete Account
              </button>
            </div> -->
    </div>
    <div class="content-container" *ngIf="selectedTab === 'login'">
      <!-- Profile Picture -->
      <div class="profile-picture">
        <img src="/login-profile-pic.png" alt="Profile Picture">
      </div>

      <!-- Email Input -->
      <div class="input">
        <input type="text" class="input-field" [(ngModel)]="username" placeholder="Username_admin@rashtrotthana">

        <!-- Password Input -->
        <div class="password-container">
          <input [type]="isCreatePasswordVisible ? 'text' : 'password'" class="input-field" [(ngModel)]="password"
            placeholder="********">
          <img [src]="isCreatePasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password"
            class="eye-icon" (click)="toggleCreatePasswordVisibility()">
        </div>
      </div>

      <!-- Save Button -->
      <button class="create-button" (click)="createAccount()">Create Account</button>
<p-toast />

      <!-- Delete Account
            <div class="delete-account">
              <button class="delete-button" (click)="openDeleteDialog()">
                <img src="doc-delete.svg" alt="Delete Icon"> Delete Account
              </button>
            </div> -->
    </div>
    <div class="content-container" *ngIf="selectedTab === 'delete'">
      <!-- Profile Picture -->
      <div class="profile-picture">
        <img src="/login-profile-pic.png" alt="Profile Picture">
      </div>

      <!-- Email Input -->
      <div class="input">
        <input type="text" class="input-field" [(ngModel)]="username" placeholder="Username_admin@rash.com">

        <!-- Password Input -->
        <!-- <div class="password-container">
                <input [type]="isPasswordVisible ? 'text' : 'password'"  class="input-field"  [(ngModel)]="password" placeholder="********">
                <img [src]="isPasswordVisible? '/not-show.png': '/show-password.png'" alt="Show Password" class="eye-icon" (click)="togglePasswordVisibility()">
              </div> -->
      </div>

      <!-- Save Button -->
      <button class="delete-accounts-button" (click)="openDeleteDialog()">Delete Account</button>

      <!-- Delete Account
            <div class="delete-account">
              <button class="delete-button" (click)="openDeleteDialog()">
                <img src="doc-delete.svg" alt="Delete Icon"> Delete Account
              </button>
            </div> -->
    </div>
    <!-- Delete Confirmation Modal -->
    <!-- Delete Account Confirmation Dialog -->
    <div class="overlay" *ngIf="showDeleteConfirmDialog">
      <div class="dialog-container">
        <div class="dialog-header">
          <img src="/danger.png" alt="Warning Icon" class="warning-icon">
        </div>
        <div class="dialog-body">
          <div class="dialog-title">Are You Sure!</div>
          <div class="dialog-message">
            Do you really want to delete this account? This action cannot be undone.
          </div>
          <div class="dialog-actions">
            <button class="delete-account-button" (click)="deleteUser()">Yes, Delete it!</button>
            <button class="cancel-account-button" (click)="closeDeleteDialog()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay" *ngIf="showLogoutConfirmDialog">
      <div class="dialog-container">
          <div class="dialog-header">
              <img src="/danger.png" alt="Warning Icon" class="warning-icon">
          </div>
          <div class="dialog-body">
              <div class="dialog-title">Are You Sure!</div>
              <div class="dialog-message">
                  Do you really want to log out? This action will end your session.
              </div>
              <div class="dialog-actions">
                  <button class="delete-account-button" (click)="confirmLogout()">Yes, Log Out</button>
                  <button class="cancel-account-button" (click)="closeLogoutDialog()">Cancel</button>
              </div>
          </div>
      </div>
  </div>



  </div>
</div>