.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(217, 217, 217, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: Kanit;
}
.modal-container {
  padding: 20px;
  border-radius: 10px;
  border-radius: 47px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  width: 1201px;
  height: 588px;
  margin: auto;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: Kanit;
}

.modal-header h2 {
    color: #271E4A;

    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.doctor-form-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 50px;
}

.close-button-1 {
  background: transparent;
  border: none;
  font-size: 55px;
  cursor: pointer;
  color: #333;
}

.row {
  display: flex;
  gap: 20px;

}

.col {
  flex: 1;
  position: relative;

  width: 300px;
}



.update-button {
  display: inline-flex;
width: 200px;
padding: 7px 14px;
justify-content: center;
align-items: center;
gap: 10px;
height: 44px;
  cursor: pointer;
  border-radius: 4px;
background: #169458;
border: none;
color: #FFF;

font-family: Kanit;
font-size: 20px;
font-style: normal;
font-weight: 400;
}

.close-button {
  display: inline-flex;
padding: 7px 14px;
justify-content: center;
align-items: center;
gap: 10px;
width: 200px;
height: 44px;
border-radius: 4px;
border: 1px solid #7B7B7B;
  cursor: pointer;
  background-color: #fff;
  color: #7B7B7B;

font-family: Kanit;
font-size: 20px;
font-style: normal;
font-weight: 400;
}

.update-button:hover,
.close-button:hover {
  opacity: 0.8;
}
/* .form-group.availability-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  } */
  
  .availability-group-inline {
    display: flex;
    align-items: center;
  }
  
  .availability-label-inline {
    margin-right: 15px; /* Adjust as needed */
     /* Make sure it matches your desired design */
  }
  
  .availability-days-inline {
    display: flex;
    gap: 15px; /* Adjust the spacing between checkboxes */
  }
  
  .day-option-inline {
    display: flex;
    align-items: center;
  }
  
  .availability-checkbox-inline {
    margin-right: 5px; /* Adjust spacing between checkbox and label */
  }
  
  .availability-day-label-inline {
    font-size: 14px; /* Adjust font size if needed to match design */
  }
  #department-search {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #department {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-form-field {
    position: relative;
    margin: 20px 0;
  }
  
  .custom-form-field input {
    width: 100%;
    padding: 12px 10px 12px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .custom-form-field select {
    width: 100%;
    padding: 12px 10px 12px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .custom-form-field input:focus {
    border: 2px solid #007bff; /* Blue color on focus */
  }
  .custom-form-field select:focus {
    border: 2px solid #007bff; /* Blue color on focus */
  }
  
  .custom-form-field label {
    position: absolute;
    top: 12px;
    left: 10px;
    background: #fff;
    padding: 0 8px;
    color: #666;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  small{
    color: red;
  }
  
  .custom-form-field input:focus + .input-label, select:focus + .input-label,
  .custom-form-field input:not(:placeholder-shown) + .input-label {
    top: -10px;
    font-size: 12px;
    color: #007bff; /* Label color changes on focus or when filled */
  }
  .custom-form-field select:not(:placeholder-shown) + .input-label {
    top: -10px;
    font-size: 12px;
    color: #007bff; /* Label color changes on focus or when filled */
  }
  ::ng-deep .p-multiselect{
    width: 100%;
  }

  .custom-form-field {
    position: relative;
    margin: 1em 0;
  }
  
  .dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    width: calc(100% - 2px);
    z-index: 10;
  }
  
  .dropdown-item {
    padding: 0.5em;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    /* background-color: #f1f1f1; */
  }
  
  .form-label {
    position: absolute;
    top: -10px;
    left: 12px;
    font-size: 12px;
    /* background: #fff; */
    padding: 0 4px;
    color: #2196f3;
  }
  .update-button.disabled,
  .update-button:disabled {
    background: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  