<div class="overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h2>{{ isEditMode ? 'Edit Doctor Information' : 'Add Doctor Information' }}</h2>
      <span class="close-button-1" (click)="cancelEdit()">&times;</span>
    </div>
<div class="form-container">
  <form #doctorForm="ngForm" (ngSubmit)="saveDoctor()">
      
    <!-- Step 1: Doctor Details -->
    <div *ngIf="currentStep === 1">
      <div class="row">
        <!-- Doctor Name -->
        <div class="col">
          <div class="custom-form-field">
            <input type="text" id="name" [(ngModel)]="doctor!.name" name="name" pattern="^[a-zA-Z.() ]+$" placeholder="Dr. Doctor Name" required #name="ngModel" />
            <label for="name" class="input-label">Doctor Name*</label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
              <small *ngIf="name.errors && name.errors['required']">Name is required</small>
              <small *ngIf="name.errors && name.errors['pattern']">Name cannot contain numbers</small>
            </div>
          </div>
        </div>

        <!-- Qualification -->
        <div class="col">
          <div class="custom-form-field">
            <input type="text" id="qualification" [(ngModel)]="doctor!.qualification" name="qualification" placeholder="MBBS" required #qualification="ngModel" />
            <label for="qualification" class="input-label">Qualification*</label>
            <div *ngIf="qualification.invalid && (qualification.dirty || qualification.touched)" class="error-message">
              <small *ngIf="qualification.errors && qualification.errors['required']">Qualification is required</small>
            </div>
          </div>
        </div>
      </div>

      <!-- Email and Mobile Number -->
      <div class="row">
        <div class="col">
          <div class="custom-form-field">
            <input type="email" id="email" [(ngModel)]="doctor!.email" name="email" placeholder=""  #email="ngModel" />
            <label for="email" class="input-label">Email*</label>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
              <!-- <small *ngIf="email.errors && email.errors['required']">Email is required</small> -->
              <small *ngIf="email.errors && email.errors['pattern']">Valid email is required</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="custom-form-field">
            <input type="tel" id="phone_number" [(ngModel)]="doctor!.phone_number" name="phone_number" pattern="^[0-9]{10}$" maxlength="10" placeholder="9876543210" required #phone_number="ngModel" />
            <label for="phone_number" class="input-label">Mobile Number*</label>
            <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)" class="error-message">
              <small *ngIf="phone_number.errors && phone_number.errors['required']">Valid mobile number is required</small>
              <small *ngIf="phone_number.errors && phone_number.errors['pattern']">Phone number must be 10 digits</small>
            </div>
          </div>
        </div>
      </div>

<!-- Department -->
<div class="row">
<div class="col">
  <div class="custom-form-field">
    <select
      id="departmentSelect"
      [(ngModel)]="doctor!.departmentId"
      name="department"
      class="form-control"
      required
      #department="ngModel"
      (ngModelChange)="onDepartmentChange($event)">
      <option *ngIf="!isEditMode" value="">Select Department</option>
      <option *ngFor="let department of departments" [ngValue]="department.id">
        {{ department.name }}
      </option>
    </select>
    <label for="departmentSelect" class="input-label">Department*</label>
    <div *ngIf="department.invalid && (department.dirty || department.touched)" class="error-message">
      <small *ngIf="department.errors && department.errors['required']">Department is required</small>
    </div>
  </div>
</div>
</div>


      

      <!-- Next Button -->
      <div class="row next">
        <div class="col next-col">
          <button type="button" class="update-button" (click)="goToStep(2)" [disabled]="!isDoctorValid()" >Next</button>
        </div>
      </div>
    </div>

    <!-- Step 2: Availability Information -->
<!-- Step 2: Availability Information -->
<div *ngIf="currentStep === 2">
<!-- Ask if the available time is the same for all days -->
<div class="row">
  <div class="col">
    <label class="availability-label-inline">Use the same available time for all selected days?</label>
    <div>
      <label>
        <input type="radio" [(ngModel)]="useSameTimeForAllDays" [value]="true" name="useSameTimeForAllDays" /> Yes
      </label>
      <label>
        <input type="radio" [(ngModel)]="useSameTimeForAllDays" [value]="false" name="useSameTimeForAllDays" /> No
      </label>
    </div>
  </div>
</div>

<!-- Availability Days Selection -->
<div class="row">
  <div class="col form-group availability-group-inline">
    <label class="availability-label-inline">Availability Days *</label>
    <div class="availability-days-inline">
      <div class="day-option-inline" *ngFor="let day of availabilityDaysList">
        <input type="checkbox" id="{{ day }}"   [checked]="doctor!.availabilityDays[day.toString()]"
        (change)="updateAvailability(day.toString(), $event)"[attr.name]="day" name="availability" class="availability-checkbox-inline" />
        <label for="{{ day }}" class="availability-day-label-inline">{{ day.toString() | titlecase }}</label>
      </div>
    </div>
    <div *ngIf="!isAnyDaySelected() && doctorForm.submitted" class="error-message">
      <small *ngIf="doctorForm.submitted">At least one availability day must be selected</small>
    </div>
  </div>
</div>
<div class="row">
<small>*Enter the available time in 24 hour format</small>
</div>

<!-- If the same available time for all selected days -->
<div *ngIf="useSameTimeForAllDays">
  <div class="row">
    <div class="col">
      <div class="custom-form-field">
        <input type="text" id="availableTimeAll" [(ngModel)]="generalAvailableFrom" name="availableTime" #availableTime="ngModel"
          pattern="^\d{2}:\d{2}-\d{2}:\d{2}$" placeholder="09:00-17:00" required />
        <label for="availableTimeAll" class="input-label">Available Time*</label>
        <div *ngIf="availableTime.invalid && (availableTime.dirty || availableTime.touched)" class="error-message">
          <small *ngIf="availableTime.errors && availableTime.errors['required']">Available time is required</small>
          <small *ngIf="availableTime.errors && availableTime.errors['pattern']">Time must be in format 00:00-00:00</small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="custom-form-field">
        <input type="number" id="slotTiming" [(ngModel)]="generalSlotDuration" name="slotTiming" min="1" placeholder="20"
          required #slotTiming="ngModel" (ngModelChange)="generateSlots()" />
        <label for="slotTiming" class="input-label">Slot Timing*</label>
        <div *ngIf="slotTiming.invalid && (slotTiming.dirty || slotTiming.touched)" class="error-message">
          <small *ngIf="slotTiming.errors && slotTiming.errors['required']">Slot timing is required</small>
          <small *ngIf="slotTiming.errors && slotTiming.errors['min']">Slot timing must be a positive number</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- If different available times for each selected day -->
<!-- <div *ngIf="!useSameTimeForAllDays">
  <div class="row" *ngFor="let day of availabilityDaysList">
    <div class="col" *ngIf="doctor!.availabilityDays[day]">
      <label class="input-label">{{ day.toString()| titlecase }} Available Time</label>
      <div class="custom-form-field">
        <input type="text" [(ngModel)]="individualAvailability[day].availableFrom" pattern="^\d{2}:\d{2}-\d{2}:\d{2}$"
          placeholder="09:00-17:00" required name="availableFrom{{day}}" />
        <label for="availableFrom{{day}}" class="input-label">Available Time*</label>
        <div *ngIf="doctorForm.submitted && !individualAvailability[day].availableFrom" class="error-message">
          <small>Available time is required</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Single Slot Duration for All Days -->
  <!-- <div class="row">
    <div class="col">
      <div class="custom-form-field">
        <input type="number" id="slotTiming" [(ngModel)]="generalSlotDuration" name="slotTiming" min="1" placeholder="20"
          required />
        <label for="slotTiming" class="input-label">Slot Timing*</label>
        <div *ngIf="doctorForm.submitted && !generalSlotDuration" class="error-message">
          <small>Slot timing is required</small>
        </div>
      </div>
    </div>
  </div>
</div> --> 
<!-- If different available times for each selected day -->
<!-- If different available times for each selected day -->
<div *ngIf="!useSameTimeForAllDays">
<div class="availability-container">
  <!-- Left Column: Sun, Mon, Tue, Wed -->
  <div class="column">
    <!-- <div class=" custom-form-field" *ngFor="let day of availabilityDaysList.slice(0, 4)">
      <div *ngIf="doctor!.availabilityDays[day]">
        <label class="input-label">{{ day.toString() | titlecase }} </label>
        <input type="text"  [(ngModel)]="individualAvailability[day].availableFrom" pattern="^\d{2}:\d{2}-\d{2}:\d{2}$"
          placeholder="09:00-17:00" required name="availableFrom{{day}}"  />
      </div>
    </div> -->
    <div class="custom-form-field" *ngFor="let day of availabilityDaysList.slice(0, 4)">
      <div *ngIf="doctor!.availabilityDays[day]">
        <input type="text" id="availableTimeAll" [(ngModel)]="individualAvailability[day].availableFrom"  name="availableFrom{{day}}" #availableTime="ngModel"
        pattern="^\d{2}:\d{2}-\d{2}:\d{2}$" placeholder="09:00-17:00" required (change)="onAvailabilityChange(day)"/>
      <label  class="input-label">{{ day.toString() | titlecase }} Available Time* </label>
      <div *ngIf="availableTime.invalid && (availableTime.dirty || availableTime.touched)" class="error-message">
        <small *ngIf="availableTime.errors && availableTime.errors['required']">Available time is required</small>
        <small *ngIf="availableTime.errors && availableTime.errors['pattern']">Time must be in format 00:00-00:00</small>
      </div>
      </div>
     
    </div>
  </div>

  <!-- Right Column: Thu, Fri, Sat -->
  <div class="column">
    <div class="custom-form-field" *ngFor="let day of availabilityDaysList.slice(4)">
      <div *ngIf="doctor!.availabilityDays[day]">
        <input type="text" id="availableTimeAll" [(ngModel)]="individualAvailability[day].availableFrom" name="availableFrom{{day}}"  #availableTime="ngModel"
        pattern="^\d{2}:\d{2}-\d{2}:\d{2}$" placeholder="09:00-17:00" required (change)="onAvailabilityChange(day)" />
      <label  class="input-label">{{ day.toString() | titlecase }} Available Time* </label>
      <div *ngIf="availableTime.invalid && (availableTime.dirty || availableTime.touched)" class="error-message">
        <small *ngIf="availableTime.errors && availableTime.errors['required']">Available time is required</small>
        <small *ngIf="availableTime.errors && availableTime.errors['pattern']">Time must be in format 00:00-00:00</small>
      </div>
      </div>
     
    </div>
  </div>
</div>

<!-- Single Slot Duration for All Days -->
<div class="row">
    <div class="col">
      <div class="custom-form-field">
        <input type="number" id="slotTiming" [(ngModel)]="generalSlotDuration" name="slotTiming" min="1" placeholder="20"
          required #slotTiming="ngModel" (ngModelChange)="generateSlots()" />
        <label for="slotTiming" class="input-label">Slot Timing*</label>
        <div *ngIf="slotTiming.invalid && (slotTiming.dirty || slotTiming.touched)" class="error-message">
          <small *ngIf="slotTiming.errors && slotTiming.errors['required']">Slot timing is required</small>
          <small *ngIf="slotTiming.errors && slotTiming.errors['min']">Slot timing must be a positive number</small>
        </div>
      </div>
    </div>
</div>
</div>

<!-- <div class="row">
<div class="col">
  <div class="custom-form-field">
    <label for="unavailableSlots" class="input-label">Unavailable Slots*</label>
    <p-multiSelect 
    [options]="generatedSlotOptions"
    [(ngModel)]="unavailableSlots" 
    optionLabel="label" 
    name="unavailableSlots"
    placeholder="Select Unavailable Slots">
  </p-multiSelect>
  </div>
</div>
</div> -->
<!-- Add the row for the heading -->
<div class="row">
  <div class="col">
    <h3 class="form-heading">Select unavailable Slots:</h3> <!-- Heading with distinct styling -->
  </div>
</div>

<!-- Form fields for date and unavailable slots -->
<div class="row">
  <div class="col">
    <div class="custom-form-field">
      <!-- Calendar Picker for Selecting a Date -->
      <label for="calendar" class="input-label">Select a Date*</label>
      <p-calendar [(ngModel)]="selectedDate" (onSelect)="onDateSelect()" showIcon="true" name="calendar" appendTo="body" [minDate]="minDate" placeholder="Select a date for unavailable slots"></p-calendar>
    </div>
  </div>

  <div class="col">
    <div class="custom-form-field">
      <label for="unavailableSlots" class="input-label">Unavailable Slots for Selected Date*</label>
      <p-multiSelect
        [options]="generatedSlotOptions"
        [(ngModel)]="unavailableSlotsPerDate[selectedDateKey]"
        optionLabel="label"
        name="unavailableSlots"
        placeholder="Select Unavailable Slots">
      </p-multiSelect>
    </div>
  </div>
</div>


<!-- Generated Slots based on Selected Date -->




<!-- Back and Submit Buttons -->
<div class="doctor-form-actions">
  <button class="close-button" type="button" (click)="goToStep(1)">Back</button>
  <button class="update-button" type="submit"
  [disabled]="!isFormValid() || !isAnyDaySelected()"
  [ngClass]="{'disabled': !isFormValid() || !isAnyDaySelected()}">
  {{ isEditMode ? 'Update' : 'Add' }}
</button>

  
</div>

</div>




  </form>
</div>
  </div>
  <p-toast></p-toast>
</div>
