
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.appointment-modal {
  width: 65%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 700px;
  overflow-y: auto;
}

.appointment-modal::-webkit-scrollbar{
    display: none;
}
.header{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.prn-suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc; /* Border to define dropdown */
  background-color: #ffffff; /* White background to resemble a dropdown */
  max-height: 200px; /* Restrict height for better display */
  overflow-y: auto; /* Allow scrolling if suggestions overflow */
  position: absolute; /* Position it absolutely relative to the form group */
  width: 53%;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  top: 18%;
  border-radius: 4px;
  left: 244px;
  font-family: Kanit;
}

.prn-suggestions li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px; /* Adjust font size for readability */
  color: #333; /* Text color */
}

.prn-suggestions li:hover {
  background-color: #f0f0f0; /* Light grey background on hover for better visibility */
  color: #005d8c; /* Optional: Highlight text color on hover */
}

.formContainer {
  width: 963px;
  border-radius: 15px;
  background: #FFF;
}

.formContent{
    padding : 0 4%;
    overflow-y: scroll;
}

.formHeading{
    color: #FFF;
    position: relative;
    font-family: Kanit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: #0e2970;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.closeButton{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    height: 70px;
    margin-top: -70px;
    cursor: pointer;
}
.close-button {
  position: absolute;
  right: 20px;
  top: 7px;
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.closeButton i{
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}

.sections{
    display: flex;
    gap: 30px;
    width: 100%;
}

.lable_name{
    width: 20%;
    color: #271E4A;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_field{
    width: 80%;
}

.input_field input, select{
    border-radius: 4px;
    border: 1px solid #3B3B3B;
    height: 36px;
    width: 100%;
    padding: 5px 3%;
    color: #271E4A;
    font-family: Kanit;
}
.input_field input, select:focus{
outline: none;
}

.input_field input::placeholder{
    color: rgba(123, 123, 123, 0.40);
    font-family: Kanit;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input_field.errors{
    border: 1px solid red;
}

.input_flex{
    display: flex;
    gap: 20px;
}

.selectFlex{
    display: flex;
    gap: 20px;
    width: 50%;
}

.selectFlex .lable_name{    
    width: 64%;
}

.selectFlex .input_flex{
    width: 40%;
}

.container_margin{
    margin-top: 20px;
}

.radio_name{
    color: #0E2970;
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio_flex{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.radio_flex .lable_name{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}


.button_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100px;
    gap: 30px;

}
 
.button_section button{
    color: #FFF;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;
    height: 44px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #169458;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.close_btn{
    display: flex;
    width: 180px;
    height: 44px;
    padding: 7px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #7B7B7B;
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio_flex .radioInput{
    width: 100%;
    display: flex;
    gap: 20px;
}

.errors small{
    color: red;
}


.doctor-suggestions{
  position: absolute;
  width: 60%;
  z-index: 3;
  overflow: scroll;
  background-color: white;
  list-style-type: none;
  border: 2px solid #3B3B3B;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff; 
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: Kanit;
}

.doctor-suggestions li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px; /* Adjust font size for readability */
  color: #333; /* Text color */
}

.doctor-suggestions li:hover {
  background-color: #f0f0f0; /* Light grey background on hover for better visibility */
  color: #005d8c; /* Optional: Highlight text color on hover */
}
.button_section button:disabled {
    background-color: #ccc;  /* Light grey background for disabled state */
    cursor: not-allowed;     /* Change cursor to indicate the button is not clickable */
    opacity: 0.6;            /* Optionally reduce opacity to indicate disabled state */
  }
  .mr select{
    width: 60px;
}

.name_error{
    display: flex;
    gap: 8px;
    width: 100%;
    flex-direction: column;
}

.name_error .errors{
    width: 100%;
}
.availability-message {
  color: #d20006;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  bottom: 15px;
}
.unavailable-message {
  color: #d20006;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  bottom: 15px;
}