<div *ngIf="showForm" class="overlay" (click)="closeForm($event)">
  <div class="appointment-modal" (click)="preventClose($event)">
    <!-- Header Section -->
    <form [formGroup]="appointmentForm">
      <div class="appointment-header" [ngStyle]="{ 'background-color': isBookedSlot ? '#00914C' : '#0E2970' }">
        <h3>Appointment Form</h3>
        <button class="close-button" (click)="closeForm($event)">&#10006;</button>
      </div>

      <!-- Form Fields -->
      <div class="form-content">
        <!-- PRN Number -->
        <div class="form-group">
          <label>PRN:</label>
          <input type="text" placeholder="Enter PRN Number" formControlName="prnNumber" class="prn" />
          <div class="errors"
            *ngIf="appointmentForm.get('prnNumber')?.invalid && (appointmentForm.get('prnNumber')?.touched || appointmentForm.get('prnNumber')?.dirty)">
            <!-- <small *ngIf="appointmentForm.get('prnNumber')?.errors?.['required']">PRN Number is required</small> -->
          </div>
        </div>

        <!-- Patient Name -->
        <div class="form-group">
          <label>Patient Name:</label>
          <input type="text" placeholder="First Name" formControlName="firstName" />
          <div class="errors"
            *ngIf="appointmentForm.get('firstName')?.invalid && (appointmentForm.get('firstName')?.touched || appointmentForm.get('firstName')?.dirty)">
            <small *ngIf="appointmentForm.get('firstName')?.errors?.['required']">First Name is required</small>
            <small *ngIf="appointmentForm.get('firstName')?.errors?.['pattern']">First Name can only contain letters and
              spaces</small>
          </div>

          <input type="text" placeholder="Last Name" formControlName="lastName" class="last-name" />
          <div class="errors"
            *ngIf="appointmentForm.get('lastName')?.invalid && (appointmentForm.get('lastName')?.touched || appointmentForm.get('lastName')?.dirty)">
            <small *ngIf="appointmentForm.get('lastName')?.errors?.['required']">Last Name is required</small>
            <small *ngIf="appointmentForm.get('lastName')?.errors?.['pattern']">Last Name can only contain letters,
              spaces, and dots</small>
          </div>
        </div>

        <!-- Phone Number -->
        <div class="form-group">
          <label>Phone Number:</label>
          <input class="phone" type="text" placeholder="Enter the 10 digit phone number" maxlength="10"
            formControlName="phoneNumber" />
          <div class="errors"
            *ngIf="appointmentForm.get('phoneNumber')?.invalid && (appointmentForm.get('phoneNumber')?.touched || appointmentForm.get('phoneNumber')?.dirty)">
            <small *ngIf="appointmentForm.get('phoneNumber')?.errors?.['required']">Phone Number is required</small>
            <small *ngIf="appointmentForm.get('phoneNumber')?.errors?.['pattern']">Phone Number must be 10 digits
            </small>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label>Email Id:</label>
          <input class="email" type="email" placeholder="abcd@gmail.com" formControlName="email" />
          <div class="errors"
            *ngIf="appointmentForm.get('email')?.invalid && (appointmentForm.get('email')?.touched || appointmentForm.get('email')?.dirty)">
            <small *ngIf="appointmentForm.get('email')?.errors?.['required']">Email is required</small>
            <small *ngIf="appointmentForm.get('email')?.errors?.['email']">Invalid email address</small>
          </div>
        </div>

        <!-- Doctor Name -->
        <div class="form-group">
          <label>Doctor Name:</label>
          <input type="text" placeholder="Dr. Atmaram" formControlName="doctorName" (input)="onDoctorNameInput()"
            (focus)="showDoctorSuggestions = true" />
          <ul class="doctor-suggestions" *ngIf="showDoctorSuggestions && filteredDoctors.length > 0">
            <li *ngFor="let doctor of filteredDoctors" (click)="onDoctorSelect(doctor)">
              {{ doctor.name }}
            </li>
          </ul>
          <!-- <select  class="select doctor" formControlName="doctorName" (focus)="loadDoctors()" (change)="onDoctorSelect($event)">
            <option *ngIf="filteredDoctors.length === 0" value="">No doctors available</option>
            <option value="" selected>Select a doctor</option>
            <option *ngFor="let doctor of filteredDoctors" [value]="doctor.name">
              {{ doctor.name }}
            </option>
          </select> -->
          <div class="errors"
            *ngIf="appointmentForm.get('doctorName')?.invalid && (appointmentForm.get('doctorName')?.touched || appointmentForm.get('doctorName')?.dirty)">
            <small *ngIf="appointmentForm.get('doctorName')?.errors?.['required']">Doctor Name is required</small>
            <small *ngIf="appointmentForm.get('doctorName')?.errors?.['pattern']">Doctor Name can only contain letters,
              spaces, and dots</small>
          </div>
        </div>

        <!-- Appointment Date and Time -->
        <div class="appointment-timing">
          <div class="form-group time">
            <label>Appointment Date:</label>
            <input class="email" type="date" formControlName="appointmentDate" [min]="minDate" />
            <!-- <p-calendar
            class="email"
            formControlName="appointmentDate"
            [minDate]="minDate"
            
            [showButtonBar]="true"
            placeholder="Select appointment date"
          ></p-calendar> -->
            <div class="errors"
              *ngIf="appointmentForm.get('appointmentDate')?.invalid && appointmentForm.get('appointmentDate')?.touched">
              <small>Appointment Date is required</small>
            </div>
          </div>

          <!-- <div class="form-group time slot">
            <label>Appointment Time:</label>
            <select class="email" formControlName="appointmentTime">
              <option value="" disabled selected>Select a time</option>
              <option value="" selected *ngIf="availableSlots.length === 0">No available slots</option>
              <option *ngFor="let slot of availableSlots" [value]="slot">
                {{ slot }}
              </option>
            </select>
            <div class="errors"
              *ngIf="appointmentForm.get('appointmentTime')?.invalid && appointmentForm.get('appointmentTime')?.touched">
              <small>Appointment Time is required</small>
            </div>
          </div> -->
          <div class="form-group time slot">
            <label>Appointment Time:</label>
            <ng-container *ngIf="isVisitingConsultant; else regularTime">
              <!-- PrimeNG Time Picker for Visiting Consultant -->
              <p-calendar
                formControlName="appointmentTime"
                [timeOnly]="true"
                hourFormat="12"
                [showButtonBar]="true"
                [showSeconds]="false"
                placeholder="Select Time"
                (onSelect)="onTimeSelect($event)"
                [minDate]="minTime"


              ></p-calendar>
              <div *ngIf="timeError" class="error-message">
                {{ timeError }}
              </div>
              <div class="errors" *ngIf="appointmentForm.get('appointmentTime')?.invalid && appointmentForm.get('appointmentTime')?.touched">
                <small>Time is required</small>
              </div>
            </ng-container>
            <ng-template #regularTime>
              <!-- Dropdown for Regular Doctors -->
              <select class="email" formControlName="appointmentTime">
                <option value="" disabled selected>Select a time</option>
                <option value="" selected *ngIf="availableSlots.length === 0">No available slots</option>
                <option *ngFor="let slot of availableSlots" [value]="slot">
                  {{ slot }}
                </option>
              </select>
              <div class="errors" *ngIf="appointmentForm.get('appointmentTime')?.invalid && appointmentForm.get('appointmentTime')?.touched">
                <small>Appointment Time is required</small>
              </div>
            </ng-template>
          </div>
          
        </div>
        <div *ngIf="showAvailabilityMessage" class="availability-message"
          [ngClass]="{'available': !showAvailabilityMessage, 'not-available': showAvailabilityMessage}">
          {{ availabilityMessage }}
        </div>
        <div *ngIf="showDoctorUnavailableMessage" class="unavailable-message">
          {{ doctorUnavailableMessage }}
        </div>

        <!-- Request Via -->
        <div class="appointment-timing">
          <div class="form-group form-group-2">
            <label class="radio">Request Via:</label>
            <div class="radio-group">
              <label><input type="radio" formControlName="requestVia" value="Online" /> Online</label>
              <label><input type="radio" formControlName="requestVia" value="Walk-In" /> Walk-In</label>
              <label><input type="radio" formControlName="requestVia" value="Call" /> Call</label>
            </div>
          </div>

          <!-- Appointment Status -->
          <!-- <div class="form-group form-group-2">
            <label class="radio">Appointment:</label>
            <div class="radio-group">
              <label><input type="radio" formControlName="appointmentStatus" value="Confirm" /> Confirm</label>
              <label><input type="radio" formControlName="appointmentStatus" value="Cancel" /> Cancel</label>
            </div>
          </div> -->
          <!-- Appointment Status -->
          <div class="form-group form-group-2" *ngIf="!isBookedSlot">
            <label class="radio">Appointment:</label>
            <div class="radio-group">
              <label><input type="radio" formControlName="appointmentStatus" value="Confirm" /> Confirm</label>
              <label><input type="radio" formControlName="appointmentStatus" value="Cancel" /> Cancel</label>
            </div>
          </div>

          <!-- For Booked Slot - Complete or Cancel -->
          <div class="form-group form-group-2" *ngIf="isBookedSlot">
            <label class="radio">Appointment:</label>
            <div class="radio-group">
              <label><input type="radio" formControlName="appointmentStatus" value="Complete" /> Complete</label>
              <label><input type="radio" formControlName="appointmentStatus" value="Cancel" /> Cancel</label>
            </div>
          </div>

          <!-- Buttons -->
          <!-- <div class="button-group">
  <button *ngIf="!isBookedSlot" class="btn-primary" [disabled]="!appointmentForm.valid" (click)="confirm()">Book Appointment</button>
  <button *ngIf="isBookedSlot" class="btn-primary" [disabled]="!appointmentForm.valid" (click)="confirm()">Update Appointment</button>
</div> -->

        </div>

        <!-- Buttons -->
        <div class="button-group">
          <button *ngIf="!isBookedSlot" class="btn-primary" [disabled]="!appointmentForm.valid" (click)="confirm()">Book
            Appointment</button>
          <button *ngIf="isBookedSlot" class="btn-primary" [disabled]="!appointmentForm.valid"
            (click)="confirm()">Update Appointment</button>
        </div>
      </div>
    </form>
  </div>
  <p-toast></p-toast>
</div>