<div class="overlay" *ngIf="showDialog">
    <div class="dialog-container">
        <div class="dialog-header">
            <img src="/danger.png" alt="Warning Icon">
        </div>
        <div class="dialog-body">
            <div class="dialog-title">Estimation Locked!</div>
            <div class="dialog-message">This estimation is currently being accessed by <b>"{{userId}}"</b>. Please try again later.</div>
            <div class="dialog-actions">
                <button class="cancel-button" (click)="closeDialog()">Close</button>
            </div>
        </div>
    </div>
</div>