<div class="dashboard-section">

  <div class="stats-cards">
    <div class="card-1" [ngClass]="{'active-card': activeComponent === 'form'}" (click)="showNewAppointmentForm()">
      <div class="card-icon">
        <img src="/est-form.svg" alt="OPD Icon" />
      </div>
      <div class="card-content">
      </div>
    </div>

    <div class="card-1" [ngClass]="{'active-card': activeComponent === 'analytics'}" (click)="showAnalytics()">
      <div class="card-icon">
        <img src="/est-analytics.svg" alt="OPD Icon" />
      </div>
      <div class="card-content">
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'overAll'}" (click)="showOverall()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation requests submitted overall."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'overAll' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'overAll' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->

      <div class="card-icon">
        <div class="count">{{ totalOverallEstimations }}</div>
      </div>
      <div class="card-content">
        <p>Overall EST</p>
      </div>
    </div>


    <!-- <div class="card" [ngClass]="{'active-card': activeComponent === 'month'}" (click)="showOverall()"
      style="position: relative;">
      <div class="info-icon" title="This shows the total number of estimation raised in current month."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'month' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'month' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div>
      <div class="card-icon">
        <div class="count">{{ totalMonthWiseRaisedEST }}</div>
      </div>
      <div class="card-content">
        <p>Raised in {{currentMonth}}
        </p>
      </div>
    </div> -->
    <!-- <div class="card" [ngClass]="{'active-card': activeComponent === 'today'}" (click)="showOverall()"
      style="position: relative;">
      <div class="info-icon" title="This shows the total number of estimation created today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'today' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'today' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div>
      <div class="card-icon">
        <div class="count">{{ totalEstimations }}
        </div>
      </div>
      <div class="card-content">
        <p>New EST Created
        </p>
      </div>
    </div> -->
    <div class="card" *ngIf="role === 'sub_admin'" [ngClass]="{'active-card': activeComponent === 'request'}"
      (click)="showAppointmentRequests()" style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation in pending today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'request' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'request' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/est-req.svg" alt="Doctor Available Icon" />
        <!-- <div class="count">{{ pendingEstimations }}</div> -->
      </div>
      
      <div class="card-content">
        <p>EST Request
        </p>
      </div>
    </div>
    <div class="card" *ngIf="role === 'admin' || role === 'super_admin' "
      [ngClass]="{'active-card': activeComponent === 'submitted'}" (click)="showSubmittedRequest()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation in pending today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'submitted' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'submitted' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/est-req.svg" alt="Doctor Available Icon" />
        <!-- <div class="count">{{ pendingEstimations }}</div> -->
      </div>
      <div class="card-content">
        <p>EST Request
        </p>
      </div>
    </div>
        <div class="card" [ngClass]="{'active-card': activeComponent === 'callback'}" (click)="showCallBackForm()">
      <div class="card-icon">
        <img src="/est-form.svg" alt="OPD Icon" />
      </div>
      <div class="card-content">
        <p>Website Requests</p>
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'approved'}" (click)="showApprovedAppointments()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation approved today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'approved' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'approved' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/est-appr.svg" alt="Appointment Icon" />
        <!-- <div class="count">{{ approvedEstimations }}</div> -->
      </div>
      <div class="card-content">
        <p>Apprv./Acc.</p>
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'follow-up'}" (click)="showFollowUpEstimation()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of follow-up done."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'follow-up' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'follow-up' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/followup-EST.svg" alt="OPD Icon" />
        <!-- <div class="count">{{ totalFollowUp}}</div> -->
      </div>
      <div class="card-content">
        <p>Follow-Up
        </p>
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'maternity'}" (click)="showMaternityEstimation()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of maternity estimation created overall."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'maternity' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'maternity' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/MM-EST.svg" alt="OPD Icon" />
        <!-- <div class="count">{{totalMaternity}}</div> -->
      </div>
      <div class="card-content">
        <p>Maternity
        </p>
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'confirmed'}" (click)="showConfirmedAppointments()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation confirmed today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'confirmed' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'confirmed' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/est-confirm.svg" alt="Doctor Available Icon" />
        <!-- <div class="count">{{ confirmedEstimations }}</div> -->
      </div>
      <div class="card-content">
        <p>Confirmed
        </p>
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'completed'}" (click)="showCompletedAppointments()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation completed today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'completed' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'completed' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/est-cancel.svg" alt="OPD Icon" />
        <!-- <div class="count">{{ completedEstimations }}</div> -->
      </div>
      <div class="card-content">
        <p>Completed
        </p>
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'cancelled'}" (click)="showCancelEstimation()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation cancelled today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'cancelled' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'cancelled' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/Cancel_EST.svg" alt="OPD Icon" />
        <!-- <div class="count">{{ cancelledEstimations }}</div> -->
      </div>
      <div class="card-content">
        <p>Cancelled
        </p>
      </div>
    </div>
    <div class="card" [ngClass]="{'active-card': activeComponent === 'overdue'}" (click)="showOverDueAppointment()"
      style="position: relative;">
      <!-- <div class="info-icon" title="This shows the total number of estimation overDue today."><svg
          xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
          <g [attr.fill]="activeComponent === 'overdue' ? '#fff' : '#000'" stroke-width="0.5"
            [attr.stroke]="activeComponent === 'overdue' ? '#fff' : '#000'">
            <path
              d="M13.895 15.553a1 1 0 0 1-.448 1.341l-1 .5A1 1 0 0 1 11 16.5V13a1 1 0 0 1-.447-1.894l1-.5A1 1 0 0 1 13 11.5V15a1 1 0 0 1 .895.553M12 9.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3" />
            <path fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"
              clip-rule="evenodd" />
          </g>
        </svg></div> -->
      <div class="card-icon">
        <img src="/est-overdue.svg" alt="OPD Icon" />
        <!-- <div class="count">{{ overDueEstimations }}</div> -->
      </div>
      <div class="card-content">
        <p>OverDue
        </p>
      </div>
    </div>
  </div>
</div>
<div class="component-section">
  <!-- <app-appointment-request *ngIf="activeComponent === 'request'" [selectedDateRange]="selectedDateRange" [selectedSearchOption]="selectedSearchOption"  [selectedValue]="searchValue"></app-appointment-request>
    
    <app-appointment-cancel *ngIf="activeComponent === 'cancelled'" [selectedDate]="selectedDate" [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentCancelComponent></app-appointment-cancel>
    <app-appointment-complete *ngIf="activeComponent === 'completed'"  [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentCompleteComponent></app-appointment-complete> -->
  <!-- <app-estimation-form *ngIf="activeComponent === 'form'"  [serviceData]="selectedService"
    (closeForm)="closeForm()"></app-estimation-form> -->
  <app-estimation-form *ngIf="activeComponent === 'form'" [estimationData]="selectedEstimation"   [prefillData]="prefillEstimationData"
    (closeForm)="closeForm()"></app-estimation-form>
  <!-- <app-health-checkup-confirmed *ngIf="activeComponent === 'confirmed'" #healthCheckupConfirmed (reschedule)="openAppointmentForm($event)"  ></app-health-checkup-confirmed> -->
  <app-estimation-approved #estimationApproved *ngIf="activeComponent === 'approved'"
    (reschedule)="openAppointmentForm($event)"></app-estimation-approved>
  <app-estimation-confirmed *ngIf="activeComponent === 'confirmed'"
    (reschedule)="openAppointmentForm($event)"></app-estimation-confirmed>
  <app-estimation-complete *ngIf="activeComponent === 'completed'"></app-estimation-complete>
  <app-estimation-request #estimationApproved *ngIf="activeComponent === 'request'"
    (reschedule)="openAppointmentForm($event)"></app-estimation-request>
  <app-estimation-overdue *ngIf="activeComponent === 'overdue'" #estimationApproved
    (reschedule)="openAppointmentForm($event)"></app-estimation-overdue>
  <app-estimation-submit #estimationApproved *ngIf="activeComponent === 'submitted'"
    (reschedule)="openAppointmentForm($event)"></app-estimation-submit>
  <app-maternity-estimation *ngIf="activeComponent === 'maternity'"></app-maternity-estimation>
  <app-followup-estimation *ngIf="activeComponent === 'follow-up'"></app-followup-estimation>
  <app-estimation-cancel *ngIf="activeComponent === 'cancelled'"></app-estimation-cancel>
  <app-estimation-analytics *ngIf="activeComponent === 'analytics'"></app-estimation-analytics>
  <app-call-back *ngIf="activeComponent === 'callback'"   (openEstimationForm)="openEstimationFromCallback($event)"></app-call-back>
  <div class="container" *ngIf="showMonthWiseDate && activeComponent ==='overAll'">
    <div class="filters">
      <div>
        <input type="text" [(ngModel)]="globalSearchText" (ngModelChange)="applyGlobalSearch()"
          placeholder="Search by Estimation ID, Patient or Doctor" class="by-search" />
      </div>

      <div>
        <select class="doctor" id="doctorFilter" class="department" [(ngModel)]="selectedDoctorName"
          (change)="applyDeptFilter()">
          <option value="">Select Doctor</option>
          <option *ngFor="let doc of filteredDoctorNames" [value]="doc">{{ doc }}</option>
        </select>
      </div>
      <div>
        <select class="department" [(ngModel)]="selectedStatus" (change)="applyDeptFilter()">
          <option value="">Select Status</option>
          <option *ngFor="let status of statusOptions" [value]="status">{{ status.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        <select class="department" [(ngModel)]="selectedEstimationType" (change)="applyDeptFilter()">
          <option value="">Select Type</option>
          <option *ngFor="let status of estimationTypeOptions" [value]="status">{{ status.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        <p-calendar styleClass="custom-calendar" [(ngModel)]="selectedDateRange" selectionMode="range"
          (ngModelChange)="totalSearch()" placeholder="Calendar" dateFormat="dd-mm-yy">
          <ng-template pTemplate="date" let-date>
            <span>
              {{ date.day }}
            </span>
          </ng-template>
        </p-calendar>
        <i class="fa-solid fa-angle-down calendar-icon"></i>
        <svg pTooltip="Refresh" (click)="totalRefresh()" class="reverse" xmlns="http://www.w3.org/2000/svg"
          width="2.5em" height="2.5em" viewBox="-1.5 -2.5 24 24">
          <path fill="currentColor"
            d="m4.859 5.308l1.594-.488a1 1 0 0 1 .585 1.913l-3.825 1.17a1 1 0 0 1-1.249-.665L.794 3.413a1 1 0 1 1 1.913-.585l.44 1.441C5.555.56 10.332-1.035 14.573.703a9.38 9.38 0 0 1 5.38 5.831a1 1 0 1 1-1.905.608A7.381 7.381 0 0 0 4.86 5.308zm12.327 8.195l-1.775.443a1 1 0 1 1-.484-1.94l3.643-.909a1 1 0 0 1 .61-.08a1 1 0 0 1 .84.75l.968 3.88a1 1 0 0 1-1.94.484l-.33-1.322a9.381 9.381 0 0 1-16.384-1.796l-.26-.634a1 1 0 1 1 1.851-.758l.26.633a7.381 7.381 0 0 0 13.001 1.25z" />
        </svg>
        <svg class="p-field p-col-3 download" src="download.png" (click)="downloadEstimationSummary()"
          pTooltip="Download" xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
          <path fill="#fff" fill-rule="evenodd"
            d="M3 17a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m3.293-7.707a1 1 0 0 1 1.414 0L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>


    <!-- Doctor Summary Table -->
    <!-- <div class="doctor-list " >
      <table class="summary-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Doctor Name</th>
            <th>Estimation ID</th>
            <th>Patient Name</th>
            <th>PRN</th>
            <th>Surgery Date</th>
            <th>Status</th>
            <th>PAC Status</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of totalEstimationsOverall;let i=index">
            <td>{{i+1}}</td>
            <td>{{ doc.consultantName }}</td>
            <td>{{doc.estimationId}}</td>
            <td>{{doc.patientName}}</td>
            <td>{{doc.patientUHID}}</td>
            <td>{{doc.estimatedDate}}</td>
            <td>{{ doc.statusOfEstimation ? doc.statusOfEstimation.toUpperCase() : '-' }}</td>
            <td>
              <ng-container *ngIf="doc.estimationType === 'MM'; else checkPac">
                PAC not required
              </ng-container>
              <ng-template #checkPac>
                {{ doc.pacDone ? 'Done' : 'Not Done' }}
              </ng-template>
            </td>
            
            <td>{{ doc.estimationType }}</td>
          </tr>


          <tr *ngIf="totalEstimationsOverall.length === 0">
            <td colspan="8" class="no-record">No records found</td>
          </tr>

        </tbody>
      </table>
    </div> -->

    <div class="doctor-list scrollable-table-container">
      <table class="summary-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Doctor Name</th>
            <th>Estimation ID</th>
            <th>Patient Name</th>
            <th>PRN</th>
            <th>EST Created Date</th>
            <th>Surgery Date</th>
            <th>Status</th>
            <th>PAC Status</th>
            <th>Type</th>
          </tr>
        </thead>
      </table>
      <div class="table-body-wrapper">
        <table class="summary-table">
          <tbody>
            <tr *ngFor="let doc of totalEstimationsOverall; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ doc.consultantName }}</td>
              <td>{{ doc.estimationId }}</td>
              <td>{{ doc.patientName }}</td>
              <td>{{ doc.patientUHID }}</td>
              <td>
                {{
                doc.estimationPreferredDate
                ? (doc.estimationCreatedTime | date:'dd-MM-yyyy')
                : (doc.submittedDateAndTime | date:'dd-MM-yyyy')
                }}
              </td>
              <td>{{ doc.estimatedDate }}</td>
              <td>{{ doc.statusOfEstimation ? doc.statusOfEstimation.toUpperCase() : '-' }}</td>
              <td>
                <ng-container *ngIf="doc.estimationType === 'MM'; else checkPac">
                  PAC not required
                </ng-container>
                <ng-template #checkPac>
                  {{ doc.pacDone ? 'Done' : 'Not Done' }}
                </ng-template>
              </td>
              <td>{{ doc.estimationType }}</td>
            </tr>
            <tr *ngIf="totalEstimationsOverall.length === 0">
              <td colspan="9" class="no-record">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Fixed footer -->
    <div class="summary-footer">
      Showing {{ totalEstimationsOverall.length }} of {{ totalOverallEstimations }} records
    </div>


  </div>
</div>
<p-toast></p-toast>
<div *ngIf="showDoctorSummary" class="overlay">
  <div class="container">
    <div class="header">
      <div>DWS - Completed</div>
      <button class="close-button" (click)="closeDoctorSummary()">
        <!-- <img src="/popup-close.svg" /> -->
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="filters">
      <!-- Department Filter -->
      <div>
        <!-- <label for="deptFilter">Department:</label> -->
        <select class="department" id="deptFilter" [(ngModel)]="selectedDept" (change)="applyDeptFilter()">
          <option value="">Select Department</option>
          <option *ngFor="let dept of departmentList" [value]="dept">{{ dept }}</option>
        </select>
      </div>
      <!-- Doctor Name Filter -->
      <div>
        <!-- <label for="doctorFilter">Doctor:</label> -->
        <select class="doctor" id="doctorFilter" class="department" [(ngModel)]="selectedDoctorName"
          (change)="applyDeptFilter()">
          <option value="">Select Doctor</option>
          <option *ngFor="let doc of filteredDoctorNames" [value]="doc">{{ doc }}</option>
        </select>
      </div>
      <div>
        <p-calendar styleClass="custom-calendar" [(ngModel)]="selectedDateRange" selectionMode="range"
          (ngModelChange)="onSearch()" placeholder="Calendar" dateFormat="dd-mm-yy">
          <ng-template pTemplate="date" let-date>
            <span>
              {{ date.day }}
            </span>
          </ng-template>
        </p-calendar>
        <i class="fa-solid fa-angle-down calendar-icon"></i>
        <svg pTooltip="Refresh" (click)="refresh()" class="reverse" xmlns="http://www.w3.org/2000/svg" width="2.5em"
          height="2.5em" viewBox="-1.5 -2.5 24 24">
          <path fill="currentColor"
            d="m4.859 5.308l1.594-.488a1 1 0 0 1 .585 1.913l-3.825 1.17a1 1 0 0 1-1.249-.665L.794 3.413a1 1 0 1 1 1.913-.585l.44 1.441C5.555.56 10.332-1.035 14.573.703a9.38 9.38 0 0 1 5.38 5.831a1 1 0 1 1-1.905.608A7.381 7.381 0 0 0 4.86 5.308zm12.327 8.195l-1.775.443a1 1 0 1 1-.484-1.94l3.643-.909a1 1 0 0 1 .61-.08a1 1 0 0 1 .84.75l.968 3.88a1 1 0 0 1-1.94.484l-.33-1.322a9.381 9.381 0 0 1-16.384-1.796l-.26-.634a1 1 0 1 1 1.851-.758l.26.633a7.381 7.381 0 0 0 13.001 1.25z" />
        </svg>
      </div>
    </div>



    <!-- Doctor Summary Table -->
    <div class="doctor-list">
      <table class="summary-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Doctor Name</th>
            <th>Department</th>
            <th>PAC Done</th>
            <th>PAC Not Done</th>
            <th>Total Completed</th>
            <th>MM</th>
            <th>SM</th>
            <th>Maternity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of doctorSummaryList;let i=index">
            <td>{{i+1}}</td>
            <td>{{ doc.consultantName }}</td>
            <td>{{ doc.department }}</td>
            <td>{{doc.PACDone}}</td>
            <td>{{doc.PACNotDone}}</td>
            <td>{{ doc.totalCompleted }}</td>
            <td>{{ doc.MM }}</td>
            <td>{{ doc.SM }}</td>
            <td>{{ doc.Maternity }}</td>
          </tr>
          <tr *ngIf="doctorSummaryList.length > 0" class="grand-total-row">
            <td colspan="3"><strong>Grand Total</strong></td>
            <td>{{ grandPACDone }}</td>
            <td>{{ grandPACNotDone }}</td>
            <td>{{ grandTotalCompleted }}</td>
            <td>{{ grandTotalMM }}</td>
            <td>{{ grandTotalSM }}</td>
            <td>{{ grandTotalMaternity }}</td>
          </tr>


          <tr *ngIf="doctorSummaryList.length === 0">
            <td colspan="7" class="no-record">No doctors found for selected department</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showDWSummary" class="overlay">
  <div class="container">
    <div class="header-1">
      <div>DWS - Non Completed</div>
      <button class="close-button" (click)="closeDWSummary()">
        <!-- <img src="/popup-close.svg" /> -->
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="filters">
      <!-- Department Filter -->
      <div>
        <!-- <label for="deptFilter">Department:</label> -->
        <select class="department" id="deptFilter" [(ngModel)]="selectedDept" (change)="applyDeptFilter()">
          <option value="">Select Department</option>
          <option *ngFor="let dept of departmentList" [value]="dept">{{ dept }}</option>
        </select>
      </div>
      <!-- Doctor Name Filter -->
      <div>
        <!-- <label for="doctorFilter">Doctor:</label> -->
        <select class="doctor" id="doctorFilter" class="department" [(ngModel)]="selectedDoctorName"
          (change)="applyDeptFilter()">
          <option value="">Select Doctor</option>
          <option *ngFor="let doc of filteredDoctorNames" [value]="doc">{{ doc }}</option>
        </select>
      </div>
      <div>
        <select class="department" [(ngModel)]="selectedStatus" (change)="applyDeptFilter()">
          <option value="">Select Status</option>
          <option *ngFor="let status of statusOptions" [value]="status">{{ status.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        <select class="department" [(ngModel)]="selectedEstimationType" (change)="applyDeptFilter()">
          <option value="">Select Type</option>
          <option *ngFor="let status of estimationTypeOptions" [value]="status">{{ status.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        <p-calendar styleClass="custom-calendar" [(ngModel)]="selectedDateRange" selectionMode="range"
          (ngModelChange)="onNonCompleteSearch()" placeholder="Calendar" dateFormat="dd-mm-yy">
          <ng-template pTemplate="date" let-date>
            <span>
              {{ date.day }}
            </span>
          </ng-template>
        </p-calendar>
        <i class="fa-solid fa-angle-down calendar-icon"></i>
        <svg pTooltip="Refresh" (click)="refreshNonComplete()" class="reverse" xmlns="http://www.w3.org/2000/svg"
          width="2.5em" height="2.5em" viewBox="-1.5 -2.5 24 24">
          <path fill="currentColor"
            d="m4.859 5.308l1.594-.488a1 1 0 0 1 .585 1.913l-3.825 1.17a1 1 0 0 1-1.249-.665L.794 3.413a1 1 0 1 1 1.913-.585l.44 1.441C5.555.56 10.332-1.035 14.573.703a9.38 9.38 0 0 1 5.38 5.831a1 1 0 1 1-1.905.608A7.381 7.381 0 0 0 4.86 5.308zm12.327 8.195l-1.775.443a1 1 0 1 1-.484-1.94l3.643-.909a1 1 0 0 1 .61-.08a1 1 0 0 1 .84.75l.968 3.88a1 1 0 0 1-1.94.484l-.33-1.322a9.381 9.381 0 0 1-16.384-1.796l-.26-.634a1 1 0 1 1 1.851-.758l.26.633a7.381 7.381 0 0 0 13.001 1.25z" />
        </svg>
      </div>
    </div>


    <!-- Doctor Summary Table -->
    <div class="doctor-list">
      <table class="summary-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Doctor Name</th>
            <th>Department</th>
            <th>Estimation ID</th>
            <th>Surgery Date</th>
            <th>Status</th>
            <th>Type</th>
            <th>Follow ups</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of nonCompletedEstimations;let i=index">
            <td>{{i+1}}</td>
            <td>{{ doc.consultantName }}</td>
            <td>{{ doc.department }}</td>
            <td>{{doc.estimationId}}</td>
            <td>{{doc.estimatedDate}}</td>
            <td>{{ doc.statusOfEstimation ? doc.statusOfEstimation.toUpperCase() : '-' }}</td>
            <td>{{ doc.estimationType }}</td>
            <td class="button">
              <button class="btn-action" (click)="openFollowUpPopup(doc)" pTooltip="View" tooltipPosition="top">
                <img src="/view.svg" alt="Confirm">
              </button>
            </td>
          </tr>


          <tr *ngIf="nonCompletedEstimations.length === 0">
            <td colspan="8" class="no-record">No records found</td>
          </tr>

        </tbody>
      </table>
    </div>


    <!-- Fixed footer -->
    <div class="summary-footer">
      Showing {{ nonCompletedEstimations.length }} of {{ nonCompletedEstimationsList }} records
    </div>


  </div>
</div>
<!-- <div *ngIf="showMonthWiseDate" class="overlay">
  <div class="container">
    <div class="header-1">
      <div>Overall Estimations</div>
      <button class="close-button" (click)="totalSummaryClose()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="filters">
      <div>
        <select class="doctor" id="doctorFilter" class="department" [(ngModel)]="selectedDoctorName"
          (change)="applyDeptFilter()">
          <option value="">Select Doctor</option>
          <option *ngFor="let doc of filteredDoctorNames" [value]="doc">{{ doc }}</option>
        </select>
      </div>
      <div>
        <select class="department" [(ngModel)]="selectedStatus" (change)="applyDeptFilter()">
          <option value="">Select Status</option>
          <option *ngFor="let status of statusOptions" [value]="status">{{ status.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        <select class="department" [(ngModel)]="selectedEstimationType" (change)="applyDeptFilter()">
          <option value="">Select Type</option>
          <option *ngFor="let status of estimationTypeOptions" [value]="status">{{ status.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        <p-calendar styleClass="custom-calendar" [(ngModel)]="selectedDateRange" selectionMode="range"
          (ngModelChange)="totalSearch()" placeholder="Calendar" dateFormat="dd-mm-yy">
          <ng-template pTemplate="date" let-date>
            <span>
              {{ date.day }}
            </span>
          </ng-template>
        </p-calendar>
        <i class="fa-solid fa-angle-down calendar-icon"></i>
        <svg pTooltip="Refresh" (click)="totalRefresh()" class="reverse" xmlns="http://www.w3.org/2000/svg"
          width="2.5em" height="2.5em" viewBox="-1.5 -2.5 24 24">
          <path fill="currentColor"
            d="m4.859 5.308l1.594-.488a1 1 0 0 1 .585 1.913l-3.825 1.17a1 1 0 0 1-1.249-.665L.794 3.413a1 1 0 1 1 1.913-.585l.44 1.441C5.555.56 10.332-1.035 14.573.703a9.38 9.38 0 0 1 5.38 5.831a1 1 0 1 1-1.905.608A7.381 7.381 0 0 0 4.86 5.308zm12.327 8.195l-1.775.443a1 1 0 1 1-.484-1.94l3.643-.909a1 1 0 0 1 .61-.08a1 1 0 0 1 .84.75l.968 3.88a1 1 0 0 1-1.94.484l-.33-1.322a9.381 9.381 0 0 1-16.384-1.796l-.26-.634a1 1 0 1 1 1.851-.758l.26.633a7.381 7.381 0 0 0 13.001 1.25z" />
        </svg>
        <svg class="p-field p-col-3 download" src="download.png" (click)="downloadEstimationSummary()"
          pTooltip="Download" xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
          <path fill="#fff" fill-rule="evenodd"
            d="M3 17a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m3.293-7.707a1 1 0 0 1 1.414 0L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>


    <div class="doctor-list">
      <table class="summary-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Doctor Name</th>
            <th>Estimation ID</th>
            <th>Patient Name</th>
            <th>PRN</th>
            <th>Surgery Date</th>
            <th>Status</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of totalEstimationsOverall;let i=index">
            <td>{{i+1}}</td>
            <td>{{ doc.consultantName }}</td>
            <td>{{doc.estimationId}}</td>
            <td>{{doc.patientName}}</td>
            <td>{{doc.patientUHID}}</td>
            <td>{{doc.estimatedDate}}</td>
            <td>{{ doc.statusOfEstimation ? doc.statusOfEstimation.toUpperCase() : '-' }}</td>
            <td>{{ doc.estimationType }}</td>
          </tr>


          <tr *ngIf="totalEstimationsOverall.length === 0">
            <td colspan="8" class="no-record">No records found</td>
          </tr>

        </tbody>
      </table>
    </div>


   
    <div class="summary-footer">
      Showing {{ totalEstimationsOverall.length }} of {{ totalOverallEstimations }} records
    </div>


  </div>
</div> -->
<div *ngIf="showFollowUps" class="estimation-modal">
  <div class="modal-content-follow-up">
    <div class="modal-header">
      <h3>Follow-Up FeedBack of {{ selectedEstimation.patientName }}</h3>
      <button class="popup-close" (click)="showFollowUps = false">
        <img src="/popup-close.svg" />
      </button>
    </div>
    <hr />
    <div class="modal-body">
      <p>
        Patient Name<span class="space">:</span>{{ selectedEstimation?.patientName }}
      </p>
      <div *ngFor="let followUp of followUps; let i = index" class="follow-up-item">
        <p>
          <strong>Follow-Up {{ i + 1 }}:</strong>
        </p>
        <p>Date: {{ followUp.date | date:'dd-MM-yyyy' }}</p>
        <p>Remarks: {{ followUp.remarks }}</p>
      </div>
    </div>
  </div>