.table-container {
    border-radius: 10px;
    background-color: #f0f3ff;
    padding: 20px;
    padding-left: 90px;
  }
  .table-wrapper {
    overflow-x: auto; /* Adds horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
  .appointment-table {
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
  }
  thead {
    background: #0e2970;
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
    border-radius: 16px;
    color: white;
    font-size: 14px;
    font-family: Kanit;
    font-weight: 400;
    height: 54px;
  }
  thead th {
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Kanit;
    font-weight: 400;
    text-wrap: nowrap;
  }
  /* Table body styling */
  tbody tr {
    /* border-bottom: 1px solid #ddd; */
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
    border-radius: 16px;
    height: 60px;
    border-radius: 16px;
  }
  
  tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
    border-radius: 16px;
  }
  
  tbody td {
    padding: 0px 8px;
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Kanit;
    font-weight: 400;
    padding-bottom: 0px;
  }
  
  tbody tr:hover {
    background-color: #f0f8ff;
  }
  
  .sms-status img {
    width: 20px;
    height: 20px;
  }
  
  .sms-sent img {
    /* background-color: green; */
    /* border-radius: 50%;
      padding: 5px; */
  }
  
  .sms-not-sent img {
    /* background-color: red; */
    /* border-radius: 50%; */
    /* padding: 5px; */
  }
  .btn-action {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    gap: 10px;
  }
  .btn-action-reschedule {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
  
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px !important;
  }
  .status-badge {
    border-radius: 4px;
    background: #FB9C2A;
    padding: 5px 10px;
    border-radius: 6px;
    color: #FFF;
font-size: 14px;
font-family: Kanit;
font-weight: 400;
text-transform: capitalize;

  }
  .checkin-badge {
    display: inline-block;
    color: white;
    padding: 5px 10px;
  
    font-size: 14px;
    font-family: Kanit;
    font-weight: 400;
    background: #79cfa6;
    border-radius: 4px;
  }
  
  /* Pagination styling */
  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
  }
  
  /* Pagination button styling */
  .pagination-btn {
    background-color: white;
    color: #333;
    border: 2px solid #e0e0e0;
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-btn.next {
    background-color: #8cc152; /* Green background for next */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination-btn.prev {
    background-color: white; /* White background for previous */
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  .pagination-btn:hover:not(:disabled) {
    background-color: #6baf40; /* Darker green hover for next */
  }
  
  .pagination-btn:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: not-allowed;
  }
  
  /* Page info styling */
  .page-info {
    display: flex;
    align-items: center;
    color: #7b7b7b;
    font-size: 16px;
    font-family: Kanit;
    font-weight: 400;
    margin-left: 20px;
  }
  
  .page-input {
    width: 40px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
    font-size: 16px;
    padding: 5px;
  }
  
  
  .btn-action[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-row {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    background-color: #F0F3FF;
    border-radius: 12px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* margin-bottom: 15px; Optional: To create space below the row */
    padding-left: 90px;
    /* padding-top: 20px; */
  }
  ::ng-deep .custom-dropdown .p-dropdown {
    width: 200px;
    height: 46px;
    border-radius: 10px; /* Rounded edges */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border: 1px solid #e0e0e0; /* Light border */
  }
  
  ::ng-deep .custom-dropdown .p-dropdown-label {
    font-size: 14px;
    color: #808080; /* Light gray font for placeholder */
    padding-left: 10px;
    padding: 11px;
  }
  ::ng-deep .custom-dropdown .p-dropdown-trigger {
    color: #808080; /* Light gray arrow */
    border-radius: 0 10px 10px 0; /* Right side rounded for trigger button */
    background-color: transparent; /* No background */
    padding-right: 15px;
    padding-top: 2px;
    width: 30px;
  }
  
  ::ng-deep .custom-dropdown .p-dropdown-panel {
    border-radius: 5px; /* Rounded panel edges */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Panel shadow */
    background:#fff;
  }
  
  ::ng-deep .custom-dropdown .p-dropdown-item {
    font-size: 14px;
    color: #4a4a4a;
    padding: 10px 20px;
  }
  ::ng-deep .custom-input-text {
    width: 300px; /* Adjust as necessary */
    height: 46px; /* Match height */
    border-radius: 10px; /* Rounded edges */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid #e0e0e0; /* Light gray border */
    padding-left: 15px; /* Padding for text */
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; /* Light gray text */
  }
  ::ng-deep .custom-input-text:focus {
    outline: none; /* Remove default outline */
    border: 1px solid #8cc152; /* Green border on focus */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow on focus */
    color: #7B7B7B;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  
  ::ng-deep .p-inputtext {
    border-radius: 10px;
    color: #7B7B7B;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  ::ng-deep .p-inputtext:focus{
    color: #7B7B7B;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .p-field {
    margin: 0 10px;
  }
  ::ng-deep .custom-calendar .p-inputtext {
    width: 300px;
    height: 46px;
    border-radius: 10px; /* Rounded edges */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid #e0e0e0; /* Light gray border */
    padding-left: 15px;
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  
  ::ng-deep .custom-calendar .p-calendar-trigger {
    /* color: #808080; Light gray arrow */
    border-radius: 0 10px 10px 0; /* Right side rounded for trigger button */
    background-color: transparent; /* No background */
  }
  
  ::ng-deep .custom-calendar .p-datepicker {
    border-radius: 10px; /* Rounded calendar popup */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for calendar popup */
    background-color: white;    font-size: 12px; /* Smaller font for calendar */
    width: 300px; /* Adjusted width for calendar popup */
}

::ng-deep .custom-calendar .p-datepicker table {
    font-size: 14px; /* Smaller font for dates */
}

::ng-deep .custom-calendar .p-datepicker-header {
    padding: 5px; /* Adjust header padding */
}

::ng-deep .custom-calendar .p-datepicker .p-datepicker-prev,
::ng-deep .custom-calendar .p-datepicker .p-datepicker-next {
    height: 25px;  /* Adjust button size */
    width: 25px;   /* Adjust button size */
}
  ::ng-deep .p-datepicker table td {
    padding: 0;
}
  

.delete{
    /* width: 40px;
    height: 40px; */
    cursor: pointer;
    height: 40px;
    margin-top: 5px;
}
.calendar{
  padding-top: 21px;
}
  .p-calendar {
    width: 150px;
  }
  .column-1{
    display: flex;
    width: 50%;
    /* gap: 20px; */
    padding-top: 20px;
    position: relative;
    left: -10px;
  }
  .buttons-container{
    display: flex;
    margin-top: -2px;
  }
  .calendar-icon{
position: relative;
right: 38px;
font-size: 18px;
color: #4a4a4a;
font-family: 900;
  }
  .reverse{
    border-radius: 10px; /* Rounded edges */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border: 1px solid #e0e0e0; /* Light border */
    margin-bottom: -14px;
    
    padding: 10px;
    cursor: pointer;
    /* padding-top: 20px; */
  }
  .delete{
    border-radius: 10px; /* Rounded edges */
    background-color: #FF4747;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border: 1px solid #e0e0e0; /* Light border */
    margin-bottom: 0px;
    color: white;
    padding: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
 .download{
  border-radius: 10px; /* Rounded edges */
    background-color: #0E2970;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border: 1px solid #e0e0e0; /* Light border */
    margin-bottom: -14px;
    
    padding: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  
 }
 .download img{
  width:39px
 }
 .loader {
  position: absolute; /* Ensure it overlays the content */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the loader's dimensions */
  font-size: 24px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  color: #0e2970;
  --c: no-repeat linear-gradient(#0e2970 0 0); 
  background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
  background-size: calc(1ch + 1px) 100%;
  border-bottom: 10px solid #0e2970; 
  animation: l8-0 1s infinite linear;
  clip-path: inset(-20px 0);
  z-index: 999; /* Ensure it appears above other elements */
}

.loader::before {
  content:"DocMinds";
}
.loader::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  background: #F28729;
  left: -10px;
  bottom: 100%;
  animation: l8-1 1s infinite linear;
}
@keyframes l8-0{
   0%,
   12.5% {background-position: calc(0*100%/6) 0   ,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   25%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   37.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   50%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   62.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
   75%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6)    0,calc(6*100%/6) 0}
   87.4% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 0}
   100%  {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 40px}
}
@keyframes l8-1{
  100% {left:115%}
}
.no-records-message {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px;
  font-family: Kanit;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  color: #271e4a;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-body p {
  color: rgba(39, 30, 74, 0.8);
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 0;
}
.popup-close {
  background-color: transparent;
  border: none;
}
input[type="text"]::placeholder {
  color: rgba(39, 30, 74, 0.8);
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.estimation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  width: 673px;
  height: 440px;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-content-follow-up {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  width: 673px;
  height: auto;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.input-container {
  position: relative;
  margin: 10px 0;
  flex: 1; /* Ensures equal width for both inputs */
  min-width: 200px; /* Optional, to prevent shrinking too small */
  margin-top: 48px;
}
.custom-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff; /* Background color like the first image */
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: Kanit;
}

.custom-input:focus {
  border-color: #007bff; /* Focus border color like the second image */
  box-shadow: 0 0 3px #007bff;
}

.custom-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.custom-input:focus + .custom-label,
.custom-input:not(:placeholder-shown) + .custom-label {
  top: -3px;
  left: 10px;
  font-size: 12px;
  color: #007bff; /* Label color on focus */
  background-color: #fff;
}
.estimation-input-container {
  position: relative;
  /* padding-top: 16px; */
  /* width: 300px; */
  margin-top: 35px;
}

/* input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0px;
  font-family: Kanit;
} */
.save-button {
  background-color: #169458;
  color: #fff;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  width: 150px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.close-button {
  display: flex;
  width: 150px;
  padding: 7px 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #7b7b7b;
  color: #7b7b7b;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}