.table-container {
    border-radius: 10px;
    background-color: #F0F3FF;
    padding: 10px;
    padding-left: 130px;
  }
  
  .appointment-table {
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    background: #0E2970;
     box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); 
     border-radius: 16px;
    color: white;
font-size: 18px;
font-family: Kanit;
font-weight: 600;
height: 65px;
  }
  thead th {
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Kanit;
    font-weight: 600;
  }
    /* Table body styling */
    tbody tr {
        /* border-bottom: 1px solid #ddd; */
        box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); border-radius: 16px; 
        height: 60px;
      }
      
      tbody tr:nth-child(even) {
        background: rgba(255, 255, 255, 0.10);
         box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64); border-radius: 16px;
      }
  
  tbody td {
    padding: 12px;
    text-align: center;
    color: black;
font-size: 15px;
font-family: Kanit;
font-weight: 400;
text-wrap: nowrap;
  }
  
  tbody tr:hover {
    background-color: #f0f8ff;
  }
  
  .status-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
font-size: 16px;
font-family: Kanit;
font-weight: 400;
width: 110px;
/* height: 31px; */
  }
  
  .status-badge.cancelled {
    background-color: red;
  }
  .btn-action {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
  }
  
  /* Pagination button styling */
  .pagination-btn {
    background-color: white;
    color: #333;
    border: 2px solid #e0e0e0;
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-btn.next {
    background-color: #8CC152; /* Green background for next */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination-btn.prev {
    background-color: white; /* White background for previous */
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  .pagination-btn:hover:not(:disabled) {
    background-color: #6BAF40; /* Darker green hover for next */
  }
  
  .pagination-btn:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: not-allowed;
  }
  
  /* Page info styling */
  .page-info {
    display: flex;
    align-items: center;
    color: #7B7B7B;
    font-size: 16px;
    font-family: Kanit;
    font-weight: 400;
    margin-left: 20px;
  }
  
  .page-input {
    width: 40px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
    font-size: 16px;
    padding: 5px;
  }