<!-- <div>
    <div class="dialog-container" *ngIf="showDialog">
    <div class="dialog-header">
      <img src="/danger.png" alt="Warning Icon">
    </div>
    <div class="dialog-body">
      <div class="dialog-title">Appointment Locked!</div>
      <div class="dialog-message">This appointment is currently being accessed by another user. Please try again later.</div>
      <div class="dialog-actions">
        <button class="cancel-button" (click)="closeDialog()">Close</button>
      </div>
    </div>
  </div>
</div>

   -->
   <div class="overlay" *ngIf="showDialog">
    <div class="dialog-container">
        <div class="dialog-header">
            <img src="/danger.png" alt="Warning Icon">
        </div>
        <div class="dialog-body">
            <div class="dialog-title">Appointment Locked!</div>
            <div class="dialog-message">This appointment is currently being accessed by another user. Please try again later.</div>
            <div class="dialog-actions">
                <button class="cancel-button" (click)="closeDialog()">Close</button>
            </div>
        </div>
    </div>
</div>