.root-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    overflow: hidden;
}

.header_c {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: #000;
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* width: 30%; */
}

.viewmore {
    color: #6F46C1;
    font-family: Kanit;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}


.pink {
    background-color: #E07AB9;
}

.blue {
    background-color: #5BD4FF;
}

.info{
    width: 100%;
}

.info svg{
    width: 18px;
    height: auto;

}

.legends{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    margin-top: -15px;
}

.legent_items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.indicatior{
    width: 18px;
    height: 12px;
    border-radius: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  right: 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: -100px;
  bottom: 0%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  background-color: #7B7B7B;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* right: 0; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 6;
  opacity: 1;
  z-index: 100;
}

.chart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 20px;
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: 8px;
}

.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

.loading{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.common{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-wrap: nowrap;
}

/* viewmore design */

::ng-deep .custom-input-text:focus {
    outline: none;
    /* Remove default outline */
    border: 1px solid #8cc152;
    /* Green border on focus */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Stronger shadow on focus */
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

::ng-deep .p-inputtext {
    border-radius: 10px;
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::ng-deep .p-inputtext:focus {
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.p-field {
    margin: 0 10px;
}

::ng-deep .custom-calendar .p-inputtext {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    /* Rounded edges */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    border: 1px solid #e0e0e0;
    /* Light gray border */
    padding-left: 15px;
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


::ng-deep .custom-calendar .p-calendar-trigger {
    /* color: #808080; Light gray arrow */
    border-radius: 0 10px 10px 0;
    /* Right side rounded for trigger button */
    background-color: transparent;
    /* No background */
}

::ng-deep .custom-calendar .p-datepicker {
    border-radius: 10px;
    /* Rounded calendar popup */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for calendar popup */
    background-color: white;
    font-size: 12px;
    /* Smaller font for calendar */
    width: 300px;
    /* Adjusted width for calendar popup */
}

::ng-deep .custom-calendar .p-datepicker table {
    font-size: 14px;
    /* Smaller font for dates */
}

::ng-deep .custom-calendar .p-datepicker-header {
    padding: 5px;
    /* Adjust header padding */
}

::ng-deep .custom-calendar .p-datepicker .p-datepicker-prev,
::ng-deep .custom-calendar .p-datepicker .p-datepicker-next {
    height: 25px;
    /* Adjust button size */
    width: 25px;
    /* Adjust button size */
}

::ng-deep .p-datepicker table td {
    padding: 0;
}

.viewmoreComponent {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.contents {
    width: 80%;
    height: 90%;
    background-color: #fff;
    padding: 1%;
    border-radius: 10px;
}

.header {
    display: flex;
    padding: 1% 0;
    justify-content: space-between;
    font-size: 18px;
}

.viewMoreHeading {
    color: #333;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.report-filter {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}


.report-filter select {
    width: 250px;
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7 7L13 1' stroke='%23B7B7B7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

.hide {
    display: none;
}

.index {
    z-index: 50;
}

.viewChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#viewMoreGender {
    width: 60vw;
    height: 500px;
}

.viewmoreLegends {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.v_tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.v_tooltip .v_tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    /* Position above the element */
    top: 40px;
    left: 0%;
    margin-left: -60px;
    /* Adjust to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.v_tooltip:hover .v_tooltiptext {
    visibility: visible;
    opacity: 1;
    color: #000;
}

.v_tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.v_tooltip .v_tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    /* Position above the element */
    top: 40px;
    left: 0%;
    margin-left: -60px;
    /* Adjust to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.v_tooltip:hover .v_tooltiptext {
    visibility: visible;
    opacity: 1;
    color: #000;
}