::ng-deep .custom-input-text:focus {
    outline: none; /* Remove default outline */
    border: 1px solid #8cc152; /* Green border on focus */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow on focus */
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  ::ng-deep .p-inputtext {
    border-radius: 10px;
    color: #7B7B7B;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  ::ng-deep .p-inputtext:focus{
    color: #7B7B7B;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .p-field {
    margin: 0 10px;
  }
  ::ng-deep .custom-calendar .p-inputtext {
    width: 300px;
    height: 40px;
    border-radius: 10px; /* Rounded edges */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid #e0e0e0; /* Light gray border */
    padding-left: 15px;
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  
  ::ng-deep .custom-calendar .p-calendar-trigger {
    /* color: #808080; Light gray arrow */
    border-radius: 0 10px 10px 0; /* Right side rounded for trigger button */
    background-color: transparent; /* No background */
  }
  
  ::ng-deep .custom-calendar .p-datepicker {
    border-radius: 10px; /* Rounded calendar popup */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for calendar popup */
    background-color: white;    font-size: 12px; /* Smaller font for calendar */
    width: 300px; /* Adjusted width for calendar popup */
}

::ng-deep .custom-calendar .p-datepicker table {
    font-size: 14px; /* Smaller font for dates */
}

::ng-deep .custom-calendar .p-datepicker-header {
    padding: 5px; /* Adjust header padding */
}

::ng-deep .custom-calendar .p-datepicker .p-datepicker-prev,
::ng-deep .custom-calendar .p-datepicker .p-datepicker-next {
    height: 25px;  /* Adjust button size */
    width: 25px;   /* Adjust button size */
}
  ::ng-deep .p-datepicker table td {
    padding: 0;
}
.report-filter select{
    width: 250px;
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
    color: #7B7B7B;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7 7L13 1' stroke='%23B7B7B7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");    background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.cancelButton{
  display: flex;
  justify-content: right;
  padding: 10px;
}

.report-filter{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;
    padding: 40px;
}

table {
  width: 90vw;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: scroll;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

.noData{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodata{
  color: #7B7B7B;
  font-family: Kanit;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 0%; /* Position above the element */
  top: 40px;
  left: 0%;
  margin-left: -60px; /* Adjust to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  text-transform: capitalize;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}