<!-- <div class="wrapper">

    <div class="cards" style="cursor: pointer;" (click)="docAvailReport()">
        <div class="text">Doc Available</div>
        <div class="flex">
            <div class="counts_n">
                <div class="count">{{availableDoctorsToday}} / <span>{{doctorsCount}}</span></div>
                <div class="percentage green" style="visibility: hidden;"><b>+2%</b></div>
            </div>
            <div class="graph">
                <div id="chart" style="width: 20px; height: 90px;"></div>
                <div class="info tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
                    </svg>
                    <span class="tooltiptext">Total number of doctors available today.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cards" style="cursor: pointer;" (click)="docAbsentReport()">
        <div class="text">Doc Absent</div>
        <div class="flex">
            <div class="counts">
                <div class="count">{{absentDoctorsToday}} / <span>{{doctorsCount}}</span></div>
                <div class="percentage red" style="visibility: hidden;"><b>-5%</b></div>
            </div>
            <div class="graph">
                <div id="chart" style="width: 20px; height: 90px;"></div>
                <div class="info tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
                    </svg>
                    <span class="tooltiptext">Total number of doctors absent today.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="text">Occupied Rooms</div>
        <div class="flex">
            <div class="counts">
                <div class="count">{{availlableRoom}} / <span>25</span></div>
                <div class="percentage gold" style="visibility: hidden;"><b>00</b></div>
            </div>
            <div class="graph">
                <div id="chart" style="width: 20px; height: 90px;"></div>
                <div class="info tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
                    </svg>
                    <span class="tooltiptext">Total number of rooms available today.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cards" style="cursor: pointer;" (click)="checkInReportDownload()">
        <div class="text">Check-In</div>
        <div class="flex">
            <div class="counts">
                <div class="count">{{checkIn}}</div>
                <div class="percentage gold" style="visibility: hidden;"><b>00</b></div>
            </div>
            <div class="graph">
                <div id="chart" style="width: 90px; height: 90px;"></div>
                <div class="info tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
                    </svg>
                    <span class="tooltiptext">Total number of Check-In today.</span>
                </div>
            </div>
        </div>
    </div>


    <div class="cards">
        <div class="text">MHC Confirmed</div>
        <div class="flex">
            <div class="counts">
                <div class="count">{{healthCheck.liveCount}}</div>
                <div class="percentage purple"><b>{{healthCheck.percentage}}</b></div>
            </div>
            <div class="graph">
                <div id="healthCheckUp" style="width: 90px; height: 90px;"></div>
                <div class="info tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
                    </svg>
                    <span class="tooltiptext">This percentage is calculated using data from the last seven days compared
                        to the previous seven-day period.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="text">EST Confirmed</div>
        <div class="flex">
            <div class="counts">
                <div class="count">{{estimation.liveConfirmedEstimating}}</div>
                <div class="percentage yellow"><b>{{estimation.percentage}}</b></div>
            </div>
            <div class="graph">
                <div id="estimation" style="width: 90px; height: 90px;"></div>
                <div class="info tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
                    </svg>
                    <span class="tooltiptext">This percentage is calculated using data from the last seven days compared
                        to the previous seven-day period.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="round">
        <div class="today">Today</div>
        <div class="today"><i class="fa-solid fa-arrow-left"></i></div>
    </div>
</div> -->

<div class="wrapper">
    <div class="card" style="background-color: #F7FCDC;">
        <div class="icon"><img src="/total-analytics.svg" alt="" matTooltip="Total number of opd today." matTooltipPosition="above"></div>
        <div class="count">{{todayTotalOpdCount}}</div>
        <div class="text">Total OPD Today</div>
    </div>
    <div class="card pointer" style="background-color: #DCFCE7;" (click)="docAvailReport()">
        <div class="icon"><img src="/avail.svg" alt="" matTooltip="Total number of doctors available today."
                matTooltipPosition="above"></div>
        <div class="count">{{availableDoctorsToday}}/<span>{{doctorsCount}}</span></div>
        <div class="text">Doc Available</div>
    </div>

    <div class="card pointer" style="background-color: #FFE2E5;" (click)="docAbsentReport()">
        <div class="icon"><img src="/abs.svg" alt="" matTooltip="Total number of doctors absent today."
                matTooltipPosition="above"></div>
        <div class="count">{{absentDoctorsToday}}/<span>{{doctorsCount}}</span></div>
        <div class="text">Doc Absent</div>
    </div>

    <div class="card pointer" style="background-color: #FFF4DE;" (click)="doctorUnavailReport()">
        <div class="icon"><img src="/unavail.svg" alt="" matTooltip="Total number of doctors unavailabletoday."
                matTooltipPosition="above"></div>
        <div class="count">{{unavailableDoctors.length}}/<span>{{doctorsCount}}</span></div>
        <div class="text">Doc Unavailable</div>
    </div>

    <!-- <div class="card" style="background-color: #9FE4FF;">
        <div class="icon"><img src="/occupied.svg" alt="" matTooltip="Total number of rooms occupied today."
                matTooltipPosition="above"></div>
        <div class="count">{{availlableRoom}}/<span>25</span></div>
        <div class="text">Rooms Occupied</div>
    </div> -->

    <div class="card pointer" style="background-color: #E8D3FF;" (click)="showMhcTable()">
        <div class="icon"><img src="/mhc_confirmed.svg" alt=""
                matTooltip="Total number of Medical Health Check confirmed for today." matTooltipPosition="above"></div>
        <div class="count">{{healthCheck.liveCount}}</div>
        <div class="text">MHC Confirmed</div>
    </div>

    <div class="card pointer" style="background-color: #B3D5FF;" (click)="showEstimationTable()">
        <div class="icon"><img src="/est_confirmed.svg" alt=""
                matTooltip="Total number of Estimation confirmed for today." matTooltipPosition="above"></div>
        <div class="count">{{estimation.liveConfirmedEstimating}}</div>
        <div class="text">EST Confirmed</div>
    </div>

    <div class="round">
        <div class="today">Today</div>
        <div class="today"><i class="fa-solid fa-arrow-left"></i></div>
    </div>

    <div class="card pointer" style="background-color: #FF6A6F;" (click)="LeaveDoctorList()">
        <div class="icon"><img src="/leave.svg" alt=""
                matTooltip="Total number of doctors absent (click to view leave details)." matTooltipPosition="above">
        </div>
        <div class="count-white">{{leaveDoctorsCount}}</div>
        <div class="text-white">Doc Leave Details</div>
    </div>
</div>


<div *ngIf="popUpPresentReport" class="overlay">
    <div class="container">
        <div class="header">
            <div>Doctors Available</div>
            <button class="close-button" (click)="closeDocAvailReport()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="doctor-list">
            <div *ngFor="let doctor of availableDoctors let i=index" class="doctor-card">
                <div class="doctor-details">
                    <div class="doctor-id">{{i + 1}}</div>
                    <div class="doctor-name">{{doctor.name}}<span style="margin-left: 5px;"> -
                            ({{doctor.availableFrom}})</span></div>
                </div>
            </div>
            <div *ngIf="availableDoctors.length === 0">
                <div class="doctor-details doctor-card no-record">No Available Doctors to Display</div>
            </div>
        </div>
    </div>
</div>

<!-- absent doctors -->
<div *ngIf="popUpAbsentReport" class="overlay">
    <div class="container">
        <div class="header absent">
            Doctors Absent
            <button class="close-button" (click)="closeDocAbsentReport()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="doctor-list">
            <div *ngFor="let doctor of absentDoctors; let i=index" class="doctor-card">
                <div class="doctor-details">
                    <div class="doctor-id">{{i+1}}</div>
                    <div class="doctor-name">{{doctor.name}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="absentDoctors.length === 0">
            <div class="doctor-details doctor-card no-record">No Absent Doctors to Display</div>
        </div>
    </div>
</div>


<!-- <div *ngIf="popUpUnavailReport" class="overlay">
    <div class="container">
        <div class="header unavailable">
            Doctors Absent
            <button class="close-button pointer" (click)="closeDoctorUnavailReport()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="doctor-list">
            <div *ngFor="let doctor of unavailableDoctors; let i=index" class="doctor-card">
                <div class="doctor-details">
                    <div class="doctor-id">{{i+1}}</div>
                    <div class="doctor-name">{{doctor.name}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="unavailableDoctors.length === 0">
            <div class="doctor-details doctor-card no-record">No unavailable Doctors to Display</div>
        </div>
    </div>
</div> -->

<!-- unavailable report -->
<div *ngIf="popUpUnavailReport" class="overlay">
    <div class="container">
        <div class="header unavailable">
            Doctors Unavailable
            <button class="close-button" (click)="closeDoctorUnavailReport()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="doctor-list">
            <div *ngFor="let doctor of unavailableDoctors; let i=index" class="doctor-card-unavail">
                <div class="doctor-details">
                    <div class="doctor-id">{{i+1}}</div>
                    <div class="doctor-name">{{doctor.name}}</div>
                </div>
                <div class="availability-status unavailable">
                    <!-- <span *ngFor="let slot of doctor.groupedUnavailableSlots">
              {{ slot }}
            </span> -->
                    {{ doctor.groupedUnavailableSlots.join(', ') }}
                </div>

            </div>

        </div>
        <div *ngIf="unavailableDoctors.length === 0">
            <div class="doctor-details doctor-card no-record">No Unavailable Doctors to Display</div>
        </div>
    </div>
</div>


<!-- leave doctors -->
<div *ngIf="showLeaveDoctors" class="overlay">
    <div class="container">
        <div class="header absent">
            Doctors Leave
            <button class="close-button" (click)="closeLeaveDoctorList()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="doctor-list">
            <div *ngFor="let doctor of leaveDoctors; let i=index" class="doctor-card-leave">
                <div class="doctor-details">
                    <div class="doctor-id">{{i+1}}</div>
                    <div class="doctor-name">{{doctor.name}}</div>
                </div>
                <div class="availability-status absent car-margin">
                    {{ doctor.groupedUnavailableDates.join(', ') }}
                </div>
            </div>
        </div>
        <div *ngIf="leaveDoctors.length === 0">
            <div class="doctor-details doctor-card no-record">No Leave Doctors to Display</div>
        </div>
    </div>
</div>

<!-- extimation table -->
<div *ngIf="showEstimationReport" class="overlay">
    <div class="container">
        <div class="header estimation">
            Confirmed Estimations
            <button class="close-button" (click)="closeEstTable()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="doctor-list-est">
            <table>
                <thead>
                    <tr>
                        <td><b>S. No</b></td>
                        <td><b>Patient Name</b></td>
                        <td><b>Estimation Type</b></td>
                        <td><b>Estimation Status</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let est of estimationTableData; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{est.patientName}}</td>
                        <td>{{est.estimationType}}</td>
                        <td>{{est.estimationStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="leaveDoctors.length === 0">
            <div class="doctor-details doctor-card no-record">No Leave Doctors to Display</div>
        </div>
    </div>
</div>

<!-- MHC table -->
<div *ngIf="showMhcReport" class="overlay">
    <div class="container">
        <div class="header healthCheck">
            Confirmed Estimations
            <button class="close-button" (click)="closeMhcTable()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="doctor-list-est">
            <table>
                <thead>
                    <tr>
                        <td><b>S. No</b></td>
                        <td><b>Patient Name</b></td>
                        <td><b>Package</b></td>
                        <td><b>Age</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let est of mhcTableData; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{est.patientName}}</td>
                        <td>{{est.packageName}}</td>
                        <td>{{est.age}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="leaveDoctors.length === 0">
            <div class="doctor-details doctor-card no-record">No Leave Doctors to Display</div>
        </div>
    </div>
</div>