.dashboard-section {
  /* margin: 20px; */
  padding-left: 90px;
  background-color: #F0F3FF;
  padding-top: 20px;
}
.container{
  height: 100vh;
  background-color: #F0F3FF;
}

h1 {
  color: #271E4A;
font-size: 36px;
font-family: Kanit;
font-weight: 500;
  margin-bottom: 20px;
}

.stats-cards {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;;
}
/* Active card styling */
.card.active-card {
background-color: #79CFA6; /* Green background */
color: white; /* White text */
font-weight: 600;
}

.card.active-card h2, 
.card.active-card p {
color: white; /* Ensures text inside is also white */
font-weight: 600;
}
.card {
  width: 230px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* padding: 15px; */
  /* padding-bottom: 15px; */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding-left: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon img {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  padding-top: 0px;
  margin-top: 8px;
}

.card-content h2 {
  color: #7B7B7B;
  font-size: 24px;
  font-family: Kanit;
  font-weight: 400;
  margin: 0;
}

.card-content p {
  color: #271E4A;
  font-size: 14px;
  font-family: Kanit;
  font-weight: 400;
  margin: 0;
}