<div class="container">
  <p-toast></p-toast>
  <div class="dashboard-section">
    <!-- <h1>Appointments</h1> -->
    <div class="stats-cards">
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'request'}"
      (click)="showAppointmentRequests()">
        <div class="card-icon">
          <img src="/request.png" alt="OPD Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>40</h2> -->
          <p>Website Requests</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'appointment'}"
      (click)="showNewAppointmentForm()">
        <div class="card-icon">
          <img src="/new.png" alt="Doctor Available Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>42</h2> -->
          <p>New Appointment</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'confirmed'}"
      (click)="showConfirmedAppointments()">
        <div class="card-icon">
          <img src="/completed.png" alt="Appointment Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>25</h2> -->
          <p>Confirmed Appt.</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'cancelled'}"
      (click)="showCancelledAppointments()">
        <div class="card-icon">
          <img src="/cancel.png" alt="Doctor Available Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>42</h2> -->
          <p>Cancelled Appt.</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'completed'}"
      (click)="showCompletedAppointments()">
        <div class="card-icon">
          <img src="/completed-appt.png" alt="OPD Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>40</h2> -->
          <p>Completed Appt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <!-- Dropdown for Search By -->
     <div class="column-1">
      <div class="p-field p-col-2">
        <p-dropdown [options]="searchOptions" [(ngModel)]="selectedSearchOption" placeholder="Search By" class="custom-dropdown"></p-dropdown>
      </div>
      
      <div class="p-field p-col-3">
        <input pInputText [(ngModel)]="searchValue" placeholder="Anitha / 123456" class="custom-input-text" />
      </div>
        
          <!-- Search and Clear Buttons -->
          <div class="p-field p-col-2 buttons-container">
            <!-- <img (click)="onSearch()" src="/icons/search.png"> -->
            <img (click)="onClear()" class="delete" src="/icons/delete-1.png" pTooltip="Delete">
              </div>
     </div>
    
     <div class="p-field p-col-3 download" *ngIf="activeComponent==='confirmed' || activeComponent === 'completed' || activeComponent === 'cancelled'" >
      <img src="download.png" (click)="downloadData()" pTooltip="Download" >
     </div>
  
     <div class="p-field p-col-3 calendar">
        <!-- <p-calendar [(ngModel)]="selectedDate" placeholder="Calendar" class="custom-calendar"></p-calendar> -->
        <p-calendar 
        styleClass="custom-calendar" 
        [(ngModel)]="selectedDateRange"
        selectionMode="range"
        
        placeholder="Calendar"
        dateFormat="yy-mm-dd">
          <ng-template pTemplate="date" let-date>
              <span>
                  {{ date.day }}
              </span>
          </ng-template>
      </p-calendar>
        <img src="/icons/dropdown-arrow.png" class="calendar-icon">
        <svg pTooltip="Refresh" (click)="refresh()" class="reverse" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="-1.5 -2.5 24 24"><path fill="currentColor" d="m4.859 5.308l1.594-.488a1 1 0 0 1 .585 1.913l-3.825 1.17a1 1 0 0 1-1.249-.665L.794 3.413a1 1 0 1 1 1.913-.585l.44 1.441C5.555.56 10.332-1.035 14.573.703a9.38 9.38 0 0 1 5.38 5.831a1 1 0 1 1-1.905.608A7.381 7.381 0 0 0 4.86 5.308zm12.327 8.195l-1.775.443a1 1 0 1 1-.484-1.94l3.643-.909a1 1 0 0 1 .61-.08a1 1 0 0 1 .84.75l.968 3.88a1 1 0 0 1-1.94.484l-.33-1.322a9.381 9.381 0 0 1-16.384-1.796l-.26-.634a1 1 0 1 1 1.851-.758l.26.633a7.381 7.381 0 0 0 13.001 1.25z"/></svg>
      </div>
      </div>
      
      <div class="component-section">
        <app-appointment-request *ngIf="activeComponent === 'request'" [selectedDateRange]="selectedDateRange" [selectedSearchOption]="selectedSearchOption"  [selectedValue]="searchValue"></app-appointment-request>
        <app-appointment-confirm *ngIf="activeComponent === 'confirmed'" [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentConfirmComponent></app-appointment-confirm>
        <app-appointment-cancel *ngIf="activeComponent === 'cancelled'" [selectedDate]="selectedDate" [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentCancelComponent></app-appointment-cancel>
        <app-appointment-complete *ngIf="activeComponent === 'completed'"  [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentCompleteComponent></app-appointment-complete>
        <app-appointment-form *ngIf="activeComponent === 'appointment' && showForm" (submit)="showConfirmedAppointments()" (close)="closeForm()"></app-appointment-form>
        
      </div>
      
</div>


  
  