<div class="container">
  <p-toast></p-toast>
  <div class="dashboard-section">
    <!-- <h1>Appointments</h1> -->
    <div class="stats-cards">
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'request'}"
      (click)="showAppointmentRequests()">
        <div class="card-icon">
          <img src="/request.svg" alt="OPD Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>40</h2> -->
          <p>Online Requests</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'appointment'}"
      (click)="showNewAppointmentForm()">
        <div class="card-icon">
          <img src="/new.svg" alt="Doctor Available Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>42</h2> -->
          <p>New Appointment</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'confirmed'}"
      (click)="showConfirmedAppointments()">
        <div class="card-icon">
          <img src="/completed.svg" alt="Appointment Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>25</h2> -->
          <p>Confirmed Appt.</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'cancelled'}"
      (click)="showCancelledAppointments()">
        <div class="card-icon">
          <img src="/cancel.svg" alt="Doctor Available Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>42</h2> -->
          <p>Cancelled Appt.</p>
        </div>
      </div>
      <div class="card" 
      [ngClass]="{'active-card': activeComponent === 'completed'}"
      (click)="showCompletedAppointments()">
        <div class="card-icon">
          <img src="/completed-task.svg" alt="OPD Icon" />
        </div>
        <div class="card-content">
          <!-- <h2>40</h2> -->
          <p>Completed Appt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <!-- Dropdown for Search By -->
     <div class="column-1">
      <div class="p-field p-col-2">
        <p-dropdown [options]="searchOptions" [(ngModel)]="selectedSearchOption" placeholder="Search By" class="custom-dropdown"></p-dropdown>
      </div>
      
      <div class="p-field p-col-3">
        <input pInputText [(ngModel)]="searchValue" placeholder="Anitha / 123456" class="custom-input-text" />
      </div>
        
          <!-- Search and Clear Buttons -->
          <div class="p-field p-col-2 buttons-container">
            <!-- <img (click)="onSearch()" src="/icons/search.png"> -->
            <svg (click)="onClear()" class="delete" xmlns="http://www.w3.org/2000/svg" width="3.5em" height="3.5em" viewBox="0 0 24 24">
              <path fill="#fff" d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-7 11q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17M7 6v13z" />
            </svg>
            <!-- <img (click)="onClear()" class="delete" src="/icons/delete-1.png" pTooltip="Delete"> -->
              </div>
     </div>
    
    
  
     <div class="p-field p-col-3 calendar">
        <!-- <p-calendar [(ngModel)]="selectedDate" placeholder="Calendar" class="custom-calendar"></p-calendar> -->
        <p-calendar 
        styleClass="custom-calendar" 
        [(ngModel)]="selectedDateRange"
        selectionMode="range"
        
        placeholder="Calendar"
        dateFormat="yy-mm-dd">
          <ng-template pTemplate="date" let-date>
              <span>
                  {{ date.day }}
              </span>
          </ng-template>
      </p-calendar>
      <i class="fa-solid fa-angle-down calendar-icon"></i>
        <svg pTooltip="Refresh" (click)="refresh()" class="reverse" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="-1.5 -2.5 24 24"><path fill="currentColor" d="m4.859 5.308l1.594-.488a1 1 0 0 1 .585 1.913l-3.825 1.17a1 1 0 0 1-1.249-.665L.794 3.413a1 1 0 1 1 1.913-.585l.44 1.441C5.555.56 10.332-1.035 14.573.703a9.38 9.38 0 0 1 5.38 5.831a1 1 0 1 1-1.905.608A7.381 7.381 0 0 0 4.86 5.308zm12.327 8.195l-1.775.443a1 1 0 1 1-.484-1.94l3.643-.909a1 1 0 0 1 .61-.08a1 1 0 0 1 .84.75l.968 3.88a1 1 0 0 1-1.94.484l-.33-1.322a9.381 9.381 0 0 1-16.384-1.796l-.26-.634a1 1 0 1 1 1.851-.758l.26.633a7.381 7.381 0 0 0 13.001 1.25z"/></svg>

        <svg class="p-field p-col-3 download" src="download.png"   *ngIf="activeComponent==='confirmed' || activeComponent === 'completed' || activeComponent === 'cancelled'" (click)="downloadData()" pTooltip="Download" xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
          <path fill="#fff" fill-rule="evenodd" d="M3 17a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m3.293-7.707a1 1 0 0 1 1.414 0L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414" clip-rule="evenodd" />
        </svg> 

      </div>
      </div>
      
      <div class="component-section">
        <app-appointment-request *ngIf="activeComponent === 'request'" [selectedDateRange]="selectedDateRange" [selectedSearchOption]="selectedSearchOption"  [selectedValue]="searchValue"></app-appointment-request>
        <app-appointment-confirm *ngIf="activeComponent === 'confirmed'" [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentConfirmComponent></app-appointment-confirm>
        <app-appointment-cancel *ngIf="activeComponent === 'cancelled'" [selectedDate]="selectedDate" [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentCancelComponent></app-appointment-cancel>
        <app-appointment-complete *ngIf="activeComponent === 'completed'"  [selectedSearchOption]="selectedSearchOption" [selectedDateRange]="selectedDateRange" [selectedValue]="searchValue" #appointmentCompleteComponent></app-appointment-complete>
        <app-appointment-form *ngIf="activeComponent === 'appointment' && showForm" (submit)="showConfirmedAppointments()" (close)="closeForm()"></app-appointment-form>
        
      </div>
      
</div>


  
  